In [66]:
# import here
import pandas as pd
from sqlalchemy import create_engine
from references_dict import Team_Dictionary

# connect to database
engine = create_engine('mysql+pymysql://root:@localhost:3306/nfl_db')
conn = engine.connect()

In [67]:
seasons_sql = "select distinct(schedule_season) from nfl_gameinfo"
seasons = pd.read_sql_query(seasons_sql,conn,index_col=None)
seasons = seasons['schedule_season'].tolist()
seasons

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [68]:
teams_sql = "select distinct(home_abbrev) from nfl_gameinfo where schedule_season = %s"
values = (2009,)
teams = pd.read_sql_query(teams_sql,conn,params=values)
teams = teams['home_abbrev'].tolist()
teams

['PIT',
 'ARI',
 'ATL',
 'BAL',
 'CAR',
 'CIN',
 'CLE',
 'GB',
 'HOU',
 'IND',
 'NO',
 'NYG',
 'SEA',
 'TB',
 'NE',
 'OAK',
 'BUF',
 'CHI',
 'DAL',
 'DEN',
 'DET',
 'JAX',
 'KC',
 'NYJ',
 'PHI',
 'SD',
 'SF',
 'TEN',
 'WAS',
 'MIA',
 'MIN',
 'STL']

In [69]:
# test set
seasons = [2013]
teams = ['DEN']

In [70]:
for season in seasons:
    for team in teams:
        team_sql = "select game_id, \
          case \
            when home_abbrev=%s then rush_skillpoints_home \
            else rush_skillpoints_away \
          end as rush_skillpoints \
          case \
            when home_abbrev=%s then pass_skillpoints_home \
            else pass_skillpoints_away \
          end as pass_skillpoints \
          from nfl_gameinfo \
          where schedule_season=%s \
          and( home_abbrev=%s or away_abbrev=%s) \
          order by cast(schedule_week as int)"
        values = (team,season,team,team)
        team_stats = pd.read_sql_query(team_sql,conn,params=values,index_col=None)

In [72]:
i = 1
rush_avg = []
pass_avg = []
for idx,row in team_stats.iterrows():
    rush_avg.append(team_stats['rush_skillpoints'].iloc[:i].mean())
    pass_avg.append(team_stats['rush_skillpoints'].iloc[:i].mean())
    i += 1
team_stats['avg_rush_points'] = rush_avg
team_stats

         game_id  rush_skillpoints  avg_rush_points
0   2.013090e+09          9.890476         9.890476
1   2.013092e+09         27.507692        18.699084
2   2.013092e+09         27.630303        21.676157
3   2.013093e+09         24.637500        22.416493
4   2.013101e+09         26.524138        23.238022
5   2.013101e+09         33.622222        24.968722
6   2.013102e+09         15.921053        23.676198
7   2.013103e+09         20.666667        23.300006
8   2.013111e+09         12.218182        22.068693
9   2.013112e+09         25.288889        22.390712
10  2.013112e+09         39.833333        23.976405
11  2.013120e+09         18.321429        23.505157
12  2.013121e+09         32.844828        24.223593
13  2.013121e+09          3.436364        22.738791
14  2.013122e+09         17.733333        22.405094
15  2.013123e+09         16.964286        22.065043

In [2]:
gameinfo = open('game_mets.sql', 'r')
df = pd.read_sql_query(gameinfo.read(),conn, index_col='game_id')
df.head()

,spread_favorite,over_under_line,home_favorite,spread_result,OU_result,fav_rush_yds,fav_rush_att,fav_rush_tds,fav_short_pass_yds,fav_deep_pass_yds,...,und_rush_yds,und_rush_att,und_rush_tds,und_short_pass_yds,und_deep_pass_yds,und_pass_tds,und_pass_att,und_completions,und_sacked,und_interceptions
game_id,,,,,,,,,,,,,,,,,,,,,
2.009091e+09,-6.5,35,1,-1,-1,36.0,23.0,0.0,218.0,145.0,...,86.0,25.0,0.0,152.0,92.0,1.0,36.0,22.0,1.0,1.0
2.009091e+09,-4.5,45,1,-1,-1,40.0,17.0,0.0,223.0,65.0,...,21.0,25.0,1.0,159.0,50.0,1.0,35.0,18.0,4.0,0.0
2.009091e+09,-4.0,44.5,1,1,-1,72.0,24.0,0.0,207.0,22.0,...,96.0,22.0,0.0,139.0,37.0,1.0,33.0,21.0,4.0,1.0
2.009091e+09,-13.0,36.5,1,1,1,198.0,41.0,2.0,195.0,112.0,...,29.0,17.0,0.0,127.0,50.0,2.0,27.0,16.0,3.0,0.0
2.009091e+09,-2.5,43.5,0,1,1,186.0,31.0,1.0,102.0,0.0,...,87.0,29.0,1.0,94.0,39.0,0.0,39.0,14.0,5.0,5.0