In [1]:
# import here
import pandas as pd
from sqlalchemy import create_engine
from references_dict import Team_Dictionary

# connect to database
kaggle_engine = create_engine('mysql+pymysql://root:@localhost:3306/kaggle')
kaggle_conn = kaggle_engine.connect()
nfldb_engine = create_engine('mysql+pymysql://root:@localhost:3306/nfl_db')
nfldb_conn = nfldb_engine.connect()
file = ("D:\\NFLDB\\game_info.csv")

# trim csv file to relevant stats for weeks 1-16, 2009-2018
df = pd.read_csv(file)

# drop playoff weeks
indexNames = df[ df['schedule_playoff'] == True ].index
df.drop(indexNames,inplace=True)

# drop stats older than 2009
indexNames = df[ df['schedule_season'] < 2009 ].index
df.drop(indexNames,inplace=True)

In [8]:
def get_home_favorite(row):
	home_team = row['team_home']
	home_abbrev = Team_Dictionary().kaggle_games_abbrev[home_team]
	if home_abbrev == row['team_favorite_id']:
		return 1
	else:
		return 0

def get_spread_result(row):
    score_fav = 0
    score_und = 0
    spread = row['spread_favorite']*-1
    if(row['home_favorite']==1):
        score_fav = row['score_home']
        score_und = row['score_away']
    else:
        score_fav = row['score_away']
        score_und = row['score_home']
    diff = score_fav-score_und
    if( diff > spread ):
        return 1
    elif( diff < spread ):
        return -1
    else:
        return 0

def get_OU_result(row):
    OU = float(row['over_under_line'])
    total = row['score_home']+row['score_away']
    if( total > OU ):
        return 1
    elif( total < OU ):
        return -1
    else:
        return 0

def get_index(row):
    date = row['schedule_date']
    comps = date.split('/')
    date = comps[2]+'-'+comps[0]+'-'+comps[1]
    return date+Team_Dictionary().kaggle_games_abbrev[row['team_home']]

# # generate metrics for dataset, set index
df['home_favorite'] = df.apply (lambda row: get_home_favorite(row), axis=1)
df['spread_result'] = df.apply(lambda row: get_spread_result(row),axis=1)
df['OU_result'] = df.apply(lambda row: get_OU_result(row),axis=1)
df['idx'] = df.apply(lambda row: get_index(row),axis=1)
df.set_index('idx',inplace=True)

def get_pbpindex(row):
    team_dict = dict([[v,k] for k,v in Team_Dictionary().kaggle_plays_abbrev.items()])
    team_name = team_dict[row['home_team']]
    team_name = Team_Dictionary().kaggle_games_abbrev[team_name]
    comps = row['game_date'].split('/')
    print(row,comps)
    date = comps[2]+'-'+comps[0]+'-'+comps[1]
    idx = date+team_name
    idx = row['game_date']+team_name
    return idx

In [9]:
# sql statement for getting gameids
sql = "select distinct(pbp.game_id) as game_id, pbp.home_team as home_team, pbp.game_date as game_date \
       from nfl_pbp pbp \
       order by pbp.game_id"
df_gameids = pd.read_sql_query(sql, kaggle_conn, index_col=None)
df_gameids['idx'] = df_gameids.apply(lambda row: get_pbpindex(row),axis=1)
df_gameids.head()

game_id      2009091000
home_team           PIT
game_date     9/10/2009
Name: 0, dtype: object ['9', '10', '2009']
game_id      2009091300
home_team           ATL
game_date     9/13/2009
Name: 1, dtype: object ['9', '13', '2009']
game_id      2009091301
home_team           BAL
game_date     9/13/2009
Name: 2, dtype: object ['9', '13', '2009']
game_id      2009091302
home_team           CAR
game_date     9/13/2009
Name: 3, dtype: object ['9', '13', '2009']
game_id      2009091303
home_team           CIN
game_date     9/13/2009
Name: 4, dtype: object ['9', '13', '2009']
game_id      2009091304
home_team           CLE
game_date     9/13/2009
Name: 5, dtype: object ['9', '13', '2009']
game_id      2009091305
home_team           HOU
game_date     9/13/2009
Name: 6, dtype: object ['9', '13', '2009']
game_id      2009091306
home_team           IND
game_date     9/13/2009
Name: 7, dtype: object ['9', '13', '2009']
game_id      2009091307
home_team            NO
game_date     9/13/2009
Name: 8, dtype: object ['9', '13', '2009']
game_id      2009091308
home_team            TB
game_date     9/13/2009
Name: 9, dtype: object ['9', '13', '2009']
game_id      2009091309
home_team           ARI
game_date     9/13/2009
Name: 10, dtype: object ['9', '13', '2009']
game_id      2009091310
home_team           NYG
game_date     9/13/2009
Name: 11, dtype: object ['9', '13', '2009']
game_id      2009091311
home_team           SEA
game_date     9/13/2009
Name: 12, dtype: object ['9', '13', '2009']
game_id      2009091312
home_team            GB
game_date     9/13/2009
Name: 13, dtype: object ['9', '13', '2009']
game_id      2009091400
home_team            NE
game_date     9/14/2009
Name: 14, dtype: object ['9', '14', '2009']
game_id      2009091401
home_team           OAK
game_date     9/14/2009
Name: 15, dtype: object ['9', '14', '2009']
game_id      2009092000
home_team           ATL
game_date     9/20/2009
Name: 16, dtype: object ['9', '20', '2009']
game_id      2009092001
home_team           DET
game_date     9/20/2009
Name: 17, dtype: object ['9', '20', '2009']
game_id      2009092002
home_team            GB
game_date     9/20/2009
Name: 18, dtype: object ['9', '20', '2009']
game_id      2009092003
home_team           JAX
game_date     9/20/2009
Name: 19, dtype: object ['9', '20', '2009']
game_id      2009092004
home_team            KC
game_date     9/20/2009
Name: 20, dtype: object ['9', '20', '2009']
game_id      2009092005
home_team           NYJ
game_date     9/20/2009
Name: 21, dtype: object ['9', '20', '2009']
game_id      2009092006
home_team           PHI
game_date     9/20/2009
Name: 22, dtype: object ['9', '20', '2009']
game_id      2009092007
home_team           TEN
game_date     9/20/2009
Name: 23, dtype: object ['9', '20', '2009']
game_id      2009092008
home_team           WAS
game_date     9/20/2009
Name: 24, dtype: object ['9', '20', '2009']
game_id      2009092009
home_team           BUF
game_date     9/20/2009
Name: 25, dtype: object ['9', '20', '2009']
game_id      2009092010
home_team            SF
game_date     9/20/2009
Name: 26, dtype: object ['9', '20', '2009']
game_id      2009092011
home_team           CHI
game_date     9/20/2009
Name: 27, dtype: object ['9', '20', '2009']
game_id      2009092012
home_team           DEN
game_date     9/20/2009
Name: 28, dtype: object ['9', '20', '2009']
game_id      2009092013
home_team            SD
game_date     9/20/2009
Name: 29, dtype: object ['9', '20', '2009']
game_id      2009092014
home_team           DAL
game_date     9/20/2009
Name: 30, dtype: object ['9', '20', '2009']
game_id      2009092100
home_team           MIA
game_date     9/21/2009
Name: 31, dtype: object ['9', '21', '2009']
game_id      2009092700
home_team           BAL
game_date     9/27/2009
Name: 32, dtype: object ['9', '27', '2009']
game_id      2009092701
home_team           CIN
game_date     9/27/2009
Name: 33, dtype: object ['9', '27', '2009']
game_id      2009092702
home_team           DET
game_date     9/27/2009
Name: 34, dtype: object ['9', '27', '2009']
game_id      2009092703
home_team           HOU
game_date     9/27/2009
Name: 35, dtype: object ['9', '27', '2009']
game_id      2009092704
home_team           MIN
game_date     9/27/2009
Name: 36, dtype: object ['9', '27', '2009']
game_id      2009092705
home_team            NE
game_date     9/27/2009
Name: 37, dtype: object ['9', '27', '2009']
game_id      2009092706
home_team           PHI
game_date     9/27/2009
Name: 38, dtype: object ['9', '27', '2009']
game_id      2009092707
home_team           STL
game_date     9/27/2009
Name: 39, dtype: object ['9', '27', '2009']
game_id      2009092708
home_team            TB
game_date     9/27/2009
Name: 40, dtype: object ['9', '27', '2009']
game_id      2009092709
home_team           BUF
game_date     9/27/2009
Name: 41, dtype: object ['9', '27', '2009']
game_id      2009092710
home_team           SEA
game_date     9/27/2009
Name: 42, dtype: object ['9', '27', '2009']
game_id      2009092711
home_team           NYJ
game_date     9/27/2009
Name: 43, dtype: object ['9', '27', '2009']
game_id      2009092712
home_team           OAK
game_date     9/27/2009
Name: 44, dtype: object ['9', '27', '2009']
game_id      2009092713
home_team            SD
game_date     9/27/2009
Name: 45, dtype: object ['9', '27', '2009']
game_id      2009092714
home_team           ARI
game_date     9/27/2009
Name: 46, dtype: object ['9', '27', '2009']
game_id      2009092800
home_team           DAL
game_date     9/28/2009
Name: 47, dtype: object ['9', '28', '2009']
game_id      2009100400
home_team           CHI
game_date     10/4/2009
Name: 48, dtype: object ['10', '4', '2009']
game_id      2009100401
home_team           CLE
game_date     10/4/2009
Name: 49, dtype: object ['10', '4', '2009']
game_id      2009100402
home_team           HOU
game_date     10/4/2009
Name: 50, dtype: object ['10', '4', '2009']
game_id      2009100403
home_team           IND
game_date     10/4/2009
Name: 51, dtype: object ['10', '4', '2009']
game_id      2009100404
home_team           JAX
game_date     10/4/2009
Name: 52, dtype: object ['10', '4', '2009']
game_id      2009100405
home_team            KC
game_date     10/4/2009
Name: 53, dtype: object ['10', '4', '2009']
game_id      2009100406
home_team            NE
game_date     10/4/2009
Name: 54, dtype: object ['10', '4', '2009']
game_id      2009100407
home_team           WAS
game_date     10/4/2009
Name: 55, dtype: object ['10', '4', '2009']
game_id      2009100408
home_team           MIA
game_date     10/4/2009
Name: 56, dtype: object ['10', '4', '2009']
game_id      2009100409
home_team            NO
game_date     10/4/2009
Name: 57, dtype: object ['10', '4', '2009']
game_id      2009100410
home_team           DEN
game_date     10/4/2009
Name: 58, dtype: object ['10', '4', '2009']
game_id      2009100411
home_team            SF
game_date     10/4/2009
Name: 59, dtype: object ['10', '4', '2009']
game_id      2009100412
home_team           PIT
game_date     10/4/2009
Name: 60, dtype: object ['10', '4', '2009']
game_id      2009100500
home_team           MIN
game_date     10/5/2009
Name: 61, dtype: object ['10', '5', '2009']
game_id      2009101100
home_team           BAL
game_date    10/11/2009
Name: 62, dtype: object ['10', '11', '2009']
game_id      2009101101
home_team           BUF
game_date    10/11/2009
Name: 63, dtype: object ['10', '11', '2009']
game_id      2009101102
home_team           CAR
game_date    10/11/2009
Name: 64, dtype: object ['10', '11', '2009']
game_id      2009101103
home_team           DET
game_date    10/11/2009
Name: 65, dtype: object ['10', '11', '2009']
game_id      2009101104
home_team            KC
game_date    10/11/2009
Name: 66, dtype: object ['10', '11', '2009']
game_id      2009101105
home_team           NYG
game_date    10/11/2009
Name: 67, dtype: object ['10', '11', '2009']
game_id      2009101106
home_team           PHI
game_date    10/11/2009
Name: 68, dtype: object ['10', '11', '2009']
game_id      2009101107
home_team           STL
game_date    10/11/2009
Name: 69, dtype: object ['10', '11', '2009']
game_id      2009101108
home_team            SF
game_date    10/11/2009
Name: 70, dtype: object ['10', '11', '2009']
game_id      2009101109
home_team           ARI
game_date    10/11/2009
Name: 71, dtype: object ['10', '11', '2009']
game_id      2009101110
home_team           DEN
game_date    10/11/2009
Name: 72, dtype: object ['10', '11', '2009']
game_id      2009101111
home_team           SEA
game_date    10/11/2009
Name: 73, dtype: object ['10', '11', '2009']
game_id      2009101112
home_team           TEN
game_date    10/11/2009
Name: 74, dtype: object ['10', '11', '2009']
game_id      2009101200
home_team           MIA
game_date    10/12/2009
Name: 75, dtype: object ['10', '12', '2009']
game_id      2009101800
home_team           CIN
game_date    10/18/2009
Name: 76, dtype: object ['10', '18', '2009']
game_id      2009101801
home_team            GB
game_date    10/18/2009
Name: 77, dtype: object ['10', '18', '2009']
game_id      2009101802
home_team           JAX
game_date    10/18/2009
Name: 78, dtype: object ['10', '18', '2009']
game_id      2009101803
home_team           MIN
game_date    10/18/2009
Name: 79, dtype: object ['10', '18', '2009']
game_id      2009101804
home_team            NO
game_date    10/18/2009
Name: 80, dtype: object ['10', '18', '2009']
game_id      2009101805
home_team           PIT
game_date    10/18/2009
Name: 81, dtype: object ['10', '18', '2009']
game_id      2009101806
home_team            TB
game_date    10/18/2009
Name: 82, dtype: object ['10', '18', '2009']
game_id      2009101807
home_team           WAS
game_date    10/18/2009
Name: 83, dtype: object ['10', '18', '2009']
game_id      2009101808
home_team           OAK
game_date    10/18/2009
Name: 84, dtype: object ['10', '18', '2009']
game_id      2009101809
home_team           SEA
game_date    10/18/2009
Name: 85, dtype: object ['10', '18', '2009']
game_id      2009101810
home_team            NE
game_date    10/18/2009
Name: 86, dtype: object ['10', '18', '2009']
game_id      2009101811
home_team           NYJ
game_date    10/18/2009
Name: 87, dtype: object ['10', '18', '2009']
game_id      2009101812
home_team           ATL
game_date    10/18/2009
Name: 88, dtype: object ['10', '18', '2009']
game_id      2009101900
home_team            SD
game_date    10/19/2009
Name: 89, dtype: object ['10', '19', '2009']
game_id      2009102500
home_team           CIN
game_date    10/25/2009
Name: 90, dtype: object ['10', '25', '2009']
game_id      2009102501
home_team           CLE
game_date    10/25/2009
Name: 91, dtype: object ['10', '25', '2009']
game_id      2009102502
home_team           HOU
game_date    10/25/2009
Name: 92, dtype: object ['10', '25', '2009']
game_id      2009102503
home_team            KC
game_date    10/25/2009
Name: 93, dtype: object ['10', '25', '2009']
game_id      2009102504
home_team           PIT
game_date    10/25/2009
Name: 94, dtype: object ['10', '25', '2009']
game_id      2009102505
home_team           STL
game_date    10/25/2009
Name: 95, dtype: object ['10', '25', '2009']
game_id      2009102506
home_team            TB
game_date    10/25/2009
Name: 96, dtype: object ['10', '25', '2009']
game_id      2009102507
home_team           CAR
game_date    10/25/2009
Name: 97, dtype: object ['10', '25', '2009']
game_id      2009102508
home_team           OAK
game_date    10/25/2009
Name: 98, dtype: object ['10', '25', '2009']
game_id      2009102509
home_team           DAL
game_date    10/25/2009
Name: 99, dtype: object ['10', '25', '2009']
game_id      2009102510
home_team           MIA
game_date    10/25/2009
Name: 100, dtype: object ['10', '25', '2009']
game_id      2009102511
home_team           NYG
game_date    10/25/2009
Name: 101, dtype: object ['10', '25', '2009']
game_id      2009102600
home_team           WAS
game_date    10/26/2009
Name: 102, dtype: object ['10', '26', '2009']
game_id      2009110100
home_team           BAL
game_date     11/1/2009
Name: 103, dtype: object ['11', '1', '2009']
game_id      2009110101
home_team           BUF
game_date     11/1/2009
Name: 104, dtype: object ['11', '1', '2009']
game_id      2009110102
home_team           CHI
game_date     11/1/2009
Name: 105, dtype: object ['11', '1', '2009']
game_id      2009110103
home_team           DAL
game_date     11/1/2009
Name: 106, dtype: object ['11', '1', '2009']
game_id      2009110104
home_team           DET
game_date     11/1/2009
Name: 107, dtype: object ['11', '1', '2009']
game_id      2009110105
home_team            GB
game_date     11/1/2009
Name: 108, dtype: object ['11', '1', '2009']
game_id      2009110106
home_team           IND
game_date     11/1/2009
Name: 109, dtype: object ['11', '1', '2009']
game_id      2009110107
home_team           NYJ
game_date     11/1/2009
Name: 110, dtype: object ['11', '1', '2009']
game_id      2009110108
home_team            SD
game_date     11/1/2009
Name: 111, dtype: object ['11', '1', '2009']
game_id      2009110109
home_team           TEN
game_date     11/1/2009
Name: 112, dtype: object ['11', '1', '2009']
game_id      2009110110
home_team           ARI
game_date     11/1/2009
Name: 113, dtype: object ['11', '1', '2009']
game_id      2009110111
home_team           PHI
game_date     11/1/2009
Name: 114, dtype: object ['11', '1', '2009']
game_id      2009110200
home_team            NO
game_date     11/2/2009
Name: 115, dtype: object ['11', '2', '2009']
game_id      2009110800
home_team           ATL
game_date     11/8/2009
Name: 116, dtype: object ['11', '8', '2009']
game_id      2009110801
home_team           CHI
game_date     11/8/2009
Name: 117, dtype: object ['11', '8', '2009']
game_id      2009110802
home_team           CIN
game_date     11/8/2009
Name: 118, dtype: object ['11', '8', '2009']
game_id      2009110803
home_team           IND
game_date     11/8/2009
Name: 119, dtype: object ['11', '8', '2009']
game_id      2009110804
home_team           JAX
game_date     11/8/2009
Name: 120, dtype: object ['11', '8', '2009']
game_id      2009110805
home_team            NE
game_date     11/8/2009
Name: 121, dtype: object ['11', '8', '2009']
game_id      2009110806
home_team            TB
game_date     11/8/2009
Name: 122, dtype: object ['11', '8', '2009']
game_id      2009110807
home_team            NO
game_date     11/8/2009
Name: 123, dtype: object ['11', '8', '2009']
game_id      2009110808
home_team           SEA
game_date     11/8/2009
Name: 124, dtype: object ['11', '8', '2009']
game_id      2009110809
home_team           NYG
game_date     11/8/2009
Name: 125, dtype: object ['11', '8', '2009']
game_id      2009110810
home_team            SF
game_date     11/8/2009
Name: 126, dtype: object ['11', '8', '2009']
game_id      2009110811
home_team           PHI
game_date     11/8/2009
Name: 127, dtype: object ['11', '8', '2009']
game_id      2009110900
home_team           DEN
game_date     11/9/2009
Name: 128, dtype: object ['11', '9', '2009']
game_id      2009111200
home_team            SF
game_date    11/12/2009
Name: 129, dtype: object ['11', '12', '2009']
game_id      2009111500
home_team           CAR
game_date    11/15/2009
Name: 130, dtype: object ['11', '15', '2009']
game_id      2009111501
home_team           MIA
game_date    11/15/2009
Name: 131, dtype: object ['11', '15', '2009']
game_id      2009111502
home_team           MIN
game_date    11/15/2009
Name: 132, dtype: object ['11', '15', '2009']
game_id      2009111503
home_team           NYJ
game_date    11/15/2009
Name: 133, dtype: object ['11', '15', '2009']
game_id      2009111504
home_team           PIT
game_date    11/15/2009
Name: 134, dtype: object ['11', '15', '2009']
game_id      2009111505
home_team           STL
game_date    11/15/2009
Name: 135, dtype: object ['11', '15', '2009']
game_id      2009111506
home_team           TEN
game_date    11/15/2009
Name: 136, dtype: object ['11', '15', '2009']
game_id      2009111507
home_team           WAS
game_date    11/15/2009
Name: 137, dtype: object ['11', '15', '2009']
game_id      2009111508
home_team           OAK
game_date    11/15/2009
Name: 138, dtype: object ['11', '15', '2009']
game_id      2009111509
home_team           ARI
game_date    11/15/2009
Name: 139, dtype: object ['11', '15', '2009']
game_id      2009111510
home_team            GB
game_date    11/15/2009
Name: 140, dtype: object ['11', '15', '2009']
game_id      2009111511
home_team            SD
game_date    11/15/2009
Name: 141, dtype: object ['11', '15', '2009']
game_id      2009111512
home_team           IND
game_date    11/15/2009
Name: 142, dtype: object ['11', '15', '2009']
game_id      2009111600
home_team           CLE
game_date    11/16/2009
Name: 143, dtype: object ['11', '16', '2009']
game_id      2009111900
home_team           CAR
game_date    11/19/2009
Name: 144, dtype: object ['11', '19', '2009']
game_id      2009112200
home_team           BAL
game_date    11/22/2009
Name: 145, dtype: object ['11', '22', '2009']
game_id      2009112201
home_team           DAL
game_date    11/22/2009
Name: 146, dtype: object ['11', '22', '2009']
game_id      2009112202
home_team           DET
game_date    11/22/2009
Name: 147, dtype: object ['11', '22', '2009']
game_id      2009112203
home_team            GB
game_date    11/22/2009
Name: 148, dtype: object ['11', '22', '2009']
game_id      2009112204
home_team           JAX
game_date    11/22/2009
Name: 149, dtype: object ['11', '22', '2009']
game_id      2009112205
home_team            KC
game_date    11/22/2009
Name: 150, dtype: object ['11', '22', '2009']
game_id      2009112206
home_team           MIN
game_date    11/22/2009
Name: 151, dtype: object ['11', '22', '2009']
game_id      2009112207
home_team           NYG
game_date    11/22/2009
Name: 152, dtype: object ['11', '22', '2009']
game_id      2009112208
home_team            TB
game_date    11/22/2009
Name: 153, dtype: object ['11', '22', '2009']
game_id      2009112209
home_team           STL
game_date    11/22/2009
Name: 154, dtype: object ['11', '22', '2009']
game_id      2009112210
home_team           DEN
game_date    11/22/2009
Name: 155, dtype: object ['11', '22', '2009']
game_id      2009112211
home_team            NE
game_date    11/22/2009
Name: 156, dtype: object ['11', '22', '2009']
game_id      2009112212
home_team           OAK
game_date    11/22/2009
Name: 157, dtype: object ['11', '22', '2009']
game_id      2009112213
home_team           CHI
game_date    11/22/2009
Name: 158, dtype: object ['11', '22', '2009']
game_id      2009112300
home_team           HOU
game_date    11/23/2009
Name: 159, dtype: object ['11', '23', '2009']
game_id      2009112600
home_team           DET
game_date    11/26/2009
Name: 160, dtype: object ['11', '26', '2009']
game_id      2009112601
home_team           DAL
game_date    11/26/2009
Name: 161, dtype: object ['11', '26', '2009']
game_id      2009112602
home_team           DEN
game_date    11/26/2009
Name: 162, dtype: object ['11', '26', '2009']
game_id      2009112900
home_team           ATL
game_date    11/29/2009
Name: 163, dtype: object ['11', '29', '2009']
game_id      2009112901
home_team           BUF
game_date    11/29/2009
Name: 164, dtype: object ['11', '29', '2009']
game_id      2009112902
home_team           CIN
game_date    11/29/2009
Name: 165, dtype: object ['11', '29', '2009']
game_id      2009112903
home_team           HOU
game_date    11/29/2009
Name: 166, dtype: object ['11', '29', '2009']
game_id      2009112904
home_team           MIN
game_date    11/29/2009
Name: 167, dtype: object ['11', '29', '2009']
game_id      2009112905
home_team           NYJ
game_date    11/29/2009
Name: 168, dtype: object ['11', '29', '2009']
game_id      2009112906
home_team           PHI
game_date    11/29/2009
Name: 169, dtype: object ['11', '29', '2009']
game_id      2009112907
home_team           STL
game_date    11/29/2009
Name: 170, dtype: object ['11', '29', '2009']

Name: 279, dtype: object ['9', '19', '2010']
game_id      2010091908
home_team           CAR
game_date     9/19/2010
Name: 280, dtype: object ['9', '19', '2010']
game_id      2010091909
home_team           DEN
game_date     9/19/2010
Name: 281, dtype: object ['9', '19', '2010']
game_id      2010091910
home_team           OAK
game_date     9/19/2010
Name: 282, dtype: object ['9', '19', '2010']
game_id      2010091911
home_team           NYJ
game_date     9/19/2010
Name: 283, dtype: object ['9', '19', '2010']
game_id      2010091912
home_team           CIN
game_date     9/19/2010
Name: 284, dtype: object ['9', '19', '2010']
game_id      2010091913
home_team            SD
game_date     9/19/2010
Name: 285, dtype: object ['9', '19', '2010']
game_id      2010091914
home_team           IND
game_date     9/19/2010
Name: 286, dtype: object ['9', '19', '2010']
game_id      2010092000
home_team            SF
game_date     9/20/2010
Name: 287, dtype: object ['9', '20', '2010']
game_id      2010092600
home_team           NYG
game_date     9/26/2010
Name: 288, dtype: object ['9', '26', '2010']
game_id      2010092601
home_team           CAR
game_date     9/26/2010
Name: 289, dtype: object ['9', '26', '2010']
game_id      2010092602
home_team            TB
game_date     9/26/2010
Name: 290, dtype: object ['9', '26', '2010']
game_id      2010092603
home_team            NE
game_date     9/26/2010
Name: 291, dtype: object ['9', '26', '2010']
game_id      2010092604
home_team           BAL
game_date     9/26/2010
Name: 292, dtype: object ['9', '26', '2010']
game_id      2010092605
home_team           MIN
game_date     9/26/2010
Name: 293, dtype: object ['9', '26', '2010']
game_id      2010092606
home_team            NO
game_date     9/26/2010
Name: 294, dtype: object ['9', '26', '2010']
game_id      2010092607
home_team           STL
game_date     9/26/2010
Name: 295, dtype: object ['9', '26', '2010']
game_id      2010092608
home_team           HOU
game_date     9/26/2010
Name: 296, dtype: object ['9', '26', '2010']
game_id      2010092609
home_team            KC
game_date     9/26/2010
Name: 297, dtype: object ['9', '26', '2010']
game_id      2010092610
home_team           JAX
game_date     9/26/2010
Name: 298, dtype: object ['9', '26', '2010']
game_id      2010092611
home_team           DEN
game_date     9/26/2010
Name: 299, dtype: object ['9', '26', '2010']
game_id      2010092612
home_team           ARI
game_date     9/26/2010
Name: 300, dtype: object ['9', '26', '2010']
game_id      2010092613
home_team           SEA
game_date     9/26/2010
Name: 301, dtype: object ['9', '26', '2010']
game_id      2010092614
home_team           MIA
game_date     9/26/2010
Name: 302, dtype: object ['9', '26', '2010']
game_id      2010092700
home_team           CHI
game_date     9/27/2010
Name: 303, dtype: object ['9', '27', '2010']
game_id      2010100300
home_team           BUF
game_date     10/3/2010
Name: 304, dtype: object ['10', '3', '2010']
game_id      2010100301
home_team           CLE
game_date     10/3/2010
Name: 305, dtype: object ['10', '3', '2010']
game_id      2010100302
home_team           PIT
game_date     10/3/2010
Name: 306, dtype: object ['10', '3', '2010']
game_id      2010100303
home_team           TEN
game_date     10/3/2010
Name: 307, dtype: object ['10', '3', '2010']
game_id      2010100304
home_team            GB
game_date     10/3/2010
Name: 308, dtype: object ['10', '3', '2010']
game_id      2010100305
home_team           ATL
game_date     10/3/2010
Name: 309, dtype: object ['10', '3', '2010']
game_id      2010100306
home_team            NO
game_date     10/3/2010
Name: 310, dtype: object ['10', '3', '2010']
game_id      2010100307
home_team           STL
game_date     10/3/2010
Name: 311, dtype: object ['10', '3', '2010']
game_id      2010100308
home_team           JAX
game_date     10/3/2010
Name: 312, dtype: object ['10', '3', '2010']
game_id      2010100309
home_team           OAK
game_date     10/3/2010
Name: 313, dtype: object ['10', '3', '2010']
game_id      2010100310
home_team           PHI
game_date     10/3/2010
Name: 314, dtype: object ['10', '3', '2010']
game_id      2010100311
home_team            SD
game_date     10/3/2010
Name: 315, dtype: object ['10', '3', '2010']
game_id      2010100312
home_team           NYG
game_date     10/3/2010
Name: 316, dtype: object ['10', '3', '2010']
game_id      2010100400
home_team           MIA
game_date     10/4/2010
Name: 317, dtype: object ['10', '4', '2010']
game_id      2010101000
home_team           BUF
game_date    10/10/2010
Name: 318, dtype: object ['10', '10', '2010']
game_id      2010101001
home_team           BAL
game_date    10/10/2010
Name: 319, dtype: object ['10', '10', '2010']
game_id      2010101002
home_team           IND
game_date    10/10/2010
Name: 320, dtype: object ['10', '10', '2010']
game_id      2010101003
home_team           WAS
game_date    10/10/2010
Name: 321, dtype: object ['10', '10', '2010']
game_id      2010101004
home_team           DET
game_date    10/10/2010
Name: 322, dtype: object ['10', '10', '2010']
game_id      2010101005
home_team           CAR
game_date    10/10/2010
Name: 323, dtype: object ['10', '10', '2010']
game_id      2010101006
home_team           CIN
game_date    10/10/2010
Name: 324, dtype: object ['10', '10', '2010']
game_id      2010101007
home_team           CLE
game_date    10/10/2010
Name: 325, dtype: object ['10', '10', '2010']
game_id      2010101008
home_team           HOU
game_date    10/10/2010
Name: 326, dtype: object ['10', '10', '2010']
game_id      2010101009
home_team           ARI
game_date    10/10/2010
Name: 327, dtype: object ['10', '10', '2010']
game_id      2010101010
home_team           DAL
game_date    10/10/2010
Name: 328, dtype: object ['10', '10', '2010']
game_id      2010101011
home_team           OAK
game_date    10/10/2010
Name: 329, dtype: object ['10', '10', '2010']
game_id      2010101012
home_team            SF
game_date    10/10/2010
Name: 330, dtype: object ['10', '10', '2010']
game_id      2010101100
home_team           NYJ
game_date    10/11/2010
Name: 331, dtype: object ['10', '11', '2010']
game_id      2010101700
home_team            GB
game_date    10/17/2010
Name: 332, dtype: object ['10', '17', '2010']
game_id      2010101701
home_team           STL
game_date    10/17/2010
Name: 333, dtype: object ['10', '17', '2010']
game_id      2010101702
home_team            NE
game_date    10/17/2010
Name: 334, dtype: object ['10', '17', '2010']
game_id      2010101703
home_team           PIT
game_date    10/17/2010
Name: 335, dtype: object ['10', '17', '2010']
game_id      2010101704
home_team           HOU
game_date    10/17/2010
Name: 336, dtype: object ['10', '17', '2010']
game_id      2010101705
home_team           NYG
game_date    10/17/2010
Name: 337, dtype: object ['10', '17', '2010']
game_id      2010101706
home_team           PHI
game_date    10/17/2010
Name: 338, dtype: object ['10', '17', '2010']
game_id      2010101707
home_team           CHI
game_date    10/17/2010
Name: 339, dtype: object ['10', '17', '2010']
game_id      2010101708
home_team            TB
game_date    10/17/2010
Name: 340, dtype: object ['10', '17', '2010']
game_id      2010101709
home_team           DEN
game_date    10/17/2010
Name: 341, dtype: object ['10', '17', '2010']
game_id      2010101710
home_team            SF
game_date    10/17/2010
Name: 342, dtype: object ['10', '17', '2010']
game_id      2010101711
home_team           MIN
game_date    10/17/2010
Name: 343, dtype: object ['10', '17', '2010']
game_id      2010101712
home_team           WAS
game_date    10/17/2010
Name: 344, dtype: object ['10', '17', '2010']
game_id      2010101800
home_team           JAX
game_date    10/18/2010
Name: 345, dtype: object ['10', '18', '2010']
game_id      2010102400
home_team           ATL
game_date    10/24/2010
Name: 346, dtype: object ['10', '24', '2010']
game_id      2010102401
home_team           MIA
game_date    10/24/2010
Name: 347, dtype: object ['10', '24', '2010']
game_id      2010102402
home_team           BAL
game_date    10/24/2010
Name: 348, dtype: object ['10', '24', '2010']
game_id      2010102403
home_team            KC
game_date    10/24/2010
Name: 349, dtype: object ['10', '24', '2010']
game_id      2010102404
home_team            NO
game_date    10/24/2010
Name: 350, dtype: object ['10', '24', '2010']
game_id      2010102405
home_team           CHI
game_date    10/24/2010
Name: 351, dtype: object ['10', '24', '2010']
game_id      2010102406
home_team           CAR
game_date    10/24/2010
Name: 352, dtype: object ['10', '24', '2010']
game_id      2010102407
home_team            TB
game_date    10/24/2010
Name: 353, dtype: object ['10', '24', '2010']
game_id      2010102408
home_team           TEN
game_date    10/24/2010
Name: 354, dtype: object ['10', '24', '2010']
game_id      2010102409
home_team           SEA
game_date    10/24/2010
Name: 355, dtype: object ['10', '24', '2010']
game_id      2010102410
home_team            SD
game_date    10/24/2010
Name: 356, dtype: object ['10', '24', '2010']
game_id      2010102411
home_team           DEN
game_date    10/24/2010
Name: 357, dtype: object ['10', '24', '2010']
game_id      2010102412
home_team            GB
game_date    10/24/2010
Name: 358, dtype: object ['10', '24', '2010']
game_id      2010102500
home_team           DAL
game_date    10/25/2010
Name: 359, dtype: object ['10', '25', '2010']
game_id      2010103100
home_team            SF
game_date    10/31/2010
Name: 360, dtype: object ['10', '31', '2010']
game_id      2010103101
home_team           DAL
game_date    10/31/2010
Name: 361, dtype: object ['10', '31', '2010']
game_id      2010103102
home_team           CIN
game_date    10/31/2010
Name: 362, dtype: object ['10', '31', '2010']
game_id      2010103103
home_team            KC
game_date    10/31/2010
Name: 363, dtype: object ['10', '31', '2010']
game_id      2010103104
home_team           DET
game_date    10/31/2010
Name: 364, dtype: object ['10', '31', '2010']
game_id      2010103105
home_team           STL
game_date    10/31/2010
Name: 365, dtype: object ['10', '31', '2010']
game_id      2010103106
home_team           NYJ
game_date    10/31/2010
Name: 366, dtype: object ['10', '31', '2010']
game_id      2010103107
home_team            SD
game_date    10/31/2010
Name: 367, dtype: object ['10', '31', '2010']
game_id      2010103108
home_team            NE
game_date    10/31/2010
Name: 368, dtype: object ['10', '31', '2010']
game_id      2010103109
home_team           ARI
game_date    10/31/2010
Name: 369, dtype: object ['10', '31', '2010']
game_id      2010103110
home_team           OAK
game_date    10/31/2010
Name: 370, dtype: object ['10', '31', '2010']
game_id      2010103111
home_team            NO
game_date    10/31/2010
Name: 371, dtype: object ['10', '31', '2010']
game_id      2010110100
home_team           IND
game_date     11/1/2010
Name: 372, dtype: object ['11', '1', '2010']
game_id      2010110700
home_team           DET
game_date     11/7/2010
Name: 373, dtype: object ['11', '7', '2010']
game_id      2010110701
home_team           BAL
game_date     11/7/2010
Name: 374, dtype: object ['11', '7', '2010']
game_id      2010110702
home_team           CLE
game_date     11/7/2010
Name: 375, dtype: object ['11', '7', '2010']
game_id      2010110703
home_team           HOU
game_date     11/7/2010
Name: 376, dtype: object ['11', '7', '2010']
game_id      2010110704
home_team           BUF
game_date     11/7/2010
Name: 377, dtype: object ['11', '7', '2010']
game_id      2010110705
home_team           MIN
game_date     11/7/2010
Name: 378, dtype: object ['11', '7', '2010']
game_id      2010110706
home_team           ATL
game_date     11/7/2010
Name: 379, dtype: object ['11', '7', '2010']
game_id      2010110707
home_team           CAR
game_date     11/7/2010
Name: 380, dtype: object ['11', '7', '2010']
game_id      2010110708
home_team           SEA
game_date     11/7/2010
Name: 381, dtype: object ['11', '7', '2010']
game_id      2010110709
home_team           PHI
game_date     11/7/2010
Name: 382, dtype: object ['11', '7', '2010']
game_id      2010110710
home_team           OAK
game_date     11/7/2010
Name: 383, dtype: object ['11', '7', '2010']
game_id      2010110711
home_team            GB
game_date     11/7/2010
Name: 384, dtype: object ['11', '7', '2010']
game_id      2010110800
home_team           CIN
game_date     11/8/2010
Name: 385, dtype: object ['11', '8', '2010']
game_id      2010111100
home_team           ATL
game_date    11/11/2010
Name: 386, dtype: object ['11', '11', '2010']
game_id      2010111400
home_team           MIA
game_date    11/14/2010
Name: 387, dtype: object ['11', '14', '2010']
game_id      2010111401
home_team           CLE
game_date    11/14/2010
Name: 388, dtype: object ['11', '14', '2010']
game_id      2010111402
home_team           IND
game_date    11/14/2010
Name: 389, dtype: object ['11', '14', '2010']
game_id      2010111403
home_team           JAX
game_date    11/14/2010
Name: 390, dtype: object ['11', '14', '2010']
game_id      2010111404
home_team           CHI
game_date    11/14/2010
Name: 391, dtype: object ['11', '14', '2010']
game_id      2010111405
home_team            TB
game_date    11/14/2010
Name: 392, dtype: object ['11', '14', '2010']
game_id      2010111406
home_team           BUF
game_date    11/14/2010
Name: 393, dtype: object ['11', '14', '2010']
game_id      2010111407
home_team           DEN
game_date    11/14/2010
Name: 394, dtype: object ['11', '14', '2010']
game_id      2010111408
home_team           NYG
game_date    11/14/2010
Name: 395, dtype: object ['11', '14', '2010']
game_id      2010111409
home_team           ARI
game_date    11/14/2010
Name: 396, dtype: object ['11', '14', '2010']
game_id      2010111410
home_team            SF
game_date    11/14/2010
Name: 397, dtype: object ['11', '14', '2010']
game_id      2010111411
home_team           PIT
game_date    11/14/2010
Name: 398, dtype: object ['11', '14', '2010']
game_id      2010111500
home_team           WAS
game_date    11/15/2010
Name: 399, dtype: object ['11', '15', '2010']
game_id      2010111800
home_team           MIA
game_date    11/18/2010
Name: 400, dtype: object ['11', '18', '2010']
game_id      2010112100
home_team           CAR
game_date    11/21/2010
Name: 401, dtype: object ['11', '21', '2010']
game_id      2010112101
home_team           NYJ
game_date    11/21/2010
Name: 402, dtype: object ['11', '21', '2010']
game_id      2010112102
home_team           CIN
game_date    11/21/2010
Name: 403, dtype: object ['11', '21', '2010']
game_id      2010112103
home_team           PIT
game_date    11/21/2010
Name: 404, dtype: object ['11', '21', '2010']
game_id      2010112104
home_team           JAX
game_date    11/21/2010
Name: 405, dtype: object ['11', '21', '2010']
game_id      2010112105
home_team           DAL
game_date    11/21/2010
Name: 406, dtype: object ['11', '21', '2010']
game_id      2010112106
home_team           MIN
game_date    11/21/2010
Name: 407, dtype: object ['11', '21', '2010']
game_id      2010112107
home_team            NO
game_date    11/21/2010
Name: 408, dtype: object ['11', '21', '2010']
game_id      2010112108
home_team           TEN
game_date    11/21/2010
Name: 409, dtype: object ['11', '21', '2010']
game_id      2010112109
home_team            KC
game_date    11/21/2010
Name: 410, dtype: object ['11', '21', '2010']
game_id      2010112110
home_team           STL
game_date    11/21/2010
Name: 411, dtype: object ['11', '21', '2010']
game_id      2010112111
home_team            SF
game_date    11/21/2010
Name: 412, dtype: object ['11', '21', '2010']
game_id      2010112112
home_team            NE
game_date    11/21/2010
Name: 413, dtype: object ['11', '21', '2010']
game_id      2010112113
home_team           PHI
game_date    11/21/2010
Name: 414, dtype: object ['11', '21', '2010']
game_id      2010112200
home_team            SD
game_date    11/22/2010
Name: 415, dtype: object ['11', '22', '2010']
game_id      2010112500
home_team           DET
game_date    11/25/2010
Name: 416, dtype: object ['11', '25', '2010']
game_id      2010112501
home_team           DAL
game_date    11/25/2010
Name: 417, dtype: object ['11', '25', '2010']
game_id      2010112502
home_team           NYJ
game_date    11/25/2010
Name: 418, dtype: object ['11', '25', '2010']
game_id      2010112800
home_team           NYG
game_date    11/28/2010
Name: 419, dtype: object ['11', '28', '2010']
game_id      2010112801
home_team           BUF
game_date    11/28/2010
Name: 420, dtype: object ['11', '28', '2010']
game_id      2010112802
home_team           HOU
game_date    11/28/2010
Name: 421, dtype: object ['11', '28', '2010']
game_id      2010112803
home_team           WAS
game_date    11/28/2010
Name: 422, dtype: object ['11', '28', '2010']
game_id      2010112804
home_team           CHI
game_date    11/28/2010
Name: 423, dtype: object ['11', '28', '2010']
game_id      2010112805
home_team           ATL
game_date    11/28/2010
Name: 424, dtype: object ['11', '28', '2010']
game_id      2010112806
home_team           BAL
game_date    11/28/2010
Name: 425, dtype: object ['11', '28', '2010']
game_id      2010112807
home_team           CLE
game_date    11/28/2010
Name: 426, dtype: object ['11', '28', '2010']
game_id      2010112808
home_team           SEA
game_date    11/28/2010
Name: 427, dtype: object ['11', '28', '2010']
game_id      2010112809
home_team           OAK
game_date    11/28/2010
Name: 428, dtype: object ['11', '28', '2010']
game_id      2010112810
home_team           DEN
game_date    11/28/2010
Name: 429, dtype: object ['11', '28', '2010']
game_id      2010112811
home_team           IND
game_date    11/28/2010
Name: 430, dtype: object ['11', '28', '2010']
game_id      2010112900
home_team           ARI
game_date    11/29/2010
Name: 431, dtype: object ['11', '29', '2010']
game_id      2010120200
home_team           PHI
game_date     12/2/2010
Name: 432, dtype: object ['12', '2', '2010']
game_id      2010120500
home_team           MIN
game_date     12/5/2010
Name: 433, dtype: object ['12', '5', '2010']
game_id      2010120501
home_team           MIA
game_date     12/5/2010
Name: 434, dtype: object ['12', '5', '2010']
game_id      2010120502
home_team           TEN
game_date     12/5/2010
Name: 435, dtype: object ['12', '5', '2010']
game_id      2010120503
home_team            KC
game_date     12/5/2010
Name: 436, dtype: object ['12', '5', '2010']
game_id      2010120504
home_team           NYG
game_date     12/5/2010
Name: 437, dtype: object ['12', '5', '2010']
game_id      2010120505
home_team           DET
game_date     12/5/2010
Name: 438, dtype: object ['12', '5', '2010']
game_id      2010120506
home_team            GB
game_date     12/5/2010
Name: 439, dtype: object ['12', '5', '2010']
game_id      2010120507
home_team            TB
game_date     12/5/2010
Name: 440, dtype: object ['12', '5', '2010']
game_id      2010120508
home_team           CIN
game_date     12/5/2010
Name: 441, dtype: object ['12', '5', '2010']
game_id      2010120509
home_team            SD
game_date     12/5/2010
Name: 442, dtype: object ['12', '5', '2010']
game_id      2010120510
home_team           IND
game_date     12/5/2010
Name: 443, dtype: object ['12', '5', '2010']
game_id      2010120511
home_team           ARI
game_date     12/5/2010
Name: 444, dtype: object ['12', '5', '2010']
game_id      2010120512
home_team           SEA
game_date     12/5/2010
Name: 445, dtype: object ['12', '5', '2010']
game_id      2010120513
home_team           BAL
game_date     12/5/2010
Name: 446, dtype: object ['12', '5', '2010']
game_id      2010120600
home_team            NE
game_date     12/6/2010
Name: 447, dtype: object ['12', '6', '2010']
game_id      2010120900
home_team           TEN
game_date     12/9/2010
Name: 448, dtype: object ['12', '9', '2010']
game_id      2010121200
home_team           CHI
game_date    12/12/2010

Name: 549, dtype: object ['9', '25', '2011']
game_id      2011092506
home_team           MIN
game_date     9/25/2011
Name: 550, dtype: object ['9', '25', '2011']
game_id      2011092507
home_team           CIN
game_date     9/25/2011
Name: 551, dtype: object ['9', '25', '2011']
game_id      2011092508
home_team           OAK
game_date     9/25/2011
Name: 552, dtype: object ['9', '25', '2011']
game_id      2011092509
home_team            SD
game_date     9/25/2011
Name: 553, dtype: object ['9', '25', '2011']
game_id      2011092510
home_team           STL
game_date     9/25/2011
Name: 554, dtype: object ['9', '25', '2011']
game_id      2011092511
home_team           CHI
game_date     9/25/2011
Name: 555, dtype: object ['9', '25', '2011']
game_id      2011092512
home_team           SEA
game_date     9/25/2011
Name: 556, dtype: object ['9', '25', '2011']
game_id      2011092513
home_team            TB
game_date     9/25/2011
Name: 557, dtype: object ['9', '25', '2011']
game_id      2011092514
home_team           IND
game_date     9/25/2011
Name: 558, dtype: object ['9', '25', '2011']
game_id      2011092600
home_team           DAL
game_date     9/26/2011
Name: 559, dtype: object ['9', '26', '2011']
game_id      2011100200
home_team           CIN
game_date     10/2/2011
Name: 560, dtype: object ['10', '2', '2011']
game_id      2011100201
home_team           CLE
game_date     10/2/2011
Name: 561, dtype: object ['10', '2', '2011']
game_id      2011100202
home_team           HOU
game_date     10/2/2011
Name: 562, dtype: object ['10', '2', '2011']
game_id      2011100203
home_team           DAL
game_date     10/2/2011
Name: 563, dtype: object ['10', '2', '2011']
game_id      2011100204
home_team           PHI
game_date     10/2/2011
Name: 564, dtype: object ['10', '2', '2011']
game_id      2011100205
home_team           CHI
game_date     10/2/2011
Name: 565, dtype: object ['10', '2', '2011']
game_id      2011100206
home_team           STL
game_date     10/2/2011
Name: 566, dtype: object ['10', '2', '2011']
game_id      2011100207
home_team           JAX
game_date     10/2/2011
Name: 567, dtype: object ['10', '2', '2011']
game_id      2011100208
home_team            KC
game_date     10/2/2011
Name: 568, dtype: object ['10', '2', '2011']
game_id      2011100209
home_team           ARI
game_date     10/2/2011
Name: 569, dtype: object ['10', '2', '2011']
game_id      2011100210
home_team           SEA
game_date     10/2/2011
Name: 570, dtype: object ['10', '2', '2011']
game_id      2011100211
home_team            GB
game_date     10/2/2011
Name: 571, dtype: object ['10', '2', '2011']
game_id      2011100212
home_team           OAK
game_date     10/2/2011
Name: 572, dtype: object ['10', '2', '2011']
game_id      2011100213
home_team            SD
game_date     10/2/2011
Name: 573, dtype: object ['10', '2', '2011']
game_id      2011100214
home_team           BAL
game_date     10/2/2011
Name: 574, dtype: object ['10', '2', '2011']
game_id      2011100300
home_team            TB
game_date     10/3/2011
Name: 575, dtype: object ['10', '3', '2011']
game_id      2011100900
home_team           PIT
game_date     10/9/2011
Name: 576, dtype: object ['10', '9', '2011']
game_id      2011100901
home_team           HOU
game_date     10/9/2011
Name: 577, dtype: object ['10', '9', '2011']
game_id      2011100902
home_team           IND
game_date     10/9/2011
Name: 578, dtype: object ['10', '9', '2011']
game_id      2011100903
home_team           JAX
game_date     10/9/2011
Name: 579, dtype: object ['10', '9', '2011']
game_id      2011100904
home_team           NYG
game_date     10/9/2011
Name: 580, dtype: object ['10', '9', '2011']
game_id      2011100905
home_team           MIN
game_date     10/9/2011
Name: 581, dtype: object ['10', '9', '2011']
game_id      2011100906
home_team           CAR
game_date     10/9/2011
Name: 582, dtype: object ['10', '9', '2011']
game_id      2011100907
home_team           BUF
game_date     10/9/2011
Name: 583, dtype: object ['10', '9', '2011']
game_id      2011100908
home_team            SF
game_date     10/9/2011
Name: 584, dtype: object ['10', '9', '2011']
game_id      2011100909
home_team            NE
game_date     10/9/2011
Name: 585, dtype: object ['10', '9', '2011']
game_id      2011100910
home_team           DEN
game_date     10/9/2011
Name: 586, dtype: object ['10', '9', '2011']
game_id      2011100911
home_team           ATL
game_date     10/9/2011
Name: 587, dtype: object ['10', '9', '2011']
game_id      2011101000
home_team           DET
game_date    10/10/2011
Name: 588, dtype: object ['10', '10', '2011']
game_id      2011101600
home_team           NYG
game_date    10/16/2011
Name: 589, dtype: object ['10', '16', '2011']
game_id      2011101601
home_team           CIN
game_date    10/16/2011
Name: 590, dtype: object ['10', '16', '2011']
game_id      2011101602
home_team           PIT
game_date    10/16/2011
Name: 591, dtype: object ['10', '16', '2011']
game_id      2011101603
home_team           WAS
game_date    10/16/2011
Name: 592, dtype: object ['10', '16', '2011']
game_id      2011101604
home_team           DET
game_date    10/16/2011
Name: 593, dtype: object ['10', '16', '2011']
game_id      2011101605
home_team            GB
game_date    10/16/2011
Name: 594, dtype: object ['10', '16', '2011']
game_id      2011101606
home_team           ATL
game_date    10/16/2011
Name: 595, dtype: object ['10', '16', '2011']
game_id      2011101607
home_team           OAK
game_date    10/16/2011
Name: 596, dtype: object ['10', '16', '2011']
game_id      2011101608
home_team           BAL
game_date    10/16/2011
Name: 597, dtype: object ['10', '16', '2011']
game_id      2011101609
home_team            TB
game_date    10/16/2011
Name: 598, dtype: object ['10', '16', '2011']
game_id      2011101610
home_team            NE
game_date    10/16/2011
Name: 599, dtype: object ['10', '16', '2011']
game_id      2011101611
home_team           CHI
game_date    10/16/2011
Name: 600, dtype: object ['10', '16', '2011']
game_id      2011101700
home_team           NYJ
game_date    10/17/2011
Name: 601, dtype: object ['10', '17', '2011']
game_id      2011102300
home_team           MIA
game_date    10/23/2011
Name: 602, dtype: object ['10', '23', '2011']
game_id      2011102301
home_team           NYJ
game_date    10/23/2011
Name: 603, dtype: object ['10', '23', '2011']
game_id      2011102302
home_team           TEN
game_date    10/23/2011
Name: 604, dtype: object ['10', '23', '2011']
game_id      2011102303
home_team           DET
game_date    10/23/2011
Name: 605, dtype: object ['10', '23', '2011']
game_id      2011102304
home_team           CAR
game_date    10/23/2011
Name: 606, dtype: object ['10', '23', '2011']
game_id      2011102305
home_team            TB
game_date    10/23/2011
Name: 607, dtype: object ['10', '23', '2011']
game_id      2011102306
home_team           CLE
game_date    10/23/2011
Name: 608, dtype: object ['10', '23', '2011']
game_id      2011102307
home_team           ARI
game_date    10/23/2011
Name: 609, dtype: object ['10', '23', '2011']
game_id      2011102308
home_team           OAK
game_date    10/23/2011
Name: 610, dtype: object ['10', '23', '2011']
game_id      2011102309
home_team           MIN
game_date    10/23/2011
Name: 611, dtype: object ['10', '23', '2011']
game_id      2011102310
home_team           DAL
game_date    10/23/2011
Name: 612, dtype: object ['10', '23', '2011']
game_id      2011102311
home_team            NO
game_date    10/23/2011
Name: 613, dtype: object ['10', '23', '2011']
game_id      2011102400
home_team           JAX
game_date    10/24/2011
Name: 614, dtype: object ['10', '24', '2011']
game_id      2011103000
home_team           NYG
game_date    10/30/2011
Name: 615, dtype: object ['10', '30', '2011']
game_id      2011103001
home_team           HOU
game_date    10/30/2011
Name: 616, dtype: object ['10', '30', '2011']
game_id      2011103002
home_team           TEN
game_date    10/30/2011
Name: 617, dtype: object ['10', '30', '2011']
game_id      2011103003
home_team           CAR
game_date    10/30/2011
Name: 618, dtype: object ['10', '30', '2011']
game_id      2011103004
home_team           STL
game_date    10/30/2011
Name: 619, dtype: object ['10', '30', '2011']
game_id      2011103005
home_team           BAL
game_date    10/30/2011
Name: 620, dtype: object ['10', '30', '2011']
game_id      2011103006
home_team           DEN
game_date    10/30/2011
Name: 621, dtype: object ['10', '30', '2011']
game_id      2011103007
home_team           BUF
game_date    10/30/2011
Name: 622, dtype: object ['10', '30', '2011']
game_id      2011103008
home_team           PIT
game_date    10/30/2011
Name: 623, dtype: object ['10', '30', '2011']
game_id      2011103009
home_team            SF
game_date    10/30/2011
Name: 624, dtype: object ['10', '30', '2011']
game_id      2011103010
home_team           SEA
game_date    10/30/2011
Name: 625, dtype: object ['10', '30', '2011']
game_id      2011103011
home_team           PHI
game_date    10/30/2011
Name: 626, dtype: object ['10', '30', '2011']
game_id      2011103100
home_team            KC
game_date    10/31/2011
Name: 627, dtype: object ['10', '31', '2011']
game_id      2011110600
home_team           BUF
game_date     11/6/2011
Name: 628, dtype: object ['11', '6', '2011']
game_id      2011110601
home_team           HOU
game_date     11/6/2011
Name: 629, dtype: object ['11', '6', '2011']
game_id      2011110602
home_team            KC
game_date     11/6/2011
Name: 630, dtype: object ['11', '6', '2011']
game_id      2011110603
home_team           DAL
game_date     11/6/2011
Name: 631, dtype: object ['11', '6', '2011']
game_id      2011110604
home_team           WAS
game_date     11/6/2011
Name: 632, dtype: object ['11', '6', '2011']
game_id      2011110605
home_team            NO
game_date     11/6/2011
Name: 633, dtype: object ['11', '6', '2011']
game_id      2011110606
home_team           IND
game_date     11/6/2011
Name: 634, dtype: object ['11', '6', '2011']
game_id      2011110607
home_team           OAK
game_date     11/6/2011
Name: 635, dtype: object ['11', '6', '2011']
game_id      2011110608
home_team           TEN
game_date     11/6/2011
Name: 636, dtype: object ['11', '6', '2011']
game_id      2011110609
home_team            NE
game_date     11/6/2011
Name: 637, dtype: object ['11', '6', '2011']
game_id      2011110610
home_team            SD
game_date     11/6/2011
Name: 638, dtype: object ['11', '6', '2011']
game_id      2011110611
home_team           ARI
game_date     11/6/2011
Name: 639, dtype: object ['11', '6', '2011']
game_id      2011110612
home_team           PIT
game_date     11/6/2011
Name: 640, dtype: object ['11', '6', '2011']
game_id      2011110700
home_team           PHI
game_date     11/7/2011
Name: 641, dtype: object ['11', '7', '2011']
game_id      2011111000
home_team            SD
game_date    11/10/2011
Name: 642, dtype: object ['11', '10', '2011']
game_id      2011111300
home_team           DAL
game_date    11/13/2011
Name: 643, dtype: object ['11', '13', '2011']
game_id      2011111301
home_team           CAR
game_date    11/13/2011
Name: 644, dtype: object ['11', '13', '2011']
game_id      2011111302
home_team            TB
game_date    11/13/2011
Name: 645, dtype: object ['11', '13', '2011']
game_id      2011111303
home_team           CIN
game_date    11/13/2011
Name: 646, dtype: object ['11', '13', '2011']
game_id      2011111304
home_team           IND
game_date    11/13/2011
Name: 647, dtype: object ['11', '13', '2011']
game_id      2011111305
home_team            KC
game_date    11/13/2011
Name: 648, dtype: object ['11', '13', '2011']
game_id      2011111306
home_team           PHI
game_date    11/13/2011
Name: 649, dtype: object ['11', '13', '2011']
game_id      2011111307
home_team           CHI
game_date    11/13/2011
Name: 650, dtype: object ['11', '13', '2011']
game_id      2011111308
home_team           ATL
game_date    11/13/2011
Name: 651, dtype: object ['11', '13', '2011']
game_id      2011111309
home_team           MIA
game_date    11/13/2011
Name: 652, dtype: object ['11', '13', '2011']
game_id      2011111310
home_team           CLE
game_date    11/13/2011
Name: 653, dtype: object ['11', '13', '2011']
game_id      2011111311
home_team           SEA
game_date    11/13/2011
Name: 654, dtype: object ['11', '13', '2011']
game_id      2011111312
home_team            SF
game_date    11/13/2011
Name: 655, dtype: object ['11', '13', '2011']
game_id      2011111313
home_team           NYJ
game_date    11/13/2011
Name: 656, dtype: object ['11', '13', '2011']
game_id      2011111400
home_team            GB
game_date    11/14/2011
Name: 657, dtype: object ['11', '14', '2011']
game_id      2011111700
home_team           DEN
game_date    11/17/2011
Name: 658, dtype: object ['11', '17', '2011']
game_id      2011112000
home_team           MIN
game_date    11/20/2011
Name: 659, dtype: object ['11', '20', '2011']
game_id      2011112001
home_team           ATL
game_date    11/20/2011
Name: 660, dtype: object ['11', '20', '2011']
game_id      2011112002
home_team           MIA
game_date    11/20/2011
Name: 661, dtype: object ['11', '20', '2011']
game_id      2011112003
home_team           CLE
game_date    11/20/2011
Name: 662, dtype: object ['11', '20', '2011']
game_id      2011112004
home_team           BAL
game_date    11/20/2011
Name: 663, dtype: object ['11', '20', '2011']
game_id      2011112005
home_team           WAS
game_date    11/20/2011
Name: 664, dtype: object ['11', '20', '2011']
game_id      2011112006
home_team           DET
game_date    11/20/2011
Name: 665, dtype: object ['11', '20', '2011']
game_id      2011112007
home_team            GB
game_date    11/20/2011
Name: 666, dtype: object ['11', '20', '2011']
game_id      2011112008
home_team            SF
game_date    11/20/2011
Name: 667, dtype: object ['11', '20', '2011']
game_id      2011112009
home_team           STL
game_date    11/20/2011
Name: 668, dtype: object ['11', '20', '2011']
game_id      2011112010
home_team           CHI
game_date    11/20/2011
Name: 669, dtype: object ['11', '20', '2011']
game_id      2011112011
home_team           NYG
game_date    11/20/2011
Name: 670, dtype: object ['11', '20', '2011']
game_id      2011112100
home_team            NE
game_date    11/21/2011
Name: 671, dtype: object ['11', '21', '2011']
game_id      2011112400
home_team           DET
game_date    11/24/2011
Name: 672, dtype: object ['11', '24', '2011']
game_id      2011112401
home_team           DAL
game_date    11/24/2011
Name: 673, dtype: object ['11', '24', '2011']
game_id      2011112402
home_team           BAL
game_date    11/24/2011
Name: 674, dtype: object ['11', '24', '2011']
game_id      2011112700
home_team           NYJ
game_date    11/27/2011
Name: 675, dtype: object ['11', '27', '2011']
game_id      2011112701
home_team           CIN
game_date    11/27/2011
Name: 676, dtype: object ['11', '27', '2011']
game_id      2011112702
home_team           JAX
game_date    11/27/2011
Name: 677, dtype: object ['11', '27', '2011']
game_id      2011112703
home_team           ATL
game_date    11/27/2011
Name: 678, dtype: object ['11', '27', '2011']
game_id      2011112704
home_team           STL
game_date    11/27/2011
Name: 679, dtype: object ['11', '27', '2011']
game_id      2011112705
home_team           IND
game_date    11/27/2011
Name: 680, dtype: object ['11', '27', '2011']
game_id      2011112706
home_team           TEN
game_date    11/27/2011
Name: 681, dtype: object ['11', '27', '2011']
game_id      2011112707
home_team           SEA
game_date    11/27/2011
Name: 682, dtype: object ['11', '27', '2011']
game_id      2011112708
home_team           OAK
game_date    11/27/2011
Name: 683, dtype: object ['11', '27', '2011']
game_id      2011112709
home_team           PHI
game_date    11/27/2011
Name: 684, dtype: object ['11', '27', '2011']
game_id      2011112710
home_team            SD
game_date    11/27/2011
Name: 685, dtype: object ['11', '27', '2011']
game_id      2011112711
home_team            KC
game_date    11/27/2011
Name: 686, dtype: object ['11', '27', '2011']
game_id      2011112800
home_team            NO
game_date    11/28/2011
Name: 687, dtype: object ['11', '28', '2011']
game_id      2011120100
home_team           SEA
game_date     12/1/2011
Name: 688, dtype: object ['12', '1', '2011']
game_id      2011120400
home_team           WAS
game_date     12/4/2011
Name: 689, dtype: object ['12', '4', '2011']
game_id      2011120401
home_team           CHI
game_date     12/4/2011
Name: 690, dtype: object ['12', '4', '2011']
game_id      2011120402
home_team           BUF
game_date     12/4/2011
Name: 691, dtype: object ['12', '4', '2011']
game_id      2011120403
home_team           MIA
game_date     12/4/2011
Name: 692, dtype: object ['12', '4', '2011']
game_id      2011120404
home_team           CLE
game_date     12/4/2011
Name: 693, dtype: object ['12', '4', '2011']
game_id      2011120405
home_team           PIT
game_date     12/4/2011
Name: 694, dtype: object ['12', '4', '2011']
game_id      2011120406
home_team            NO
game_date     12/4/2011
Name: 695, dtype: object ['12', '4', '2011']
game_id      2011120407
home_team            TB
game_date     12/4/2011
Name: 696, dtype: object ['12', '4', '2011']
game_id      2011120408
home_team           HOU
game_date     12/4/2011
Name: 697, dtype: object ['12', '4', '2011']
game_id      2011120409
home_team           MIN
game_date     12/4/2011
Name: 698, dtype: object ['12', '4', '2011']
game_id      2011120410
home_team           NYG
game_date     12/4/2011
Name: 699, dtype: object ['12', '4', '2011']
game_id      2011120411
home_team           ARI
game_date     12/4/2011
Name: 700, dtype: object ['12', '4', '2011']
game_id      2011120412
home_team            SF
game_date     12/4/2011
Name: 701, dtype: object ['12', '4', '2011']
game_id      2011120413
home_team            NE
game_date     12/4/2011
Name: 702, dtype: object ['12', '4', '2011']
game_id      2011120500
home_team           JAX
game_date     12/5/2011
Name: 703, dtype: object ['12', '5', '2011']
game_id      2011120800
home_team           PIT
game_date     12/8/2011
Name: 704, dtype: object ['12', '8', '2011']
game_id      2011121100
home_team           WAS
game_date    12/11/2011
Name: 705, dtype: object ['12', '11', '2011']
game_id      2011121101
home_team            GB
game_date    12/11/2011
Name: 706, dtype: object ['12', '11', '2011']
game_id      2011121102
home_team           NYJ
game_date    12/11/2011
Name: 707, dtype: object ['12', '11', '2011']
game_id      2011121103
home_team           CIN
game_date    12/11/2011
Name: 708, dtype: object ['12', '11', '2011']
game_id      2011121104
home_team           BAL
game_date    12/11/2011
Name: 709, dtype: object ['12', '11', '2011']
game_id      2011121105
home_team           DET
game_date    12/11/2011
Name: 710, dtype: object ['12', '11', '2011']
game_id      2011121106
home_team           CAR
game_date    12/11/2011
Name: 711, dtype: object ['12', '11', '2011']
game_id      2011121107
home_team           MIA
game_date    12/11/2011
Name: 712, dtype: object ['12', '11', '2011']
game_id      2011121108
home_team           JAX
game_date    12/11/2011
Name: 713, dtype: object ['12', '11', '2011']
game_id      2011121109
home_team           TEN
game_date    12/11/2011
Name: 714, dtype: object ['12', '11', '2011']
game_id      2011121110
home_team           ARI
game_date    12/11/2011
Name: 715, dtype: object ['12', '11', '2011']
game_id      2011121111
home_team           DEN
game_date    12/11/2011
Name: 716, dtype: object ['12', '11', '2011']
game_id      2011121112
home_team            SD
game_date    12/11/2011
Name: 717, dtype: object ['12', '11', '2011']
game_id      2011121113
home_team           DAL
game_date    12/11/2011
Name: 718, dtype: object ['12', '11', '2011']
game_id      2011121200
home_team           SEA
game_date    12/12/2011

game_id      2012100703
home_team           NYG
game_date     10/7/2012
Name: 835, dtype: object ['10', '7', '2012']
game_id      2012100704
home_team           MIN
game_date     10/7/2012
Name: 836, dtype: object ['10', '7', '2012']
game_id      2012100705
home_team           CIN
game_date     10/7/2012
Name: 837, dtype: object ['10', '7', '2012']
game_id      2012100706
home_team            KC
game_date     10/7/2012
Name: 838, dtype: object ['10', '7', '2012']
game_id      2012100707
home_team           CAR
game_date     10/7/2012
Name: 839, dtype: object ['10', '7', '2012']
game_id      2012100708
home_team           JAX
game_date     10/7/2012
Name: 840, dtype: object ['10', '7', '2012']
game_id      2012100709
home_team            NE
game_date     10/7/2012
Name: 841, dtype: object ['10', '7', '2012']
game_id      2012100710
home_team            SF
game_date     10/7/2012
Name: 842, dtype: object ['10', '7', '2012']
game_id      2012100711
home_team            NO
game_date     10/7/2012
Name: 843, dtype: object ['10', '7', '2012']
game_id      2012100800
home_team           NYJ
game_date     10/8/2012
Name: 844, dtype: object ['10', '8', '2012']
game_id      2012101100
home_team           TEN
game_date    10/11/2012
Name: 845, dtype: object ['10', '11', '2012']
game_id      2012101400
home_team           ATL
game_date    10/14/2012
Name: 846, dtype: object ['10', '14', '2012']
game_id      2012101401
home_team            TB
game_date    10/14/2012
Name: 847, dtype: object ['10', '14', '2012']
game_id      2012101402
home_team           NYJ
game_date    10/14/2012
Name: 848, dtype: object ['10', '14', '2012']
game_id      2012101403
home_team           CLE
game_date    10/14/2012
Name: 849, dtype: object ['10', '14', '2012']
game_id      2012101404
home_team           PHI
game_date    10/14/2012
Name: 850, dtype: object ['10', '14', '2012']
game_id      2012101405
home_team           MIA
game_date    10/14/2012
Name: 851, dtype: object ['10', '14', '2012']
game_id      2012101406
home_team           BAL
game_date    10/14/2012
Name: 852, dtype: object ['10', '14', '2012']
game_id      2012101407
home_team           ARI
game_date    10/14/2012
Name: 853, dtype: object ['10', '14', '2012']
game_id      2012101408
home_team           SEA
game_date    10/14/2012
Name: 854, dtype: object ['10', '14', '2012']
game_id      2012101409
home_team            SF
game_date    10/14/2012
Name: 855, dtype: object ['10', '14', '2012']
game_id      2012101410
home_team           WAS
game_date    10/14/2012
Name: 856, dtype: object ['10', '14', '2012']
game_id      2012101411
home_team           HOU
game_date    10/14/2012
Name: 857, dtype: object ['10', '14', '2012']
game_id      2012101500
home_team            SD
game_date    10/15/2012
Name: 858, dtype: object ['10', '15', '2012']
game_id      2012101800
home_team            SF
game_date    10/18/2012
Name: 859, dtype: object ['10', '18', '2012']
game_id      2012102101
home_team           MIN
game_date    10/21/2012
Name: 860, dtype: object ['10', '21', '2012']
game_id      2012102102
home_team           CAR
game_date    10/21/2012
Name: 861, dtype: object ['10', '21', '2012']
game_id      2012102103
home_team            TB
game_date    10/21/2012
Name: 862, dtype: object ['10', '21', '2012']
game_id      2012102104
home_team           STL
game_date    10/21/2012
Name: 863, dtype: object ['10', '21', '2012']
game_id      2012102105
home_team           HOU
game_date    10/21/2012
Name: 864, dtype: object ['10', '21', '2012']
game_id      2012102106
home_team           IND
game_date    10/21/2012
Name: 865, dtype: object ['10', '21', '2012']
game_id      2012102107
home_team           BUF
game_date    10/21/2012
Name: 866, dtype: object ['10', '21', '2012']
game_id      2012102108
home_team            NE
game_date    10/21/2012
Name: 867, dtype: object ['10', '21', '2012']
game_id      2012102109
home_team           OAK
game_date    10/21/2012
Name: 868, dtype: object ['10', '21', '2012']
game_id      2012102110
home_team           CIN
game_date    10/21/2012
Name: 869, dtype: object ['10', '21', '2012']
game_id      2012102200
home_team           CHI
game_date    10/22/2012
Name: 870, dtype: object ['10', '22', '2012']
game_id      2012102500
home_team           MIN
game_date    10/25/2012
Name: 871, dtype: object ['10', '25', '2012']
game_id      2012102800
home_team            GB
game_date    10/28/2012
Name: 872, dtype: object ['10', '28', '2012']
game_id      2012102801
home_team           NYJ
game_date    10/28/2012
Name: 873, dtype: object ['10', '28', '2012']
game_id      2012102802
home_team           CLE
game_date    10/28/2012
Name: 874, dtype: object ['10', '28', '2012']
game_id      2012102803
home_team           TEN
game_date    10/28/2012
Name: 875, dtype: object ['10', '28', '2012']
game_id      2012102804
home_team           STL
game_date    10/28/2012
Name: 876, dtype: object ['10', '28', '2012']
game_id      2012102805
home_team           PHI
game_date    10/28/2012
Name: 877, dtype: object ['10', '28', '2012']
game_id      2012102806
home_team           CHI
game_date    10/28/2012
Name: 878, dtype: object ['10', '28', '2012']
game_id      2012102807
home_team           DET
game_date    10/28/2012
Name: 879, dtype: object ['10', '28', '2012']
game_id      2012102808
home_team           PIT
game_date    10/28/2012
Name: 880, dtype: object ['10', '28', '2012']
game_id      2012102809
home_team            KC
game_date    10/28/2012
Name: 881, dtype: object ['10', '28', '2012']
game_id      2012102810
home_team           DAL
game_date    10/28/2012
Name: 882, dtype: object ['10', '28', '2012']
game_id      2012102811
home_team           DEN
game_date    10/28/2012
Name: 883, dtype: object ['10', '28', '2012']
game_id      2012102900
home_team           ARI
game_date    10/29/2012
Name: 884, dtype: object ['10', '29', '2012']
game_id      2012110100
home_team            SD
game_date     11/1/2012
Name: 885, dtype: object ['11', '1', '2012']
game_id      2012110400
home_team           WAS
game_date     11/4/2012
Name: 886, dtype: object ['11', '4', '2012']
game_id      2012110401
home_team            GB
game_date     11/4/2012
Name: 887, dtype: object ['11', '4', '2012']
game_id      2012110402
home_team           JAX
game_date     11/4/2012
Name: 888, dtype: object ['11', '4', '2012']
game_id      2012110403
home_team           TEN
game_date     11/4/2012
Name: 889, dtype: object ['11', '4', '2012']
game_id      2012110404
home_team           CIN
game_date     11/4/2012
Name: 890, dtype: object ['11', '4', '2012']
game_id      2012110405
home_team           CLE
game_date     11/4/2012
Name: 891, dtype: object ['11', '4', '2012']
game_id      2012110406
home_team           HOU
game_date     11/4/2012
Name: 892, dtype: object ['11', '4', '2012']
game_id      2012110407
home_team           IND
game_date     11/4/2012
Name: 893, dtype: object ['11', '4', '2012']
game_id      2012110408
home_team           SEA
game_date     11/4/2012
Name: 894, dtype: object ['11', '4', '2012']
game_id      2012110409
home_team           OAK
game_date     11/4/2012
Name: 895, dtype: object ['11', '4', '2012']
game_id      2012110410
home_team           NYG
game_date     11/4/2012
Name: 896, dtype: object ['11', '4', '2012']
game_id      2012110411
home_team           ATL
game_date     11/4/2012
Name: 897, dtype: object ['11', '4', '2012']
game_id      2012110500
home_team            NO
game_date     11/5/2012
Name: 898, dtype: object ['11', '5', '2012']
game_id      2012110800
home_team           JAX
game_date     11/8/2012
Name: 899, dtype: object ['11', '8', '2012']
game_id      2012111100
home_team           CAR
game_date    11/11/2012
Name: 900, dtype: object ['11', '11', '2012']
game_id      2012111101
home_team            TB
game_date    11/11/2012
Name: 901, dtype: object ['11', '11', '2012']
game_id      2012111102
home_team           MIA
game_date    11/11/2012
Name: 902, dtype: object ['11', '11', '2012']
game_id      2012111103
home_team            NE
game_date    11/11/2012
Name: 903, dtype: object ['11', '11', '2012']
game_id      2012111104
home_team           BAL
game_date    11/11/2012
Name: 904, dtype: object ['11', '11', '2012']
game_id      2012111105
home_team           CIN
game_date    11/11/2012
Name: 905, dtype: object ['11', '11', '2012']
game_id      2012111106
home_team            NO
game_date    11/11/2012
Name: 906, dtype: object ['11', '11', '2012']
game_id      2012111107
home_team           MIN
game_date    11/11/2012
Name: 907, dtype: object ['11', '11', '2012']
game_id      2012111108
home_team           SEA
game_date    11/11/2012
Name: 908, dtype: object ['11', '11', '2012']
game_id      2012111109
home_team           PHI
game_date    11/11/2012
Name: 909, dtype: object ['11', '11', '2012']
game_id      2012111110
home_team            SF
game_date    11/11/2012
Name: 910, dtype: object ['11', '11', '2012']
game_id      2012111111
home_team           CHI
game_date    11/11/2012
Name: 911, dtype: object ['11', '11', '2012']
game_id      2012111200
home_team           PIT
game_date    11/12/2012
Name: 912, dtype: object ['11', '12', '2012']
game_id      2012111500
home_team           BUF
game_date    11/15/2012
Name: 913, dtype: object ['11', '15', '2012']
game_id      2012111800
home_team           WAS
game_date    11/18/2012
Name: 914, dtype: object ['11', '18', '2012']
game_id      2012111801
home_team           DET
game_date    11/18/2012
Name: 915, dtype: object ['11', '18', '2012']
game_id      2012111802
home_team           ATL
game_date    11/18/2012
Name: 916, dtype: object ['11', '18', '2012']
game_id      2012111803
home_team           CAR
game_date    11/18/2012
Name: 917, dtype: object ['11', '18', '2012']
game_id      2012111804
home_team           DAL
game_date    11/18/2012
Name: 918, dtype: object ['11', '18', '2012']
game_id      2012111805
home_team           STL
game_date    11/18/2012
Name: 919, dtype: object ['11', '18', '2012']
game_id      2012111806
home_team            NE
game_date    11/18/2012
Name: 920, dtype: object ['11', '18', '2012']
game_id      2012111807
home_team           HOU
game_date    11/18/2012
Name: 921, dtype: object ['11', '18', '2012']
game_id      2012111808
home_team            KC
game_date    11/18/2012
Name: 922, dtype: object ['11', '18', '2012']
game_id      2012111809
home_team           OAK
game_date    11/18/2012
Name: 923, dtype: object ['11', '18', '2012']
game_id      2012111810
home_team           DEN
game_date    11/18/2012
Name: 924, dtype: object ['11', '18', '2012']
game_id      2012111811
home_team           PIT
game_date    11/18/2012
Name: 925, dtype: object ['11', '18', '2012']
game_id      2012111900
home_team            SF
game_date    11/19/2012
Name: 926, dtype: object ['11', '19', '2012']
game_id      2012112200
home_team           DET
game_date    11/22/2012
Name: 927, dtype: object ['11', '22', '2012']
game_id      2012112201
home_team           DAL
game_date    11/22/2012
Name: 928, dtype: object ['11', '22', '2012']
game_id      2012112202
home_team           NYJ
game_date    11/22/2012
Name: 929, dtype: object ['11', '22', '2012']
game_id      2012112500
home_team           CIN
game_date    11/25/2012
Name: 930, dtype: object ['11', '25', '2012']
game_id      2012112501
home_team           CLE
game_date    11/25/2012
Name: 931, dtype: object ['11', '25', '2012']
game_id      2012112502
home_team           IND
game_date    11/25/2012
Name: 932, dtype: object ['11', '25', '2012']
game_id      2012112503
home_team           JAX
game_date    11/25/2012
Name: 933, dtype: object ['11', '25', '2012']
game_id      2012112504
home_team            KC
game_date    11/25/2012
Name: 934, dtype: object ['11', '25', '2012']
game_id      2012112505
home_team           CHI
game_date    11/25/2012
Name: 935, dtype: object ['11', '25', '2012']
game_id      2012112506
home_team            TB
game_date    11/25/2012
Name: 936, dtype: object ['11', '25', '2012']
game_id      2012112507
home_team           MIA
game_date    11/25/2012
Name: 937, dtype: object ['11', '25', '2012']
game_id      2012112508
home_team            SD
game_date    11/25/2012
Name: 938, dtype: object ['11', '25', '2012']
game_id      2012112509
home_team            NO
game_date    11/25/2012
Name: 939, dtype: object ['11', '25', '2012']
game_id      2012112510
home_team           ARI
game_date    11/25/2012
Name: 940, dtype: object ['11', '25', '2012']
game_id      2012112511
home_team           NYG
game_date    11/25/2012
Name: 941, dtype: object ['11', '25', '2012']
game_id      2012112600
home_team           PHI
game_date    11/26/2012
Name: 942, dtype: object ['11', '26', '2012']
game_id      2012112900
home_team           ATL
game_date    11/29/2012
Name: 943, dtype: object ['11', '29', '2012']
game_id      2012120200
home_team           CHI
game_date     12/2/2012
Name: 944, dtype: object ['12', '2', '2012']
game_id      2012120201
home_team            GB
game_date     12/2/2012
Name: 945, dtype: object ['12', '2', '2012']
game_id      2012120202
home_team           STL
game_date     12/2/2012
Name: 946, dtype: object ['12', '2', '2012']
game_id      2012120203
home_team           NYJ
game_date     12/2/2012
Name: 947, dtype: object ['12', '2', '2012']
game_id      2012120204
home_team            KC
game_date     12/2/2012
Name: 948, dtype: object ['12', '2', '2012']
game_id      2012120205
home_team           DET
game_date     12/2/2012
Name: 949, dtype: object ['12', '2', '2012']
game_id      2012120206
home_team           BUF
game_date     12/2/2012
Name: 950, dtype: object ['12', '2', '2012']
game_id      2012120207
home_team           MIA
game_date     12/2/2012
Name: 951, dtype: object ['12', '2', '2012']
game_id      2012120208
home_team           TEN
game_date     12/2/2012
Name: 952, dtype: object ['12', '2', '2012']
game_id      2012120209
home_team           DEN
game_date     12/2/2012
Name: 953, dtype: object ['12', '2', '2012']
game_id      2012120210
home_team           BAL
game_date     12/2/2012
Name: 954, dtype: object ['12', '2', '2012']
game_id      2012120211
home_team           OAK
game_date     12/2/2012
Name: 955, dtype: object ['12', '2', '2012']
game_id      2012120212
home_team            SD
game_date     12/2/2012
Name: 956, dtype: object ['12', '2', '2012']
game_id      2012120213
home_team           DAL
game_date     12/2/2012
Name: 957, dtype: object ['12', '2', '2012']
game_id      2012120300
home_team           WAS
game_date     12/3/2012
Name: 958, dtype: object ['12', '3', '2012']
game_id      2012120600
home_team           OAK
game_date     12/6/2012
Name: 959, dtype: object ['12', '6', '2012']
game_id      2012120900
home_team           WAS
game_date     12/9/2012
Name: 960, dtype: object ['12', '9', '2012']
game_id      2012120901
home_team           CLE
game_date     12/9/2012
Name: 961, dtype: object ['12', '9', '2012']
game_id      2012120902
home_team           PIT
game_date     12/9/2012
Name: 962, dtype: object ['12', '9', '2012']
game_id      2012120903
home_team           IND
game_date     12/9/2012
Name: 963, dtype: object ['12', '9', '2012']
game_id      2012120904
home_team           JAX
game_date     12/9/2012
Name: 964, dtype: object ['12', '9', '2012']
game_id      2012120905
home_team           MIN
game_date     12/9/2012
Name: 965, dtype: object ['12', '9', '2012']
game_id      2012120906
home_team           CAR
game_date     12/9/2012
Name: 966, dtype: object ['12', '9', '2012']
game_id      2012120907
home_team            TB
game_date     12/9/2012
Name: 967, dtype: object ['12', '9', '2012']
game_id      2012120908
home_team           BUF
game_date     12/9/2012
Name: 968, dtype: object ['12', '9', '2012']
game_id      2012120909
home_team           CIN
game_date     12/9/2012
Name: 969, dtype: object ['12', '9', '2012']
game_id      2012120910
home_team            SF
game_date     12/9/2012
Name: 970, dtype: object ['12', '9', '2012']
game_id      2012120911
home_team           NYG
game_date     12/9/2012
Name: 971, dtype: object ['12', '9', '2012']
game_id      2012120912
home_team           SEA
game_date     12/9/2012
Name: 972, dtype: object ['12', '9', '2012']
game_id      2012120913
home_team            GB
game_date     12/9/2012
Name: 973, dtype: object ['12', '9', '2012']
game_id      2012121000
home_team            NE
game_date    12/10/2012
Name: 974, dtype: object ['12', '10', '2012']
game_id      2012121300
home_team           PHI
game_date    12/13/2012
Name: 975, dtype: object ['12', '13', '2012']
game_id      2012121600
home_team           CHI
game_date    12/16/2012
Name: 976, dtype: object ['12', '16', '2012']
game_id      2012121601
home_team           ATL
game_date    12/16/2012
Name: 977, dtype: object ['12', '16', '2012']
game_id      2012121602
home_team            NO
game_date    12/16/2012
Name: 978, dtype: object ['12', '16', '2012']
game_id      2012121603
home_team           STL
game_date    12/16/2012
Name: 979, dtype: object ['12', '16', '2012']
game_id      2012121604
home_team           CLE
game_date    12/16/2012
Name: 980, dtype: object ['12', '16', '2012']
game_id      2012121605
home_team           MIA
game_date    12/16/2012
Name: 981, dtype: object ['12', '16', '2012']
game_id      2012121606
home_team           BAL
game_date    12/16/2012
Name: 982, dtype: object ['12', '16', '2012']
game_id      2012121607
home_team           HOU
game_date    12/16/2012
Name: 983, dtype: object ['12', '16', '2012']
game_id      2012121608
home_team           ARI
game_date    12/16/2012
Name: 984, dtype: object ['12', '16', '2012']
game_id      2012121609
home_team            SD
game_date    12/16/2012
Name: 985, dtype: object ['12', '16', '2012']
game_id      2012121610
home_team           BUF
game_date    12/16/2012
Name: 986, dtype: object ['12', '16', '2012']
game_id      2012121611
home_team           DAL
game_date    12/16/2012
Name: 987, dtype: object ['12', '16', '2012']
game_id      2012121612
home_team           OAK
game_date    12/16/2012
Name: 988, dtype: object ['12', '16', '2012']
game_id      2012121613
home_team            NE
game_date    12/16/2012
Name: 989, dtype: object ['12', '16', '2012']
game_id      2012121700
home_team           TEN
game_date    12/17/2012
Name: 990, dtype: object ['12', '17', '2012']
game_id      2012122200
home_team           DET
game_date    12/22/2012
Name: 991, dtype: object ['12', '22', '2012']
game_id      2012122300
home_team            GB
game_date    12/23/2012
Name: 992, dtype: object ['12', '23', '2012']
game_id      2012122301
home_team           CAR
game_date    12/23/2012
Name: 993, dtype: object ['12', '23', '2012']
game_id      2012122302
home_team           MIA
game_date    12/23/2012
Name: 994, dtype: object ['12', '23', '2012']
game_id      2012122303
home_team           PIT
game_date    12/23/2012
Name: 995, dtype: object ['12', '23', '2012']
game_id      2012122304
home_team           JAX
game_date    12/23/2012
Name: 996, dtype: object ['12', '23', '2012']
game_id      2012122305
home_team            KC
game_date    12/23/2012
Name: 997, dtype: object ['12', '23', '2012']
game_id      2012122306
home_team           DAL
game_date    12/23/2012
Name: 998, dtype: object ['12', '23', '2012']
game_id      2012122307
home_team           PHI
game_date    12/23/2012
Name: 999, dtype: object ['12', '23', '2012']
game_id      2012122308
home_team            TB
game_date    12/23/2012
Name: 1000, dtype: object ['12', '23', '2012']
game_id      2012122309
home_team           BAL
game_date    12/23/2012
Name: 1001, dtype: object ['12', '23', '2012']
game_id      2012122310
home_team           HOU
game_date    12/23/2012
Name: 1002, dtype: object ['12', '23', '2012']
game_id      2012122311
home_team           DEN
game_date    12/23/2012
Name: 1003, dtype: object ['12', '23', '2012']
game_id      2012122312
home_team           ARI
game_date    12/23/2012

Name: 1110, dtype: object ['10', '13', '2013']
game_id      2013101310
home_team            NE
game_date    10/13/2013
Name: 1111, dtype: object ['10', '13', '2013']
game_id      2013101311
home_team            SF
game_date    10/13/2013
Name: 1112, dtype: object ['10', '13', '2013']
game_id      2013101312
home_team           DAL
game_date    10/13/2013
Name: 1113, dtype: object ['10', '13', '2013']
game_id      2013101400
home_team            SD
game_date    10/14/2013
Name: 1114, dtype: object ['10', '14', '2013']
game_id      2013101700
home_team           ARI
game_date    10/17/2013
Name: 1115, dtype: object ['10', '17', '2013']
game_id      2013102000
home_team           ATL
game_date    10/20/2013
Name: 1116, dtype: object ['10', '20', '2013']
game_id      2013102001
home_team           CAR
game_date    10/20/2013
Name: 1117, dtype: object ['10', '20', '2013']
game_id      2013102002
home_team           DET
game_date    10/20/2013
Name: 1118, dtype: object ['10', '20', '2013']
game_id      2013102003
home_team            GB
game_date    10/20/2013
Name: 1119, dtype: object ['10', '20', '2013']
game_id      2013102004
home_team           JAX
game_date    10/20/2013
Name: 1120, dtype: object ['10', '20', '2013']
game_id      2013102005
home_team            KC
game_date    10/20/2013
Name: 1121, dtype: object ['10', '20', '2013']
game_id      2013102006
home_team           MIA
game_date    10/20/2013
Name: 1122, dtype: object ['10', '20', '2013']
game_id      2013102007
home_team           NYJ
game_date    10/20/2013
Name: 1123, dtype: object ['10', '20', '2013']
game_id      2013102008
home_team           PHI
game_date    10/20/2013
Name: 1124, dtype: object ['10', '20', '2013']
game_id      2013102009
home_team           WAS
game_date    10/20/2013
Name: 1125, dtype: object ['10', '20', '2013']
game_id      2013102010
home_team           TEN
game_date    10/20/2013
Name: 1126, dtype: object ['10', '20', '2013']
game_id      2013102011
home_team           PIT
game_date    10/20/2013
Name: 1127, dtype: object ['10', '20', '2013']
game_id      2013102012
home_team           IND
game_date    10/20/2013
Name: 1128, dtype: object ['10', '20', '2013']
game_id      2013102100
home_team           NYG
game_date    10/21/2013
Name: 1129, dtype: object ['10', '21', '2013']
game_id      2013102400
home_team            TB
game_date    10/24/2013
Name: 1130, dtype: object ['10', '24', '2013']
game_id      2013102700
home_team           DET
game_date    10/27/2013
Name: 1131, dtype: object ['10', '27', '2013']
game_id      2013102701
home_team           JAX
game_date    10/27/2013
Name: 1132, dtype: object ['10', '27', '2013']
game_id      2013102702
home_team            KC
game_date    10/27/2013
Name: 1133, dtype: object ['10', '27', '2013']
game_id      2013102703
home_team            NE
game_date    10/27/2013
Name: 1134, dtype: object ['10', '27', '2013']
game_id      2013102704
home_team            NO
game_date    10/27/2013
Name: 1135, dtype: object ['10', '27', '2013']
game_id      2013102705
home_team           PHI
game_date    10/27/2013
Name: 1136, dtype: object ['10', '27', '2013']
game_id      2013102706
home_team           OAK
game_date    10/27/2013
Name: 1137, dtype: object ['10', '27', '2013']
game_id      2013102707
home_team           CIN
game_date    10/27/2013
Name: 1138, dtype: object ['10', '27', '2013']
game_id      2013102708
home_team           ARI
game_date    10/27/2013
Name: 1139, dtype: object ['10', '27', '2013']
game_id      2013102709
home_team           DEN
game_date    10/27/2013
Name: 1140, dtype: object ['10', '27', '2013']
game_id      2013102710
home_team           MIN
game_date    10/27/2013
Name: 1141, dtype: object ['10', '27', '2013']
game_id      2013102800
home_team           STL
game_date    10/28/2013
Name: 1142, dtype: object ['10', '28', '2013']
game_id      2013103100
home_team           MIA
game_date    10/31/2013
Name: 1143, dtype: object ['10', '31', '2013']
game_id      2013110300
home_team           BUF
game_date     11/3/2013
Name: 1144, dtype: object ['11', '3', '2013']
game_id      2013110301
home_team           CAR
game_date     11/3/2013
Name: 1145, dtype: object ['11', '3', '2013']
game_id      2013110302
home_team           DAL
game_date     11/3/2013
Name: 1146, dtype: object ['11', '3', '2013']
game_id      2013110303
home_team           NYJ
game_date     11/3/2013
Name: 1147, dtype: object ['11', '3', '2013']
game_id      2013110304
home_team           STL
game_date     11/3/2013
Name: 1148, dtype: object ['11', '3', '2013']
game_id      2013110305
home_team           WAS
game_date     11/3/2013
Name: 1149, dtype: object ['11', '3', '2013']
game_id      2013110306
home_team           OAK
game_date     11/3/2013
Name: 1150, dtype: object ['11', '3', '2013']
game_id      2013110307
home_team           SEA
game_date     11/3/2013
Name: 1151, dtype: object ['11', '3', '2013']
game_id      2013110308
home_team           CLE
game_date     11/3/2013
Name: 1152, dtype: object ['11', '3', '2013']
game_id      2013110309
home_team            NE
game_date     11/3/2013
Name: 1153, dtype: object ['11', '3', '2013']
game_id      2013110310
home_team           HOU
game_date     11/3/2013
Name: 1154, dtype: object ['11', '3', '2013']
game_id      2013110400
home_team            GB
game_date     11/4/2013
Name: 1155, dtype: object ['11', '4', '2013']
game_id      2013110700
home_team           MIN
game_date     11/7/2013
Name: 1156, dtype: object ['11', '7', '2013']
game_id      2013111000
home_team           ATL
game_date    11/10/2013
Name: 1157, dtype: object ['11', '10', '2013']
game_id      2013111001
home_team           BAL
game_date    11/10/2013
Name: 1158, dtype: object ['11', '10', '2013']
game_id      2013111002
home_team           CHI
game_date    11/10/2013
Name: 1159, dtype: object ['11', '10', '2013']
game_id      2013111003
home_team            GB
game_date    11/10/2013
Name: 1160, dtype: object ['11', '10', '2013']
game_id      2013111004
home_team           IND
game_date    11/10/2013
Name: 1161, dtype: object ['11', '10', '2013']
game_id      2013111005
home_team           NYG
game_date    11/10/2013
Name: 1162, dtype: object ['11', '10', '2013']
game_id      2013111006
home_team           PIT
game_date    11/10/2013
Name: 1163, dtype: object ['11', '10', '2013']
game_id      2013111007
home_team           TEN
game_date    11/10/2013
Name: 1164, dtype: object ['11', '10', '2013']
game_id      2013111008
home_team            SF
game_date    11/10/2013
Name: 1165, dtype: object ['11', '10', '2013']
game_id      2013111009
home_team           ARI
game_date    11/10/2013
Name: 1166, dtype: object ['11', '10', '2013']
game_id      2013111010
home_team            SD
game_date    11/10/2013
Name: 1167, dtype: object ['11', '10', '2013']
game_id      2013111011
home_team            NO
game_date    11/10/2013
Name: 1168, dtype: object ['11', '10', '2013']
game_id      2013111100
home_team            TB
game_date    11/11/2013
Name: 1169, dtype: object ['11', '11', '2013']
game_id      2013111400
home_team           TEN
game_date    11/14/2013
Name: 1170, dtype: object ['11', '14', '2013']
game_id      2013111700
home_team           BUF
game_date    11/17/2013
Name: 1171, dtype: object ['11', '17', '2013']
game_id      2013111701
home_team           CHI
game_date    11/17/2013
Name: 1172, dtype: object ['11', '17', '2013']
game_id      2013111702
home_team           CIN
game_date    11/17/2013
Name: 1173, dtype: object ['11', '17', '2013']
game_id      2013111703
home_team           HOU
game_date    11/17/2013
Name: 1174, dtype: object ['11', '17', '2013']
game_id      2013111704
home_team           JAX
game_date    11/17/2013
Name: 1175, dtype: object ['11', '17', '2013']
game_id      2013111705
home_team           MIA
game_date    11/17/2013
Name: 1176, dtype: object ['11', '17', '2013']
game_id      2013111706
home_team           PHI
game_date    11/17/2013
Name: 1177, dtype: object ['11', '17', '2013']
game_id      2013111707
home_team           PIT
game_date    11/17/2013
Name: 1178, dtype: object ['11', '17', '2013']
game_id      2013111708
home_team            TB
game_date    11/17/2013
Name: 1179, dtype: object ['11', '17', '2013']
game_id      2013111709
home_team           DEN
game_date    11/17/2013
Name: 1180, dtype: object ['11', '17', '2013']
game_id      2013111710
home_team            NO
game_date    11/17/2013
Name: 1181, dtype: object ['11', '17', '2013']
game_id      2013111711
home_team           SEA
game_date    11/17/2013
Name: 1182, dtype: object ['11', '17', '2013']
game_id      2013111712
home_team           NYG
game_date    11/17/2013
Name: 1183, dtype: object ['11', '17', '2013']
game_id      2013111800
home_team           CAR
game_date    11/18/2013
Name: 1184, dtype: object ['11', '18', '2013']
game_id      2013112100
home_team           ATL
game_date    11/21/2013
Name: 1185, dtype: object ['11', '21', '2013']
game_id      2013112400
home_team           BAL
game_date    11/24/2013
Name: 1186, dtype: object ['11', '24', '2013']
game_id      2013112401
home_team           CLE
game_date    11/24/2013
Name: 1187, dtype: object ['11', '24', '2013']
game_id      2013112402
home_team           DET
game_date    11/24/2013
Name: 1188, dtype: object ['11', '24', '2013']
game_id      2013112403
home_team            GB
game_date    11/24/2013
Name: 1189, dtype: object ['11', '24', '2013']
game_id      2013112404
home_team           HOU
game_date    11/24/2013
Name: 1190, dtype: object ['11', '24', '2013']
game_id      2013112405
home_team            KC
game_date    11/24/2013
Name: 1191, dtype: object ['11', '24', '2013']
game_id      2013112406
home_team           MIA
game_date    11/24/2013
Name: 1192, dtype: object ['11', '24', '2013']
game_id      2013112407
home_team           STL
game_date    11/24/2013
Name: 1193, dtype: object ['11', '24', '2013']
game_id      2013112408
home_team           ARI
game_date    11/24/2013
Name: 1194, dtype: object ['11', '24', '2013']
game_id      2013112409
home_team           OAK
game_date    11/24/2013
Name: 1195, dtype: object ['11', '24', '2013']
game_id      2013112410
home_team           NYG
game_date    11/24/2013
Name: 1196, dtype: object ['11', '24', '2013']
game_id      2013112411
home_team            NE
game_date    11/24/2013
Name: 1197, dtype: object ['11', '24', '2013']
game_id      2013112500
home_team           WAS
game_date    11/25/2013
Name: 1198, dtype: object ['11', '25', '2013']
game_id      2013112800
home_team           DET
game_date    11/28/2013
Name: 1199, dtype: object ['11', '28', '2013']
game_id      2013112801
home_team           DAL
game_date    11/28/2013
Name: 1200, dtype: object ['11', '28', '2013']
game_id      2013112802
home_team           BAL
game_date    11/28/2013
Name: 1201, dtype: object ['11', '28', '2013']
game_id      2013120100
home_team           CAR
game_date     12/1/2013
Name: 1202, dtype: object ['12', '1', '2013']
game_id      2013120101
home_team           CLE
game_date     12/1/2013
Name: 1203, dtype: object ['12', '1', '2013']
game_id      2013120102
home_team           IND
game_date     12/1/2013
Name: 1204, dtype: object ['12', '1', '2013']
game_id      2013120103
home_team            KC
game_date     12/1/2013
Name: 1205, dtype: object ['12', '1', '2013']
game_id      2013120104
home_team           MIN
game_date     12/1/2013
Name: 1206, dtype: object ['12', '1', '2013']
game_id      2013120105
home_team           NYJ
game_date     12/1/2013
Name: 1207, dtype: object ['12', '1', '2013']
game_id      2013120106
home_team           PHI
game_date     12/1/2013
Name: 1208, dtype: object ['12', '1', '2013']
game_id      2013120107
home_team           BUF
game_date     12/1/2013
Name: 1209, dtype: object ['12', '1', '2013']
game_id      2013120108
home_team            SF
game_date     12/1/2013
Name: 1210, dtype: object ['12', '1', '2013']
game_id      2013120109
home_team           HOU
game_date     12/1/2013
Name: 1211, dtype: object ['12', '1', '2013']
game_id      2013120110
home_team            SD
game_date     12/1/2013
Name: 1212, dtype: object ['12', '1', '2013']
game_id      2013120111
home_team           WAS
game_date     12/1/2013
Name: 1213, dtype: object ['12', '1', '2013']
game_id      2013120200
home_team           SEA
game_date     12/2/2013
Name: 1214, dtype: object ['12', '2', '2013']
game_id      2013120500
home_team           JAX
game_date     12/5/2013
Name: 1215, dtype: object ['12', '5', '2013']
game_id      2013120800
home_team           BAL
game_date     12/8/2013
Name: 1216, dtype: object ['12', '8', '2013']
game_id      2013120801
home_team           CIN
game_date     12/8/2013
Name: 1217, dtype: object ['12', '8', '2013']
game_id      2013120802
home_team            NE
game_date     12/8/2013
Name: 1218, dtype: object ['12', '8', '2013']
game_id      2013120803
home_team           NYJ
game_date     12/8/2013
Name: 1219, dtype: object ['12', '8', '2013']
game_id      2013120804
home_team            NO
game_date     12/8/2013
Name: 1220, dtype: object ['12', '8', '2013']
game_id      2013120805
home_team           PHI
game_date     12/8/2013
Name: 1221, dtype: object ['12', '8', '2013']
game_id      2013120806
home_team           PIT
game_date     12/8/2013
Name: 1222, dtype: object ['12', '8', '2013']
game_id      2013120807
home_team            TB
game_date     12/8/2013
Name: 1223, dtype: object ['12', '8', '2013']
game_id      2013120808
home_team           WAS
game_date     12/8/2013
Name: 1224, dtype: object ['12', '8', '2013']
game_id      2013120809
home_team           DEN
game_date     12/8/2013
Name: 1225, dtype: object ['12', '8', '2013']
game_id      2013120810
home_team           ARI
game_date     12/8/2013
Name: 1226, dtype: object ['12', '8', '2013']
game_id      2013120811
home_team            SD
game_date     12/8/2013
Name: 1227, dtype: object ['12', '8', '2013']
game_id      2013120812
home_team            SF
game_date     12/8/2013
Name: 1228, dtype: object ['12', '8', '2013']
game_id      2013120813
home_team            GB
game_date     12/8/2013
Name: 1229, dtype: object ['12', '8', '2013']
game_id      2013120900
home_team           CHI
game_date     12/9/2013
Name: 1230, dtype: object ['12', '9', '2013']
game_id      2013121200
home_team           DEN
game_date    12/12/2013
Name: 1231, dtype: object ['12', '12', '2013']
game_id      2013121500
home_team           ATL
game_date    12/15/2013
Name: 1232, dtype: object ['12', '15', '2013']
game_id      2013121501
home_team           CLE
game_date    12/15/2013
Name: 1233, dtype: object ['12', '15', '2013']
game_id      2013121502
home_team           IND
game_date    12/15/2013
Name: 1234, dtype: object ['12', '15', '2013']
game_id      2013121503
home_team           JAX
game_date    12/15/2013
Name: 1235, dtype: object ['12', '15', '2013']
game_id      2013121504
home_team           MIA
game_date    12/15/2013
Name: 1236, dtype: object ['12', '15', '2013']
game_id      2013121505
home_team           MIN
game_date    12/15/2013
Name: 1237, dtype: object ['12', '15', '2013']
game_id      2013121506
home_team           NYG
game_date    12/15/2013
Name: 1238, dtype: object ['12', '15', '2013']
game_id      2013121507
home_team           STL
game_date    12/15/2013
Name: 1239, dtype: object ['12', '15', '2013']
game_id      2013121508
home_team            TB
game_date    12/15/2013
Name: 1240, dtype: object ['12', '15', '2013']
game_id      2013121509
home_team           TEN
game_date    12/15/2013
Name: 1241, dtype: object ['12', '15', '2013']
game_id      2013121510
home_team           CAR
game_date    12/15/2013
Name: 1242, dtype: object ['12', '15', '2013']
game_id      2013121511
home_team           OAK
game_date    12/15/2013
Name: 1243, dtype: object ['12', '15', '2013']
game_id      2013121512
home_team           DAL
game_date    12/15/2013
Name: 1244, dtype: object ['12', '15', '2013']
game_id      2013121513
home_team           PIT
game_date    12/15/2013
Name: 1245, dtype: object ['12', '15', '2013']
game_id      2013121600
home_team           DET
game_date    12/16/2013
Name: 1246, dtype: object ['12', '16', '2013']
game_id      2013122200
home_team           BUF
game_date    12/22/2013
Name: 1247, dtype: object ['12', '22', '2013']
game_id      2013122201
home_team           CAR
game_date    12/22/2013
Name: 1248, dtype: object ['12', '22', '2013']
game_id      2013122202
home_team           CIN
game_date    12/22/2013
Name: 1249, dtype: object ['12', '22', '2013']
game_id      2013122203
home_team           HOU
game_date    12/22/2013
Name: 1250, dtype: object ['12', '22', '2013']
game_id      2013122204
home_team           JAX
game_date    12/22/2013
Name: 1251, dtype: object ['12', '22', '2013']
game_id      2013122205
home_team            KC
game_date    12/22/2013
Name: 1252, dtype: object ['12', '22', '2013']
game_id      2013122206
home_team           NYJ
game_date    12/22/2013
Name: 1253, dtype: object ['12', '22', '2013']
game_id      2013122207
home_team           PHI
game_date    12/22/2013
Name: 1254, dtype: object ['12', '22', '2013']
game_id      2013122208
home_team           STL
game_date    12/22/2013
Name: 1255, dtype: object ['12', '22', '2013']
game_id      2013122209
home_team           WAS
game_date    12/22/2013
Name: 1256, dtype: object ['12', '22', '2013']
game_id      2013122210
home_team           DET
game_date    12/22/2013
Name: 1257, dtype: object ['12', '22', '2013']
game_id      2013122211
home_team           SEA
game_date    12/22/2013
Name: 1258, dtype: object ['12', '22', '2013']
game_id      2013122212
home_team            GB
game_date    12/22/2013
Name: 1259, dtype: object ['12', '22', '2013']
game_id      2013122213
home_team            SD
game_date    12/22/2013
Name: 1260, dtype: object ['12', '22', '2013']
game_id      2013122214
home_team           BAL
game_date    12/22/2013
Name: 1261, dtype: object ['12', '22', '2013']
game_id      2013122300
home_team            SF
game_date    12/23/2013
Name: 1262, dtype: object ['12', '23', '2013']
game_id      2013122900
home_team           ATL
game_date    12/29/2013
Name: 1263, dtype: object ['12', '29', '2013']
game_id      2013122901
home_team           CHI
game_date    12/29/2013
Name: 1264, dtype: object ['12', '29', '2013']
game_id      2013122902
home_team           CIN
game_date    12/29/2013
Name: 1265, dtype: object ['12', '29', '2013']
game_id      2013122903
home_team           DAL
game_date    12/29/2013
Name: 1266, dtype: object ['12', '29', '2013']
game_id      2013122904
home_team           IND
game_date    12/29/2013
Name: 1267, dtype: object ['12', '29', '2013']
game_id      2013122905
home_team           MIA
game_date    12/29/2013
Name: 1268, dtype: object ['12', '29', '2013']
game_id      2013122906
home_team           MIN
game_date    12/29/2013
Name: 1269, dtype: object ['12', '29', '2013']
game_id      2013122907
home_team            NE
game_date    12/29/2013
Name: 1270, dtype: object ['12', '29', '2013']
game_id      2013122908
home_team            NO
game_date    12/29/2013
Name: 1271, dtype: object ['12', '29', '2013']
game_id      2013122909
home_team           NYG
game_date    12/29/2013
Name: 1272, dtype: object ['12', '29', '2013']
game_id      2013122910
home_team           PIT
game_date    12/29/2013
Name: 1273, dtype: object ['12', '29', '2013']
game_id      2013122911
home_team           TEN
game_date    12/29/2013
Name: 1274, dtype: object ['12', '29', '2013']
game_id      2013122912
home_team           ARI
game_date    12/29/2013
Name: 1275, dtype: object ['12', '29', '2013']
game_id      2013122913
home_team           OAK
game_date    12/29/2013
Name: 1276, dtype: object ['12', '29', '2013']
game_id      2013122914
home_team            SD
game_date    12/29/2013
Name: 1277, dtype: object ['12', '29', '2013']
game_id      2013122915
home_team           SEA
game_date    12/29/2013
Name: 1278, dtype: object ['12', '29', '2013']

Name: 1389, dtype: object ['10', '26', '2014']
game_id      2014102604
home_team            KC
game_date    10/26/2014
Name: 1390, dtype: object ['10', '26', '2014']
game_id      2014102605
home_team            NE
game_date    10/26/2014
Name: 1391, dtype: object ['10', '26', '2014']
game_id      2014102606
home_team           NYJ
game_date    10/26/2014
Name: 1392, dtype: object ['10', '26', '2014']
game_id      2014102607
home_team            TB
game_date    10/26/2014
Name: 1393, dtype: object ['10', '26', '2014']
game_id      2014102608
home_team           TEN
game_date    10/26/2014
Name: 1394, dtype: object ['10', '26', '2014']
game_id      2014102609
home_team           ARI
game_date    10/26/2014
Name: 1395, dtype: object ['10', '26', '2014']
game_id      2014102610
home_team           CLE
game_date    10/26/2014
Name: 1396, dtype: object ['10', '26', '2014']
game_id      2014102611
home_team           PIT
game_date    10/26/2014
Name: 1397, dtype: object ['10', '26', '2014']
game_id      2014102612
home_team            NO
game_date    10/26/2014
Name: 1398, dtype: object ['10', '26', '2014']
game_id      2014102700
home_team           DAL
game_date    10/27/2014
Name: 1399, dtype: object ['10', '27', '2014']
game_id      2014103000
home_team           CAR
game_date    10/30/2014
Name: 1400, dtype: object ['10', '30', '2014']
game_id      2014110200
home_team           CIN
game_date     11/2/2014
Name: 1401, dtype: object ['11', '2', '2014']
game_id      2014110201
home_team           CLE
game_date     11/2/2014
Name: 1402, dtype: object ['11', '2', '2014']
game_id      2014110202
home_team           DAL
game_date     11/2/2014
Name: 1403, dtype: object ['11', '2', '2014']
game_id      2014110203
home_team           HOU
game_date     11/2/2014
Name: 1404, dtype: object ['11', '2', '2014']
game_id      2014110204
home_team            KC
game_date     11/2/2014
Name: 1405, dtype: object ['11', '2', '2014']
game_id      2014110205
home_team           MIA
game_date     11/2/2014
Name: 1406, dtype: object ['11', '2', '2014']
game_id      2014110206
home_team           MIN
game_date     11/2/2014
Name: 1407, dtype: object ['11', '2', '2014']
game_id      2014110207
home_team            SF
game_date     11/2/2014
Name: 1408, dtype: object ['11', '2', '2014']
game_id      2014110208
home_team            NE
game_date     11/2/2014
Name: 1409, dtype: object ['11', '2', '2014']
game_id      2014110209
home_team           SEA
game_date     11/2/2014
Name: 1410, dtype: object ['11', '2', '2014']
game_id      2014110210
home_team           PIT
game_date     11/2/2014
Name: 1411, dtype: object ['11', '2', '2014']
game_id      2014110300
home_team           NYG
game_date     11/3/2014
Name: 1412, dtype: object ['11', '3', '2014']
game_id      2014110600
home_team           CIN
game_date     11/6/2014
Name: 1413, dtype: object ['11', '6', '2014']
game_id      2014110900
home_team           BAL
game_date     11/9/2014
Name: 1414, dtype: object ['11', '9', '2014']
game_id      2014110901
home_team           BUF
game_date     11/9/2014
Name: 1415, dtype: object ['11', '9', '2014']
game_id      2014110902
home_team           DET
game_date     11/9/2014
Name: 1416, dtype: object ['11', '9', '2014']
game_id      2014110903
home_team           JAX
game_date     11/9/2014
Name: 1417, dtype: object ['11', '9', '2014']
game_id      2014110904
home_team            NO
game_date     11/9/2014
Name: 1418, dtype: object ['11', '9', '2014']
game_id      2014110905
home_team           NYJ
game_date     11/9/2014
Name: 1419, dtype: object ['11', '9', '2014']
game_id      2014110906
home_team            TB
game_date     11/9/2014
Name: 1420, dtype: object ['11', '9', '2014']
game_id      2014110907
home_team           OAK
game_date     11/9/2014
Name: 1421, dtype: object ['11', '9', '2014']
game_id      2014110908
home_team           ARI
game_date     11/9/2014
Name: 1422, dtype: object ['11', '9', '2014']
game_id      2014110909
home_team           SEA
game_date     11/9/2014
Name: 1423, dtype: object ['11', '9', '2014']
game_id      2014110910
home_team            GB
game_date     11/9/2014
Name: 1424, dtype: object ['11', '9', '2014']
game_id      2014111000
home_team           PHI
game_date    11/10/2014
Name: 1425, dtype: object ['11', '10', '2014']
game_id      2014111300
home_team           MIA
game_date    11/13/2014
Name: 1426, dtype: object ['11', '13', '2014']
game_id      2014111600
home_team           CAR
game_date    11/16/2014
Name: 1427, dtype: object ['11', '16', '2014']
game_id      2014111601
home_team           CHI
game_date    11/16/2014
Name: 1428, dtype: object ['11', '16', '2014']
game_id      2014111602
home_team           CLE
game_date    11/16/2014
Name: 1429, dtype: object ['11', '16', '2014']
game_id      2014111603
home_team            GB
game_date    11/16/2014
Name: 1430, dtype: object ['11', '16', '2014']
game_id      2014111604
home_team            KC
game_date    11/16/2014
Name: 1431, dtype: object ['11', '16', '2014']
game_id      2014111605
home_team            NO
game_date    11/16/2014
Name: 1432, dtype: object ['11', '16', '2014']
game_id      2014111606
home_team           NYG
game_date    11/16/2014
Name: 1433, dtype: object ['11', '16', '2014']
game_id      2014111607
home_team           STL
game_date    11/16/2014
Name: 1434, dtype: object ['11', '16', '2014']
game_id      2014111608
home_team           WAS
game_date    11/16/2014
Name: 1435, dtype: object ['11', '16', '2014']
game_id      2014111609
home_team            SD
game_date    11/16/2014
Name: 1436, dtype: object ['11', '16', '2014']
game_id      2014111610
home_team           ARI
game_date    11/16/2014
Name: 1437, dtype: object ['11', '16', '2014']
game_id      2014111611
home_team           IND
game_date    11/16/2014
Name: 1438, dtype: object ['11', '16', '2014']
game_id      2014111700
home_team           TEN
game_date    11/17/2014
Name: 1439, dtype: object ['11', '17', '2014']
game_id      2014112000
home_team           OAK
game_date    11/20/2014
Name: 1440, dtype: object ['11', '20', '2014']
game_id      2014112300
home_team           ATL
game_date    11/23/2014
Name: 1441, dtype: object ['11', '23', '2014']
game_id      2014112301
home_team           BUF
game_date    11/23/2014
Name: 1442, dtype: object ['11', '23', '2014']
game_id      2014112302
home_team           CHI
game_date    11/23/2014
Name: 1443, dtype: object ['11', '23', '2014']
game_id      2014112303
home_team           HOU
game_date    11/23/2014
Name: 1444, dtype: object ['11', '23', '2014']
game_id      2014112304
home_team           IND
game_date    11/23/2014
Name: 1445, dtype: object ['11', '23', '2014']
game_id      2014112305
home_team           MIN
game_date    11/23/2014
Name: 1446, dtype: object ['11', '23', '2014']
game_id      2014112306
home_team            NE
game_date    11/23/2014
Name: 1447, dtype: object ['11', '23', '2014']
game_id      2014112307
home_team           PHI
game_date    11/23/2014
Name: 1448, dtype: object ['11', '23', '2014']
game_id      2014112308
home_team            SD
game_date    11/23/2014
Name: 1449, dtype: object ['11', '23', '2014']
game_id      2014112309
home_team           SEA
game_date    11/23/2014
Name: 1450, dtype: object ['11', '23', '2014']
game_id      2014112310
home_team           DEN
game_date    11/23/2014
Name: 1451, dtype: object ['11', '23', '2014']
game_id      2014112311
home_team            SF
game_date    11/23/2014
Name: 1452, dtype: object ['11', '23', '2014']
game_id      2014112312
home_team           NYG
game_date    11/23/2014
Name: 1453, dtype: object ['11', '23', '2014']
game_id      2014112400
home_team            NO
game_date    11/24/2014
Name: 1454, dtype: object ['11', '24', '2014']
game_id      2014112700
home_team           DET
game_date    11/27/2014
Name: 1455, dtype: object ['11', '27', '2014']
game_id      2014112701
home_team           DAL
game_date    11/27/2014
Name: 1456, dtype: object ['11', '27', '2014']
game_id      2014112702
home_team            SF
game_date    11/27/2014
Name: 1457, dtype: object ['11', '27', '2014']
game_id      2014113000
home_team           BAL
game_date    11/30/2014
Name: 1458, dtype: object ['11', '30', '2014']
game_id      2014113001
home_team           BUF
game_date    11/30/2014
Name: 1459, dtype: object ['11', '30', '2014']
game_id      2014113002
home_team           HOU
game_date    11/30/2014
Name: 1460, dtype: object ['11', '30', '2014']
game_id      2014113003
home_team           IND
game_date    11/30/2014
Name: 1461, dtype: object ['11', '30', '2014']
game_id      2014113004
home_team           JAX
game_date    11/30/2014
Name: 1462, dtype: object ['11', '30', '2014']
game_id      2014113005
home_team           MIN
game_date    11/30/2014
Name: 1463, dtype: object ['11', '30', '2014']
game_id      2014113006
home_team           PIT
game_date    11/30/2014
Name: 1464, dtype: object ['11', '30', '2014']
game_id      2014113007
home_team           STL
game_date    11/30/2014
Name: 1465, dtype: object ['11', '30', '2014']
game_id      2014113008
home_team            TB
game_date    11/30/2014
Name: 1466, dtype: object ['11', '30', '2014']
game_id      2014113009
home_team           ATL
game_date    11/30/2014
Name: 1467, dtype: object ['11', '30', '2014']
game_id      2014113010
home_team            GB
game_date    11/30/2014
Name: 1468, dtype: object ['11', '30', '2014']
game_id      2014113011
home_team            KC
game_date    11/30/2014
Name: 1469, dtype: object ['11', '30', '2014']
game_id      2014120100
home_team           NYJ
game_date     12/1/2014
Name: 1470, dtype: object ['12', '1', '2014']
game_id      2014120400
home_team           CHI
game_date     12/4/2014
Name: 1471, dtype: object ['12', '4', '2014']
game_id      2014120700
home_team           CIN
game_date     12/7/2014
Name: 1472, dtype: object ['12', '7', '2014']
game_id      2014120701
home_team           CLE
game_date     12/7/2014
Name: 1473, dtype: object ['12', '7', '2014']
game_id      2014120702
home_team           DET
game_date     12/7/2014
Name: 1474, dtype: object ['12', '7', '2014']
game_id      2014120703
home_team           JAX
game_date     12/7/2014
Name: 1475, dtype: object ['12', '7', '2014']
game_id      2014120704
home_team           MIA
game_date     12/7/2014
Name: 1476, dtype: object ['12', '7', '2014']
game_id      2014120705
home_team           MIN
game_date     12/7/2014
Name: 1477, dtype: object ['12', '7', '2014']
game_id      2014120706
home_team            NO
game_date     12/7/2014
Name: 1478, dtype: object ['12', '7', '2014']
game_id      2014120707
home_team           TEN
game_date     12/7/2014
Name: 1479, dtype: object ['12', '7', '2014']
game_id      2014120708
home_team           WAS
game_date     12/7/2014
Name: 1480, dtype: object ['12', '7', '2014']
game_id      2014120709
home_team           ARI
game_date     12/7/2014
Name: 1481, dtype: object ['12', '7', '2014']
game_id      2014120710
home_team           DEN
game_date     12/7/2014
Name: 1482, dtype: object ['12', '7', '2014']
game_id      2014120711
home_team           OAK
game_date     12/7/2014
Name: 1483, dtype: object ['12', '7', '2014']
game_id      2014120712
home_team           PHI
game_date     12/7/2014
Name: 1484, dtype: object ['12', '7', '2014']
game_id      2014120713
home_team            SD
game_date     12/7/2014
Name: 1485, dtype: object ['12', '7', '2014']
game_id      2014120800
home_team            GB
game_date     12/8/2014
Name: 1486, dtype: object ['12', '8', '2014']
game_id      2014121100
home_team           STL
game_date    12/11/2014
Name: 1487, dtype: object ['12', '11', '2014']
game_id      2014121400
home_team           ATL
game_date    12/14/2014
Name: 1488, dtype: object ['12', '14', '2014']
game_id      2014121401
home_team           BAL
game_date    12/14/2014
Name: 1489, dtype: object ['12', '14', '2014']
game_id      2014121402
home_team           BUF
game_date    12/14/2014
Name: 1490, dtype: object ['12', '14', '2014']
game_id      2014121403
home_team           CAR
game_date    12/14/2014
Name: 1491, dtype: object ['12', '14', '2014']
game_id      2014121404
home_team           CLE
game_date    12/14/2014
Name: 1492, dtype: object ['12', '14', '2014']
game_id      2014121405
home_team           DET
game_date    12/14/2014
Name: 1493, dtype: object ['12', '14', '2014']
game_id      2014121406
home_team           IND
game_date    12/14/2014
Name: 1494, dtype: object ['12', '14', '2014']
game_id      2014121407
home_team            KC
game_date    12/14/2014
Name: 1495, dtype: object ['12', '14', '2014']
game_id      2014121408
home_team            NE
game_date    12/14/2014
Name: 1496, dtype: object ['12', '14', '2014']
game_id      2014121409
home_team           NYG
game_date    12/14/2014
Name: 1497, dtype: object ['12', '14', '2014']
game_id      2014121410
home_team            SD
game_date    12/14/2014
Name: 1498, dtype: object ['12', '14', '2014']
game_id      2014121411
home_team           TEN
game_date    12/14/2014
Name: 1499, dtype: object ['12', '14', '2014']
game_id      2014121412
home_team           SEA
game_date    12/14/2014
Name: 1500, dtype: object ['12', '14', '2014']
game_id      2014121413
home_team           PHI
game_date    12/14/2014
Name: 1501, dtype: object ['12', '14', '2014']
game_id      2014121500
home_team           CHI
game_date    12/15/2014
Name: 1502, dtype: object ['12', '15', '2014']
game_id      2014121800
home_team           JAX
game_date    12/18/2014
Name: 1503, dtype: object ['12', '18', '2014']
game_id      2014122000
home_team           WAS
game_date    12/20/2014
Name: 1504, dtype: object ['12', '20', '2014']
game_id      2014122001
home_team            SF
game_date    12/20/2014
Name: 1505, dtype: object ['12', '20', '2014']
game_id      2014122100
home_team           CAR
game_date    12/21/2014
Name: 1506, dtype: object ['12', '21', '2014']
game_id      2014122101
home_team           CHI
game_date    12/21/2014
Name: 1507, dtype: object ['12', '21', '2014']
game_id      2014122102
home_team           HOU
game_date    12/21/2014
Name: 1508, dtype: object ['12', '21', '2014']
game_id      2014122103
home_team           MIA
game_date    12/21/2014
Name: 1509, dtype: object ['12', '21', '2014']
game_id      2014122104
home_team            NO
game_date    12/21/2014
Name: 1510, dtype: object ['12', '21', '2014']
game_id      2014122105
home_team           NYJ
game_date    12/21/2014
Name: 1511, dtype: object ['12', '21', '2014']
game_id      2014122106
home_team           PIT
game_date    12/21/2014
Name: 1512, dtype: object ['12', '21', '2014']
game_id      2014122107
home_team            TB
game_date    12/21/2014
Name: 1513, dtype: object ['12', '21', '2014']
game_id      2014122108
home_team           STL
game_date    12/21/2014
Name: 1514, dtype: object ['12', '21', '2014']
game_id      2014122109
home_team           DAL
game_date    12/21/2014
Name: 1515, dtype: object ['12', '21', '2014']
game_id      2014122110
home_team           OAK
game_date    12/21/2014
Name: 1516, dtype: object ['12', '21', '2014']
game_id      2014122111
home_team           ARI
game_date    12/21/2014
Name: 1517, dtype: object ['12', '21', '2014']
game_id      2014122200
home_team           CIN
game_date    12/22/2014
Name: 1518, dtype: object ['12', '22', '2014']
game_id      2014122800
home_team           ATL
game_date    12/28/2014
Name: 1519, dtype: object ['12', '28', '2014']
game_id      2014122801
home_team           BAL
game_date    12/28/2014
Name: 1520, dtype: object ['12', '28', '2014']
game_id      2014122802
home_team            GB
game_date    12/28/2014
Name: 1521, dtype: object ['12', '28', '2014']
game_id      2014122803
home_team           HOU
game_date    12/28/2014
Name: 1522, dtype: object ['12', '28', '2014']
game_id      2014122804
home_team            KC
game_date    12/28/2014
Name: 1523, dtype: object ['12', '28', '2014']
game_id      2014122805
home_team           MIA
game_date    12/28/2014
Name: 1524, dtype: object ['12', '28', '2014']
game_id      2014122806
home_team           MIN
game_date    12/28/2014
Name: 1525, dtype: object ['12', '28', '2014']
game_id      2014122807
home_team            NE
game_date    12/28/2014
Name: 1526, dtype: object ['12', '28', '2014']
game_id      2014122808
home_team           NYG
game_date    12/28/2014
Name: 1527, dtype: object ['12', '28', '2014']
game_id      2014122809
home_team           PIT
game_date    12/28/2014
Name: 1528, dtype: object ['12', '28', '2014']
game_id      2014122810
home_team            TB
game_date    12/28/2014
Name: 1529, dtype: object ['12', '28', '2014']
game_id      2014122811
home_team           TEN
game_date    12/28/2014
Name: 1530, dtype: object ['12', '28', '2014']
game_id      2014122812
home_team           WAS
game_date    12/28/2014
Name: 1531, dtype: object ['12', '28', '2014']
game_id      2014122813
home_team           DEN
game_date    12/28/2014
Name: 1532, dtype: object ['12', '28', '2014']
game_id      2014122814
home_team            SF
game_date    12/28/2014
Name: 1533, dtype: object ['12', '28', '2014']
game_id      2014122815
home_team           SEA
game_date    12/28/2014
Name: 1534, dtype: object ['12', '28', '2014']
game_id      2015091000
home_team            NE
game_date     9/10/2015
Name: 1535, dtype: object ['9', '10', '2015']
game_id      2015091300
home_team           CHI
game_date     9/13/2015
Name: 1536, dtype: object ['9', '13', '2015']
game_id      2015091301
home_team           STL
game_date     9/13/2015
Name: 1537, dtype: object ['9', '13', '2015']
game_id      2015091302
home_team           JAX
game_date     9/13/2015
Name: 1538, dtype: object ['9', '13', '2015']
game_id      2015091303
home_team           WAS
game_date     9/13/2015
Name: 1539, dtype: object ['9', '13', '2015']
game_id      2015091304
home_team           BUF
game_date     9/13/2015
Name: 1540, dtype: object ['9', '13', '2015']
game_id      2015091305
home_team           NYJ
game_date     9/13/2015
Name: 1541, dtype: object ['9', '13', '2015']
game_id      2015091306
home_team           HOU
game_date     9/13/2015
Name: 1542, dtype: object ['9', '13', '2015']
game_id      2015091307
home_team           ARI
game_date     9/13/2015
Name: 1543, dtype: object ['9', '13', '2015']
game_id      2015091308
home_team            SD
game_date     9/13/2015
Name: 1544, dtype: object ['9', '13', '2015']
game_id      2015091309
home_team           DEN
game_date     9/13/2015
Name: 1545, dtype: object ['9', '13', '2015']
game_id      2015091310
home_team           OAK
game_date     9/13/2015
Name: 1546, dtype: object ['9', '13', '2015']
game_id      2015091311
home_team            TB
game_date     9/13/2015
Name: 1547, dtype: object ['9', '13', '2015']
game_id      2015091312
home_team           DAL
game_date     9/13/2015
Name: 1548, dtype: object ['9', '13', '2015']
game_id      2015091400
home_team           ATL
game_date     9/14/2015
Name: 1549, dtype: object ['9', '14', '2015']
game_id      2015091401
home_team            SF
game_date     9/14/2015
Name: 1550, dtype: object ['9', '14', '2015']
game_id      2015091700
home_team            KC
game_date     9/17/2015
Name: 1551, dtype: object ['9', '17', '2015']
game_id      2015092000
home_team           CAR
game_date     9/20/2015
Name: 1552, dtype: object ['9', '20', '2015']
game_id      2015092001
home_team           BUF
game_date     9/20/2015
Name: 1553, dtype: object ['9', '20', '2015']
game_id      2015092002
home_team           CIN
game_date     9/20/2015
Name: 1554, dtype: object ['9', '20', '2015']
game_id      2015092003
home_team           CLE
game_date     9/20/2015
Name: 1555, dtype: object ['9', '20', '2015']
game_id      2015092004
home_team           NYG
game_date     9/20/2015
Name: 1556, dtype: object ['9', '20', '2015']
game_id      2015092005
home_team           WAS
game_date     9/20/2015
Name: 1557, dtype: object ['9', '20', '2015']
game_id      2015092006

Name: 1673, dtype: object ['11', '15', '2015']
game_id      2015111506
home_team           BAL
game_date    11/15/2015
Name: 1674, dtype: object ['11', '15', '2015']
game_id      2015111507
home_team           PIT
game_date    11/15/2015
Name: 1675, dtype: object ['11', '15', '2015']
game_id      2015111508
home_team           OAK
game_date    11/15/2015
Name: 1676, dtype: object ['11', '15', '2015']
game_id      2015111509
home_team           NYG
game_date    11/15/2015
Name: 1677, dtype: object ['11', '15', '2015']
game_id      2015111510
home_team           DEN
game_date    11/15/2015
Name: 1678, dtype: object ['11', '15', '2015']
game_id      2015111511
home_team           SEA
game_date    11/15/2015
Name: 1679, dtype: object ['11', '15', '2015']
game_id      2015111600
home_team           CIN
game_date    11/16/2015
Name: 1680, dtype: object ['11', '16', '2015']
game_id      2015111900
home_team           JAX
game_date    11/19/2015
Name: 1681, dtype: object ['11', '19', '2015']
game_id      2015112200
home_team           CHI
game_date    11/22/2015
Name: 1682, dtype: object ['11', '22', '2015']
game_id      2015112201
home_team           DET
game_date    11/22/2015
Name: 1683, dtype: object ['11', '22', '2015']
game_id      2015112202
home_team           ATL
game_date    11/22/2015
Name: 1684, dtype: object ['11', '22', '2015']
game_id      2015112203
home_team           HOU
game_date    11/22/2015
Name: 1685, dtype: object ['11', '22', '2015']
game_id      2015112204
home_team           PHI
game_date    11/22/2015
Name: 1686, dtype: object ['11', '22', '2015']
game_id      2015112205
home_team           MIN
game_date    11/22/2015
Name: 1687, dtype: object ['11', '22', '2015']
game_id      2015112206
home_team           CAR
game_date    11/22/2015
Name: 1688, dtype: object ['11', '22', '2015']
game_id      2015112207
home_team           MIA
game_date    11/22/2015
Name: 1689, dtype: object ['11', '22', '2015']
game_id      2015112208
home_team           BAL
game_date    11/22/2015
Name: 1690, dtype: object ['11', '22', '2015']
game_id      2015112209
home_team           ARI
game_date    11/22/2015
Name: 1691, dtype: object ['11', '22', '2015']
game_id      2015112210
home_team           SEA
game_date    11/22/2015
Name: 1692, dtype: object ['11', '22', '2015']
game_id      2015112211
home_team            SD
game_date    11/22/2015
Name: 1693, dtype: object ['11', '22', '2015']
game_id      2015112300
home_team            NE
game_date    11/23/2015
Name: 1694, dtype: object ['11', '23', '2015']
game_id      2015112600
home_team           DET
game_date    11/26/2015
Name: 1695, dtype: object ['11', '26', '2015']
game_id      2015112601
home_team           DAL
game_date    11/26/2015
Name: 1696, dtype: object ['11', '26', '2015']
game_id      2015112602
home_team            GB
game_date    11/26/2015
Name: 1697, dtype: object ['11', '26', '2015']
game_id      2015112900
home_team           WAS
game_date    11/29/2015
Name: 1698, dtype: object ['11', '29', '2015']
game_id      2015112901
home_team           ATL
game_date    11/29/2015
Name: 1699, dtype: object ['11', '29', '2015']
game_id      2015112902
home_team           CIN
game_date    11/29/2015
Name: 1700, dtype: object ['11', '29', '2015']
game_id      2015112903
home_team           HOU
game_date    11/29/2015
Name: 1701, dtype: object ['11', '29', '2015']
game_id      2015112904
home_team           IND
game_date    11/29/2015
Name: 1702, dtype: object ['11', '29', '2015']
game_id      2015112905
home_team           NYJ
game_date    11/29/2015
Name: 1703, dtype: object ['11', '29', '2015']
game_id      2015112906
home_team           JAX
game_date    11/29/2015
Name: 1704, dtype: object ['11', '29', '2015']
game_id      2015112907
home_team           TEN
game_date    11/29/2015
Name: 1705, dtype: object ['11', '29', '2015']
game_id      2015112908
home_team            KC
game_date    11/29/2015
Name: 1706, dtype: object ['11', '29', '2015']
game_id      2015112909
home_team            SF
game_date    11/29/2015
Name: 1707, dtype: object ['11', '29', '2015']
game_id      2015112910
home_team           SEA
game_date    11/29/2015
Name: 1708, dtype: object ['11', '29', '2015']
game_id      2015112911
home_team           DEN
game_date    11/29/2015
Name: 1709, dtype: object ['11', '29', '2015']
game_id      2015113000
home_team           CLE
game_date    11/30/2015
Name: 1710, dtype: object ['11', '30', '2015']
game_id      2015120300
home_team           DET
game_date     12/3/2015
Name: 1711, dtype: object ['12', '3', '2015']
game_id      2015120600
home_team           NYG
game_date     12/6/2015
Name: 1712, dtype: object ['12', '6', '2015']
game_id      2015120601
home_team           BUF
game_date     12/6/2015
Name: 1713, dtype: object ['12', '6', '2015']
game_id      2015120602
home_team           MIA
game_date     12/6/2015
Name: 1714, dtype: object ['12', '6', '2015']
game_id      2015120603
home_team           CLE
game_date     12/6/2015
Name: 1715, dtype: object ['12', '6', '2015']
game_id      2015120604
home_team           TEN
game_date     12/6/2015
Name: 1716, dtype: object ['12', '6', '2015']
game_id      2015120605
home_team           CHI
game_date     12/6/2015
Name: 1717, dtype: object ['12', '6', '2015']
game_id      2015120606
home_team           MIN
game_date     12/6/2015
Name: 1718, dtype: object ['12', '6', '2015']
game_id      2015120607
home_team            NO
game_date     12/6/2015
Name: 1719, dtype: object ['12', '6', '2015']
game_id      2015120608
home_team            TB
game_date     12/6/2015
Name: 1720, dtype: object ['12', '6', '2015']
game_id      2015120609
home_team           STL
game_date     12/6/2015
Name: 1721, dtype: object ['12', '6', '2015']
game_id      2015120610
home_team           OAK
game_date     12/6/2015
Name: 1722, dtype: object ['12', '6', '2015']
game_id      2015120611
home_team            SD
game_date     12/6/2015
Name: 1723, dtype: object ['12', '6', '2015']
game_id      2015120612
home_team            NE
game_date     12/6/2015
Name: 1724, dtype: object ['12', '6', '2015']
game_id      2015120613
home_team           PIT
game_date     12/6/2015
Name: 1725, dtype: object ['12', '6', '2015']
game_id      2015120700
home_team           WAS
game_date     12/7/2015
Name: 1726, dtype: object ['12', '7', '2015']
game_id      2015121000
home_team           ARI
game_date    12/10/2015
Name: 1727, dtype: object ['12', '10', '2015']
game_id      2015121300
home_team           PHI
game_date    12/13/2015
Name: 1728, dtype: object ['12', '13', '2015']
game_id      2015121301
home_team           NYJ
game_date    12/13/2015
Name: 1729, dtype: object ['12', '13', '2015']
game_id      2015121302
home_team           CIN
game_date    12/13/2015
Name: 1730, dtype: object ['12', '13', '2015']
game_id      2015121303
home_team           HOU
game_date    12/13/2015
Name: 1731, dtype: object ['12', '13', '2015']
game_id      2015121304
home_team           JAX
game_date    12/13/2015
Name: 1732, dtype: object ['12', '13', '2015']
game_id      2015121305
home_team            KC
game_date    12/13/2015
Name: 1733, dtype: object ['12', '13', '2015']
game_id      2015121306
home_team           CHI
game_date    12/13/2015
Name: 1734, dtype: object ['12', '13', '2015']
game_id      2015121307
home_team           CAR
game_date    12/13/2015
Name: 1735, dtype: object ['12', '13', '2015']
game_id      2015121308
home_team            TB
game_date    12/13/2015
Name: 1736, dtype: object ['12', '13', '2015']
game_id      2015121309
home_team           STL
game_date    12/13/2015
Name: 1737, dtype: object ['12', '13', '2015']
game_id      2015121310
home_team           CLE
game_date    12/13/2015
Name: 1738, dtype: object ['12', '13', '2015']
game_id      2015121311
home_team           DEN
game_date    12/13/2015
Name: 1739, dtype: object ['12', '13', '2015']
game_id      2015121312
home_team            GB
game_date    12/13/2015
Name: 1740, dtype: object ['12', '13', '2015']
game_id      2015121313
home_team           BAL
game_date    12/13/2015
Name: 1741, dtype: object ['12', '13', '2015']
game_id      2015121400
home_team           MIA
game_date    12/14/2015
Name: 1742, dtype: object ['12', '14', '2015']
game_id      2015121700
home_team           STL
game_date    12/17/2015
Name: 1743, dtype: object ['12', '17', '2015']
game_id      2015121900
home_team           DAL
game_date    12/19/2015
Name: 1744, dtype: object ['12', '19', '2015']
game_id      2015122000
home_team           NYG
game_date    12/20/2015
Name: 1745, dtype: object ['12', '20', '2015']
game_id      2015122001
home_team           PHI
game_date    12/20/2015
Name: 1746, dtype: object ['12', '20', '2015']
game_id      2015122002
home_team           MIN
game_date    12/20/2015
Name: 1747, dtype: object ['12', '20', '2015']
game_id      2015122003
home_team           JAX
game_date    12/20/2015
Name: 1748, dtype: object ['12', '20', '2015']
game_id      2015122004
home_team           IND
game_date    12/20/2015
Name: 1749, dtype: object ['12', '20', '2015']
game_id      2015122005
home_team            NE
game_date    12/20/2015
Name: 1750, dtype: object ['12', '20', '2015']
game_id      2015122006
home_team           BAL
game_date    12/20/2015
Name: 1751, dtype: object ['12', '20', '2015']
game_id      2015122007
home_team           WAS
game_date    12/20/2015
Name: 1752, dtype: object ['12', '20', '2015']
game_id      2015122008
home_team           SEA
game_date    12/20/2015
Name: 1753, dtype: object ['12', '20', '2015']
game_id      2015122009
home_team           OAK
game_date    12/20/2015
Name: 1754, dtype: object ['12', '20', '2015']
game_id      2015122010
home_team           PIT
game_date    12/20/2015
Name: 1755, dtype: object ['12', '20', '2015']
game_id      2015122011
home_team            SD
game_date    12/20/2015
Name: 1756, dtype: object ['12', '20', '2015']
game_id      2015122012
home_team            SF
game_date    12/20/2015
Name: 1757, dtype: object ['12', '20', '2015']
game_id      2015122100
home_team            NO
game_date    12/21/2015
Name: 1758, dtype: object ['12', '21', '2015']
game_id      2015122400
home_team           OAK
game_date    12/24/2015
Name: 1759, dtype: object ['12', '24', '2015']
game_id      2015122600
home_team           PHI
game_date    12/26/2015
Name: 1760, dtype: object ['12', '26', '2015']
game_id      2015122700
home_team            NO
game_date    12/27/2015
Name: 1761, dtype: object ['12', '27', '2015']
game_id      2015122701
home_team           MIA
game_date    12/27/2015
Name: 1762, dtype: object ['12', '27', '2015']
game_id      2015122702
home_team           NYJ
game_date    12/27/2015
Name: 1763, dtype: object ['12', '27', '2015']
game_id      2015122703
home_team           TEN
game_date    12/27/2015
Name: 1764, dtype: object ['12', '27', '2015']
game_id      2015122704
home_team            KC
game_date    12/27/2015
Name: 1765, dtype: object ['12', '27', '2015']
game_id      2015122705
home_team           DET
game_date    12/27/2015
Name: 1766, dtype: object ['12', '27', '2015']
game_id      2015122706
home_team           MIN
game_date    12/27/2015
Name: 1767, dtype: object ['12', '27', '2015']
game_id      2015122707
home_team           ATL
game_date    12/27/2015
Name: 1768, dtype: object ['12', '27', '2015']
game_id      2015122708
home_team            TB
game_date    12/27/2015
Name: 1769, dtype: object ['12', '27', '2015']
game_id      2015122709
home_team           BUF
game_date    12/27/2015
Name: 1770, dtype: object ['12', '27', '2015']
game_id      2015122710
home_team           ARI
game_date    12/27/2015
Name: 1771, dtype: object ['12', '27', '2015']
game_id      2015122711
home_team           SEA
game_date    12/27/2015
Name: 1772, dtype: object ['12', '27', '2015']
game_id      2015122712
home_team           BAL
game_date    12/27/2015
Name: 1773, dtype: object ['12', '27', '2015']
game_id      2015122800
home_team           DEN
game_date    12/28/2015
Name: 1774, dtype: object ['12', '28', '2015']
game_id      2016010300
home_team           BUF
game_date      1/3/2016
Name: 1775, dtype: object ['1', '3', '2016']
game_id      2016010301
home_team           MIA
game_date      1/3/2016
Name: 1776, dtype: object ['1', '3', '2016']
game_id      2016010302
home_team           CIN
game_date      1/3/2016
Name: 1777, dtype: object ['1', '3', '2016']
game_id      2016010303
home_team           CLE
game_date      1/3/2016
Name: 1778, dtype: object ['1', '3', '2016']
game_id      2016010304
home_team           HOU
game_date      1/3/2016
Name: 1779, dtype: object ['1', '3', '2016']
game_id      2016010305
home_team           IND
game_date      1/3/2016
Name: 1780, dtype: object ['1', '3', '2016']
game_id      2016010306
home_team            KC
game_date      1/3/2016
Name: 1781, dtype: object ['1', '3', '2016']
game_id      2016010307
home_team           DAL
game_date      1/3/2016
Name: 1782, dtype: object ['1', '3', '2016']
game_id      2016010308
home_team           NYG
game_date      1/3/2016
Name: 1783, dtype: object ['1', '3', '2016']
game_id      2016010309
home_team           CHI
game_date      1/3/2016
Name: 1784, dtype: object ['1', '3', '2016']
game_id      2016010310
home_team            GB
game_date      1/3/2016
Name: 1785, dtype: object ['1', '3', '2016']
game_id      2016010311
home_team           ATL
game_date      1/3/2016
Name: 1786, dtype: object ['1', '3', '2016']
game_id      2016010312
home_team           CAR
game_date      1/3/2016
Name: 1787, dtype: object ['1', '3', '2016']
game_id      2016010313
home_team           DEN
game_date      1/3/2016
Name: 1788, dtype: object ['1', '3', '2016']
game_id      2016010314
home_team           ARI
game_date      1/3/2016
Name: 1789, dtype: object ['1', '3', '2016']
game_id      2016010315
home_team            SF
game_date      1/3/2016
Name: 1790, dtype: object ['1', '3', '2016']
game_id      2016090800
home_team           DEN
game_date      9/8/2016
Name: 1791, dtype: object ['9', '8', '2016']
game_id      2016091100
home_team           ATL
game_date     9/11/2016
Name: 1792, dtype: object ['9', '11', '2016']
game_id      2016091101
home_team           BAL
game_date     9/11/2016
Name: 1793, dtype: object ['9', '11', '2016']
game_id      2016091102
home_team           HOU
game_date     9/11/2016
Name: 1794, dtype: object ['9', '11', '2016']
game_id      2016091103
home_team           JAX
game_date     9/11/2016
Name: 1795, dtype: object ['9', '11', '2016']
game_id      2016091104
home_team            KC
game_date     9/11/2016
Name: 1796, dtype: object ['9', '11', '2016']
game_id      2016091105
home_team            NO
game_date     9/11/2016
Name: 1797, dtype: object ['9', '11', '2016']
game_id      2016091106
home_team           NYJ
game_date     9/11/2016
Name: 1798, dtype: object ['9', '11', '2016']
game_id      2016091107
home_team           PHI
game_date     9/11/2016
Name: 1799, dtype: object ['9', '11', '2016']
game_id      2016091108
home_team           TEN
game_date     9/11/2016
Name: 1800, dtype: object ['9', '11', '2016']
game_id      2016091109
home_team           SEA
game_date     9/11/2016
Name: 1801, dtype: object ['9', '11', '2016']
game_id      2016091110
home_team           DAL
game_date     9/11/2016
Name: 1802, dtype: object ['9', '11', '2016']
game_id      2016091111
home_team           IND
game_date     9/11/2016
Name: 1803, dtype: object ['9', '11', '2016']
game_id      2016091112
home_team           ARI
game_date     9/11/2016
Name: 1804, dtype: object ['9', '11', '2016']
game_id      2016091200
home_team           WAS
game_date     9/12/2016
Name: 1805, dtype: object ['9', '12', '2016']
game_id      2016091201
home_team            SF
game_date     9/12/2016
Name: 1806, dtype: object ['9', '12', '2016']
game_id      2016091500
home_team           BUF
game_date     9/15/2016
Name: 1807, dtype: object ['9', '15', '2016']
game_id      2016091800
home_team           CAR
game_date     9/18/2016
Name: 1808, dtype: object ['9', '18', '2016']
game_id      2016091801
home_team           CLE
game_date     9/18/2016
Name: 1809, dtype: object ['9', '18', '2016']
game_id      2016091802
home_team           DET
game_date     9/18/2016
Name: 1810, dtype: object ['9', '18', '2016']
game_id      2016091803
home_team           HOU
game_date     9/18/2016
Name: 1811, dtype: object ['9', '18', '2016']
game_id      2016091804
home_team            NE
game_date     9/18/2016
Name: 1812, dtype: object ['9', '18', '2016']
game_id      2016091805
home_team           NYG
game_date     9/18/2016
Name: 1813, dtype: object ['9', '18', '2016']
game_id      2016091806
home_team           PIT
game_date     9/18/2016
Name: 1814, dtype: object ['9', '18', '2016']
game_id      2016091807
home_team           WAS
game_date     9/18/2016
Name: 1815, dtype: object ['9', '18', '2016']
game_id      2016091808
home_team           ARI
game_date     9/18/2016
Name: 1816, dtype: object ['9', '18', '2016']
game_id      2016091809
home_team            LA
game_date     9/18/2016
Name: 1817, dtype: object ['9', '18', '2016']
game_id      2016091810
home_team           DEN
game_date     9/18/2016
Name: 1818, dtype: object ['9', '18', '2016']
game_id      2016091811
home_team           OAK
game_date     9/18/2016
Name: 1819, dtype: object ['9', '18', '2016']
game_id      2016091812
home_team            SD
game_date     9/18/2016
Name: 1820, dtype: object ['9', '18', '2016']
game_id      2016091813
home_team           MIN
game_date     9/18/2016
Name: 1821, dtype: object ['9', '18', '2016']
game_id      2016091900
home_team           CHI
game_date     9/19/2016
Name: 1822, dtype: object ['9', '19', '2016']
game_id      2016092200
home_team            NE
game_date     9/22/2016
Name: 1823, dtype: object ['9', '22', '2016']
game_id      2016092500
home_team           BUF
game_date     9/25/2016
Name: 1824, dtype: object ['9', '25', '2016']
game_id      2016092501
home_team           CAR
game_date     9/25/2016
Name: 1825, dtype: object ['9', '25', '2016']
game_id      2016092502
home_team           CIN
game_date     9/25/2016
Name: 1826, dtype: object ['9', '25', '2016']
game_id      2016092503
home_team            GB
game_date     9/25/2016
Name: 1827, dtype: object ['9', '25', '2016']
game_id      2016092504
home_team           JAX
game_date     9/25/2016
Name: 1828, dtype: object ['9', '25', '2016']
game_id      2016092505
home_team           MIA
game_date     9/25/2016
Name: 1829, dtype: object ['9', '25', '2016']
game_id      2016092506
home_team           NYG
game_date     9/25/2016
Name: 1830, dtype: object ['9', '25', '2016']
game_id      2016092507
home_team           TEN
game_date     9/25/2016
Name: 1831, dtype: object ['9', '25', '2016']
game_id      2016092508
home_team           SEA
game_date     9/25/2016
Name: 1832, dtype: object ['9', '25', '2016']
game_id      2016092509
home_team            TB
game_date     9/25/2016
Name: 1833, dtype: object ['9', '25', '2016']
game_id      2016092510
home_team           PHI
game_date     9/25/2016
Name: 1834, dtype: object ['9', '25', '2016']
game_id      2016092511
home_team           IND
game_date     9/25/2016
Name: 1835, dtype: object ['9', '25', '2016']
game_id      2016092512
home_team            KC
game_date     9/25/2016
Name: 1836, dtype: object ['9', '25', '2016']
game_id      2016092513
home_team           DAL
game_date     9/25/2016
Name: 1837, dtype: object ['9', '25', '2016']
game_id      2016092600
home_team            NO
game_date     9/26/2016
Name: 1838, dtype: object ['9', '26', '2016']
game_id      2016092900
home_team           CIN
game_date     9/29/2016
Name: 1839, dtype: object ['9', '29', '2016']
game_id      2016100200
home_team           JAX
game_date     10/2/2016
Name: 1840, dtype: object ['10', '2', '2016']
game_id      2016100201
home_team           ATL
game_date     10/2/2016
Name: 1841, dtype: object ['10', '2', '2016']
game_id      2016100202
home_team           BAL

Name: 1954, dtype: object ['11', '24', '2016']
game_id      2016112700
home_team           ATL
game_date    11/27/2016
Name: 1955, dtype: object ['11', '27', '2016']
game_id      2016112701
home_team           BAL
game_date    11/27/2016
Name: 1956, dtype: object ['11', '27', '2016']
game_id      2016112702
home_team           BUF
game_date    11/27/2016
Name: 1957, dtype: object ['11', '27', '2016']
game_id      2016112703
home_team           CHI
game_date    11/27/2016
Name: 1958, dtype: object ['11', '27', '2016']
game_id      2016112705
home_team           HOU
game_date    11/27/2016
Name: 1959, dtype: object ['11', '27', '2016']
game_id      2016112706
home_team           MIA
game_date    11/27/2016
Name: 1960, dtype: object ['11', '27', '2016']
game_id      2016112707
home_team            NO
game_date    11/27/2016
Name: 1961, dtype: object ['11', '27', '2016']
game_id      2016112708
home_team            TB
game_date    11/27/2016
Name: 1962, dtype: object ['11', '27', '2016']
game_id      2016112709
home_team           DEN
game_date    11/27/2016
Name: 1963, dtype: object ['11', '27', '2016']
game_id      2016112710
home_team           OAK
game_date    11/27/2016
Name: 1964, dtype: object ['11', '27', '2016']
game_id      2016112711
home_team           NYJ
game_date    11/27/2016
Name: 1965, dtype: object ['11', '27', '2016']
game_id      2016112800
home_team           PHI
game_date    11/28/2016
Name: 1966, dtype: object ['11', '28', '2016']
game_id      2016120100
home_team           MIN
game_date     12/1/2016
Name: 1967, dtype: object ['12', '1', '2016']
game_id      2016120400
home_team           ATL
game_date     12/4/2016
Name: 1968, dtype: object ['12', '4', '2016']
game_id      2016120401
home_team           BAL
game_date     12/4/2016
Name: 1969, dtype: object ['12', '4', '2016']
game_id      2016120402
home_team           CHI
game_date     12/4/2016
Name: 1970, dtype: object ['12', '4', '2016']
game_id      2016120403
home_team           CIN
game_date     12/4/2016
Name: 1971, dtype: object ['12', '4', '2016']
game_id      2016120404
home_team            GB
game_date     12/4/2016
Name: 1972, dtype: object ['12', '4', '2016']
game_id      2016120405
home_team           JAX
game_date     12/4/2016
Name: 1973, dtype: object ['12', '4', '2016']
game_id      2016120406
home_team            NE
game_date     12/4/2016
Name: 1974, dtype: object ['12', '4', '2016']
game_id      2016120407
home_team            NO
game_date     12/4/2016
Name: 1975, dtype: object ['12', '4', '2016']
game_id      2016120408
home_team           OAK
game_date     12/4/2016
Name: 1976, dtype: object ['12', '4', '2016']
game_id      2016120409
home_team           ARI
game_date     12/4/2016
Name: 1977, dtype: object ['12', '4', '2016']
game_id      2016120410
home_team           PIT
game_date     12/4/2016
Name: 1978, dtype: object ['12', '4', '2016']
game_id      2016120411
home_team            SD
game_date     12/4/2016
Name: 1979, dtype: object ['12', '4', '2016']
game_id      2016120412
home_team           SEA
game_date     12/4/2016
Name: 1980, dtype: object ['12', '4', '2016']
game_id      2016120500
home_team           NYJ
game_date     12/5/2016
Name: 1981, dtype: object ['12', '5', '2016']
game_id      2016120800
home_team            KC
game_date     12/8/2016
Name: 1982, dtype: object ['12', '8', '2016']
game_id      2016121100
home_team           BUF
game_date    12/11/2016
Name: 1983, dtype: object ['12', '11', '2016']
game_id      2016121101
home_team           CAR
game_date    12/11/2016
Name: 1984, dtype: object ['12', '11', '2016']
game_id      2016121102
home_team           CLE
game_date    12/11/2016
Name: 1985, dtype: object ['12', '11', '2016']
game_id      2016121103
home_team           DET
game_date    12/11/2016
Name: 1986, dtype: object ['12', '11', '2016']
game_id      2016121104
home_team           IND
game_date    12/11/2016
Name: 1987, dtype: object ['12', '11', '2016']
game_id      2016121105
home_team           JAX
game_date    12/11/2016
Name: 1988, dtype: object ['12', '11', '2016']
game_id      2016121106
home_team           MIA
game_date    12/11/2016
Name: 1989, dtype: object ['12', '11', '2016']
game_id      2016121107
home_team           PHI
game_date    12/11/2016
Name: 1990, dtype: object ['12', '11', '2016']
game_id      2016121108
home_team            TB
game_date    12/11/2016
Name: 1991, dtype: object ['12', '11', '2016']
game_id      2016121109
home_team           TEN
game_date    12/11/2016
Name: 1992, dtype: object ['12', '11', '2016']
game_id      2016121110
home_team            SF
game_date    12/11/2016
Name: 1993, dtype: object ['12', '11', '2016']
game_id      2016121111
home_team            GB
game_date    12/11/2016
Name: 1994, dtype: object ['12', '11', '2016']
game_id      2016121112
home_team            LA
game_date    12/11/2016
Name: 1995, dtype: object ['12', '11', '2016']
game_id      2016121113
home_team           NYG
game_date    12/11/2016
Name: 1996, dtype: object ['12', '11', '2016']
game_id      2016121200
home_team            NE
game_date    12/12/2016
Name: 1997, dtype: object ['12', '12', '2016']
game_id      2016121500
home_team           SEA
game_date    12/15/2016
Name: 1998, dtype: object ['12', '15', '2016']
game_id      2016121700
home_team           NYJ
game_date    12/17/2016
Name: 1999, dtype: object ['12', '17', '2016']
game_id      2016121800
home_team           BAL
game_date    12/18/2016
Name: 2000, dtype: object ['12', '18', '2016']
game_id      2016121801
home_team           BUF
game_date    12/18/2016
Name: 2001, dtype: object ['12', '18', '2016']
game_id      2016121802
home_team           CHI
game_date    12/18/2016
Name: 2002, dtype: object ['12', '18', '2016']
game_id      2016121803
home_team           DAL
game_date    12/18/2016
Name: 2003, dtype: object ['12', '18', '2016']
game_id      2016121804
home_team           HOU
game_date    12/18/2016
Name: 2004, dtype: object ['12', '18', '2016']
game_id      2016121805
home_team            KC
game_date    12/18/2016
Name: 2005, dtype: object ['12', '18', '2016']
game_id      2016121806
home_team           MIN
game_date    12/18/2016
Name: 2006, dtype: object ['12', '18', '2016']
game_id      2016121807
home_team           NYG
game_date    12/18/2016
Name: 2007, dtype: object ['12', '18', '2016']
game_id      2016121808
home_team           ARI
game_date    12/18/2016
Name: 2008, dtype: object ['12', '18', '2016']
game_id      2016121809
home_team           ATL
game_date    12/18/2016
Name: 2009, dtype: object ['12', '18', '2016']
game_id      2016121810
home_team           DEN
game_date    12/18/2016
Name: 2010, dtype: object ['12', '18', '2016']
game_id      2016121811
home_team            SD
game_date    12/18/2016
Name: 2011, dtype: object ['12', '18', '2016']
game_id      2016121812
home_team           CIN
game_date    12/18/2016
Name: 2012, dtype: object ['12', '18', '2016']
game_id      2016121900
home_team           WAS
game_date    12/19/2016
Name: 2013, dtype: object ['12', '19', '2016']
game_id      2016122200
home_team           PHI
game_date    12/22/2016
Name: 2014, dtype: object ['12', '22', '2016']
game_id      2016122400
home_team           BUF
game_date    12/24/2016
Name: 2015, dtype: object ['12', '24', '2016']
game_id      2016122401
home_team           CAR
game_date    12/24/2016
Name: 2016, dtype: object ['12', '24', '2016']
game_id      2016122402
home_team           CHI
game_date    12/24/2016
Name: 2017, dtype: object ['12', '24', '2016']
game_id      2016122403
home_team           CLE
game_date    12/24/2016
Name: 2018, dtype: object ['12', '24', '2016']
game_id      2016122404
home_team            GB
game_date    12/24/2016
Name: 2019, dtype: object ['12', '24', '2016']
game_id      2016122405
home_team           JAX
game_date    12/24/2016
Name: 2020, dtype: object ['12', '24', '2016']
game_id      2016122406
home_team            NE
game_date    12/24/2016
Name: 2021, dtype: object ['12', '24', '2016']
game_id      2016122407
home_team            NO
game_date    12/24/2016
Name: 2022, dtype: object ['12', '24', '2016']
game_id      2016122408
home_team           OAK
game_date    12/24/2016
Name: 2023, dtype: object ['12', '24', '2016']
game_id      2016122409
home_team            LA
game_date    12/24/2016
Name: 2024, dtype: object ['12', '24', '2016']
game_id      2016122410
home_team           SEA
game_date    12/24/2016
Name: 2025, dtype: object ['12', '24', '2016']
game_id      2016122411
home_team           HOU
game_date    12/24/2016
Name: 2026, dtype: object ['12', '24', '2016']
game_id      2016122500
home_team           PIT
game_date    12/25/2016
Name: 2027, dtype: object ['12', '25', '2016']
game_id      2016122501
home_team            KC
game_date    12/25/2016
Name: 2028, dtype: object ['12', '25', '2016']
game_id      2016122600
home_team           DAL
game_date    12/26/2016
Name: 2029, dtype: object ['12', '26', '2016']
game_id      2017010100
home_team           ATL
game_date      1/1/2017
Name: 2030, dtype: object ['1', '1', '2017']
game_id      2017010101
home_team           CIN
game_date      1/1/2017
Name: 2031, dtype: object ['1', '1', '2017']
game_id      2017010102
home_team           DET
game_date      1/1/2017
Name: 2032, dtype: object ['1', '1', '2017']
game_id      2017010103
home_team           IND
game_date      1/1/2017
Name: 2033, dtype: object ['1', '1', '2017']
game_id      2017010104
home_team           MIA
game_date      1/1/2017
Name: 2034, dtype: object ['1', '1', '2017']
game_id      2017010105
home_team           MIN
game_date      1/1/2017
Name: 2035, dtype: object ['1', '1', '2017']
game_id      2017010106
home_team           NYJ
game_date      1/1/2017
Name: 2036, dtype: object ['1', '1', '2017']
game_id      2017010107
home_team           PHI
game_date      1/1/2017
Name: 2037, dtype: object ['1', '1', '2017']
game_id      2017010108
home_team           PIT
game_date      1/1/2017
Name: 2038, dtype: object ['1', '1', '2017']
game_id      2017010109
home_team            TB
game_date      1/1/2017
Name: 2039, dtype: object ['1', '1', '2017']
game_id      2017010110
home_team           TEN
game_date      1/1/2017
Name: 2040, dtype: object ['1', '1', '2017']
game_id      2017010111
home_team           WAS
game_date      1/1/2017
Name: 2041, dtype: object ['1', '1', '2017']
game_id      2017010112
home_team           DEN
game_date      1/1/2017
Name: 2042, dtype: object ['1', '1', '2017']
game_id      2017010113
home_team            LA
game_date      1/1/2017
Name: 2043, dtype: object ['1', '1', '2017']
game_id      2017010114
home_team            SD
game_date      1/1/2017
Name: 2044, dtype: object ['1', '1', '2017']
game_id      2017010115
home_team            SF
game_date      1/1/2017
Name: 2045, dtype: object ['1', '1', '2017']
game_id      2017090700
home_team            NE
game_date    2017-09-07
Name: 2046, dtype: object ['2017-09-07']
game_id      2009091000
home_team           PIT
game_date     9/10/2009
Name: 0, dtype: object ['9', '10', '2009']
game_id      2009091300
home_team           ATL
game_date     9/13/2009
Name: 1, dtype: object ['9', '13', '2009']
game_id      2009091301
home_team           BAL
game_date     9/13/2009
Name: 2, dtype: object ['9', '13', '2009']
game_id      2009091302
home_team           CAR
game_date     9/13/2009
Name: 3, dtype: object ['9', '13', '2009']
game_id      2009091303
home_team           CIN
game_date     9/13/2009
Name: 4, dtype: object ['9', '13', '2009']
game_id      2009091304
home_team           CLE
game_date     9/13/2009
Name: 5, dtype: object ['9', '13', '2009']
game_id      2009091305
home_team           HOU
game_date     9/13/2009
Name: 6, dtype: object ['9', '13', '2009']
game_id      2009091306
home_team           IND
game_date     9/13/2009
Name: 7, dtype: object ['9', '13', '2009']
game_id      2009091307
home_team            NO
game_date     9/13/2009
Name: 8, dtype: object ['9', '13', '2009']
game_id      2009091308
home_team            TB
game_date     9/13/2009
Name: 9, dtype: object ['9', '13', '2009']
game_id      2009091309
home_team           ARI
game_date     9/13/2009
Name: 10, dtype: object ['9', '13', '2009']
game_id      2009091310
home_team           NYG
game_date     9/13/2009
Name: 11, dtype: object ['9', '13', '2009']
game_id      2009091311
home_team           SEA
game_date     9/13/2009
Name: 12, dtype: object ['9', '13', '2009']
game_id      2009091312
home_team            GB
game_date     9/13/2009
Name: 13, dtype: object ['9', '13', '2009']
game_id      2009091400
home_team            NE
game_date     9/14/2009
Name: 14, dtype: object ['9', '14', '2009']
game_id      2009091401
home_team           OAK
game_date     9/14/2009
Name: 15, dtype: object ['9', '14', '2009']
game_id      2009092000
home_team           ATL
game_date     9/20/2009
Name: 16, dtype: object ['9', '20', '2009']
game_id      2009092001
home_team           DET
game_date     9/20/2009
Name: 17, dtype: object ['9', '20', '2009']
game_id      2009092002
home_team            GB
game_date     9/20/2009
Name: 18, dtype: object ['9', '20', '2009']
game_id      2009092003
home_team           JAX
game_date     9/20/2009
Name: 19, dtype: object ['9', '20', '2009']
game_id      2009092004
home_team            KC
game_date     9/20/2009
Name: 20, dtype: object ['9', '20', '2009']
game_id      2009092005
home_team           NYJ
game_date     9/20/2009
Name: 21, dtype: object ['9', '20', '2009']
game_id      2009092006
home_team           PHI
game_date     9/20/2009
Name: 22, dtype: object ['9', '20', '2009']
game_id      2009092007
home_team           TEN
game_date     9/20/2009
Name: 23, dtype: object ['9', '20', '2009']
game_id      2009092008
home_team           WAS
game_date     9/20/2009
Name: 24, dtype: object ['9', '20', '2009']
game_id      2009092009
home_team           BUF
game_date     9/20/2009
Name: 25, dtype: object ['9', '20', '2009']
game_id      2009092010
home_team            SF
game_date     9/20/2009
Name: 26, dtype: object ['9', '20', '2009']
game_id      2009092011
home_team           CHI
game_date     9/20/2009
Name: 27, dtype: object ['9', '20', '2009']
game_id      2009092012
home_team           DEN
game_date     9/20/2009
Name: 28, dtype: object ['9', '20', '2009']
game_id      2009092013
home_team            SD
game_date     9/20/2009
Name: 29, dtype: object ['9', '20', '2009']
game_id      2009092014
home_team           DAL
game_date     9/20/2009
Name: 30, dtype: object ['9', '20', '2009']
game_id      2009092100
home_team           MIA
game_date     9/21/2009
Name: 31, dtype: object ['9', '21', '2009']
game_id      2009092700
home_team           BAL
game_date     9/27/2009
Name: 32, dtype: object ['9', '27', '2009']
game_id      2009092701
home_team           CIN
game_date     9/27/2009
Name: 33, dtype: object ['9', '27', '2009']
game_id      2009092702
home_team           DET
game_date     9/27/2009
Name: 34, dtype: object ['9', '27', '2009']
game_id      2009092703
home_team           HOU
game_date     9/27/2009
Name: 35, dtype: object ['9', '27', '2009']
game_id      2009092704
home_team           MIN
game_date     9/27/2009
Name: 36, dtype: object ['9', '27', '2009']
game_id      2009092705
home_team            NE
game_date     9/27/2009
Name: 37, dtype: object ['9', '27', '2009']
game_id      2009092706
home_team           PHI
game_date     9/27/2009
Name: 38, dtype: object ['9', '27', '2009']
game_id      2009092707
home_team           STL
game_date     9/27/2009
Name: 39, dtype: object ['9', '27', '2009']
game_id      2009092708
home_team            TB
game_date     9/27/2009
Name: 40, dtype: object ['9', '27', '2009']
game_id      2009092709
home_team           BUF
game_date     9/27/2009
Name: 41, dtype: object ['9', '27', '2009']
game_id      2009092710
home_team           SEA
game_date     9/27/2009
Name: 42, dtype: object ['9', '27', '2009']
game_id      2009092711
home_team           NYJ
game_date     9/27/2009
Name: 43, dtype: object ['9', '27', '2009']
game_id      2009092712
home_team           OAK
game_date     9/27/2009
Name: 44, dtype: object ['9', '27', '2009']
game_id      2009092713
home_team            SD
game_date     9/27/2009
Name: 45, dtype: object ['9', '27', '2009']
game_id      2009092714
home_team           ARI
game_date     9/27/2009
Name: 46, dtype: object ['9', '27', '2009']
game_id      2009092800
home_team           DAL
game_date     9/28/2009
Name: 47, dtype: object ['9', '28', '2009']
game_id      2009100400
home_team           CHI
game_date     10/4/2009
Name: 48, dtype: object ['10', '4', '2009']
game_id      2009100401
home_team           CLE
game_date     10/4/2009
Name: 49, dtype: object ['10', '4', '2009']
game_id      2009100402
home_team           HOU
game_date     10/4/2009
Name: 50, dtype: object ['10', '4', '2009']
game_id      2009100403
home_team           IND
game_date     10/4/2009
Name: 51, dtype: object ['10', '4', '2009']
game_id      2009100404
home_team           JAX
game_date     10/4/2009
Name: 52, dtype: object ['10', '4', '2009']
game_id      2009100405
home_team            KC
game_date     10/4/2009
Name: 53, dtype: object ['10', '4', '2009']
game_id      2009100406
home_team            NE
game_date     10/4/2009
Name: 54, dtype: object ['10', '4', '2009']
game_id      2009100407
home_team           WAS
game_date     10/4/2009
Name: 55, dtype: object ['10', '4', '2009']
game_id      2009100408
home_team           MIA
game_date     10/4/2009
Name: 56, dtype: object ['10', '4', '2009']
game_id      2009100409
home_team            NO
game_date     10/4/2009
Name: 57, dtype: object ['10', '4', '2009']
game_id      2009100410
home_team           DEN
game_date     10/4/2009
Name: 58, dtype: object ['10', '4', '2009']
game_id      2009100411
home_team            SF
game_date     10/4/2009
Name: 59, dtype: object ['10', '4', '2009']
game_id      2009100412
home_team           PIT
game_date     10/4/2009
Name: 60, dtype: object ['10', '4', '2009']
game_id      2009100500
home_team           MIN
game_date     10/5/2009
Name: 61, dtype: object ['10', '5', '2009']
game_id      2009101100
home_team           BAL
game_date    10/11/2009
Name: 62, dtype: object ['10', '11', '2009']
game_id      2009101101
home_team           BUF
game_date    10/11/2009
Name: 63, dtype: object ['10', '11', '2009']
game_id      2009101102
home_team           CAR
game_date    10/11/2009
Name: 64, dtype: object ['10', '11', '2009']
game_id      2009101103
home_team           DET
game_date    10/11/2009
Name: 65, dtype: object ['10', '11', '2009']
game_id      2009101104
home_team            KC
game_date    10/11/2009
Name: 66, dtype: object ['10', '11', '2009']
game_id      2009101105
home_team           NYG
game_date    10/11/2009
Name: 67, dtype: object ['10', '11', '2009']
game_id      2009101106
home_team           PHI
game_date    10/11/2009
Name: 68, dtype: object ['10', '11', '2009']
game_id      2009101107
home_team           STL
game_date    10/11/2009
Name: 69, dtype: object ['10', '11', '2009']
game_id      2009101108
home_team            SF
game_date    10/11/2009
Name: 70, dtype: object ['10', '11', '2009']
game_id      2009101109
home_team           ARI
game_date    10/11/2009
Name: 71, dtype: object ['10', '11', '2009']
game_id      2009101110
home_team           DEN
game_date    10/11/2009
Name: 72, dtype: object ['10', '11', '2009']
game_id      2009101111
home_team           SEA
game_date    10/11/2009
Name: 73, dtype: object ['10', '11', '2009']
game_id      2009101112
home_team           TEN
game_date    10/11/2009
Name: 74, dtype: object ['10', '11', '2009']
game_id      2009101200
home_team           MIA
game_date    10/12/2009
Name: 75, dtype: object ['10', '12', '2009']
game_id      2009101800
home_team           CIN
game_date    10/18/2009
Name: 76, dtype: object ['10', '18', '2009']
game_id      2009101801
home_team            GB
game_date    10/18/2009
Name: 77, dtype: object ['10', '18', '2009']

Name: 164, dtype: object ['11', '29', '2009']
game_id      2009112902
home_team           CIN
game_date    11/29/2009
Name: 165, dtype: object ['11', '29', '2009']
game_id      2009112903
home_team           HOU
game_date    11/29/2009
Name: 166, dtype: object ['11', '29', '2009']
game_id      2009112904
home_team           MIN
game_date    11/29/2009
Name: 167, dtype: object ['11', '29', '2009']
game_id      2009112905
home_team           NYJ
game_date    11/29/2009
Name: 168, dtype: object ['11', '29', '2009']
game_id      2009112906
home_team           PHI
game_date    11/29/2009
Name: 169, dtype: object ['11', '29', '2009']
game_id      2009112907
home_team           STL
game_date    11/29/2009
Name: 170, dtype: object ['11', '29', '2009']
game_id      2009112908
home_team           TEN
game_date    11/29/2009
Name: 171, dtype: object ['11', '29', '2009']
game_id      2009112909
home_team            SD
game_date    11/29/2009
Name: 172, dtype: object ['11', '29', '2009']
game_id      2009112910
home_team            SF
game_date    11/29/2009
Name: 173, dtype: object ['11', '29', '2009']
game_id      2009112911
home_team           BAL
game_date    11/29/2009
Name: 174, dtype: object ['11', '29', '2009']
game_id      2009113000
home_team            NO
game_date    11/30/2009
Name: 175, dtype: object ['11', '30', '2009']
game_id      2009120300
home_team           BUF
game_date     12/3/2009
Name: 176, dtype: object ['12', '3', '2009']
game_id      2009120600
home_team           ATL
game_date     12/6/2009
Name: 177, dtype: object ['12', '6', '2009']
game_id      2009120601
home_team           CAR
game_date     12/6/2009
Name: 178, dtype: object ['12', '6', '2009']
game_id      2009120602
home_team           CHI
game_date     12/6/2009
Name: 179, dtype: object ['12', '6', '2009']
game_id      2009120603
home_team           CIN
game_date     12/6/2009
Name: 180, dtype: object ['12', '6', '2009']
game_id      2009120604
home_team           IND
game_date     12/6/2009
Name: 181, dtype: object ['12', '6', '2009']
game_id      2009120605
home_team           JAX
game_date     12/6/2009
Name: 182, dtype: object ['12', '6', '2009']
game_id      2009120606
home_team            KC
game_date     12/6/2009
Name: 183, dtype: object ['12', '6', '2009']
game_id      2009120607
home_team           PIT
game_date     12/6/2009
Name: 184, dtype: object ['12', '6', '2009']
game_id      2009120608
home_team           WAS
game_date     12/6/2009
Name: 185, dtype: object ['12', '6', '2009']
game_id      2009120609
home_team           CLE
game_date     12/6/2009
Name: 186, dtype: object ['12', '6', '2009']
game_id      2009120610
home_team           ARI
game_date     12/6/2009
Name: 187, dtype: object ['12', '6', '2009']
game_id      2009120611
home_team           NYG
game_date     12/6/2009
Name: 188, dtype: object ['12', '6', '2009']
game_id      2009120612
home_team           SEA
game_date     12/6/2009
Name: 189, dtype: object ['12', '6', '2009']
game_id      2009120613
home_team           MIA
game_date     12/6/2009
Name: 190, dtype: object ['12', '6', '2009']
game_id      2009120700
home_team            GB
game_date     12/7/2009
Name: 191, dtype: object ['12', '7', '2009']
game_id      2009121000
home_team           CLE
game_date    12/10/2009
Name: 192, dtype: object ['12', '10', '2009']
game_id      2009121300
home_team           ATL
game_date    12/13/2009
Name: 193, dtype: object ['12', '13', '2009']
game_id      2009121301
home_team           BAL
game_date    12/13/2009
Name: 194, dtype: object ['12', '13', '2009']
game_id      2009121302
home_team           CHI
game_date    12/13/2009
Name: 195, dtype: object ['12', '13', '2009']
game_id      2009121303
home_team           HOU
game_date    12/13/2009
Name: 196, dtype: object ['12', '13', '2009']
game_id      2009121304
home_team           IND
game_date    12/13/2009
Name: 197, dtype: object ['12', '13', '2009']
game_id      2009121305
home_team           JAX
game_date    12/13/2009
Name: 198, dtype: object ['12', '13', '2009']
game_id      2009121306
home_team            KC
game_date    12/13/2009
Name: 199, dtype: object ['12', '13', '2009']
game_id      2009121307
home_team           MIN
game_date    12/13/2009
Name: 200, dtype: object ['12', '13', '2009']
game_id      2009121308
home_team            NE
game_date    12/13/2009
Name: 201, dtype: object ['12', '13', '2009']
game_id      2009121309
home_team            TB
game_date    12/13/2009
Name: 202, dtype: object ['12', '13', '2009']
game_id      2009121310
home_team           TEN
game_date    12/13/2009
Name: 203, dtype: object ['12', '13', '2009']
game_id      2009121311
home_team           OAK
game_date    12/13/2009
Name: 204, dtype: object ['12', '13', '2009']
game_id      2009121312
home_team           DAL
game_date    12/13/2009
Name: 205, dtype: object ['12', '13', '2009']
game_id      2009121313
home_team           NYG
game_date    12/13/2009
Name: 206, dtype: object ['12', '13', '2009']
game_id      2009121400
home_team            SF
game_date    12/14/2009
Name: 207, dtype: object ['12', '14', '2009']
game_id      2009121700
home_team           JAX
game_date    12/17/2009
Name: 208, dtype: object ['12', '17', '2009']
game_id      2009121900
home_team            NO
game_date    12/19/2009
Name: 209, dtype: object ['12', '19', '2009']
game_id      2009122000
home_team           BAL
game_date    12/20/2009
Name: 210, dtype: object ['12', '20', '2009']
game_id      2009122001
home_team           BUF
game_date    12/20/2009
Name: 211, dtype: object ['12', '20', '2009']
game_id      2009122002
home_team           DET
game_date    12/20/2009
Name: 212, dtype: object ['12', '20', '2009']
game_id      2009122003
home_team            KC
game_date    12/20/2009
Name: 213, dtype: object ['12', '20', '2009']
game_id      2009122004
home_team           NYJ
game_date    12/20/2009
Name: 214, dtype: object ['12', '20', '2009']
game_id      2009122005
home_team           PHI
game_date    12/20/2009
Name: 215, dtype: object ['12', '20', '2009']
game_id      2009122006
home_team           PIT
game_date    12/20/2009
Name: 216, dtype: object ['12', '20', '2009']
game_id      2009122007
home_team           STL
game_date    12/20/2009
Name: 217, dtype: object ['12', '20', '2009']
game_id      2009122008
home_team           TEN
game_date    12/20/2009
Name: 218, dtype: object ['12', '20', '2009']
game_id      2009122009
home_team           DEN
game_date    12/20/2009
Name: 219, dtype: object ['12', '20', '2009']
game_id      2009122010
home_team            SD
game_date    12/20/2009
Name: 220, dtype: object ['12', '20', '2009']
game_id      2009122011
home_team           SEA
game_date    12/20/2009
Name: 221, dtype: object ['12', '20', '2009']
game_id      2009122012
home_team           CAR
game_date    12/20/2009
Name: 222, dtype: object ['12', '20', '2009']
game_id      2009122100
home_team           WAS
game_date    12/21/2009
Name: 223, dtype: object ['12', '21', '2009']
game_id      2009122500
home_team           TEN
game_date    12/25/2009
Name: 224, dtype: object ['12', '25', '2009']
game_id      2009122700
home_team           ATL
game_date    12/27/2009
Name: 225, dtype: object ['12', '27', '2009']
game_id      2009122701
home_team           CIN
game_date    12/27/2009
Name: 226, dtype: object ['12', '27', '2009']
game_id      2009122702
home_team           CLE
game_date    12/27/2009
Name: 227, dtype: object ['12', '27', '2009']
game_id      2009122703
home_team            GB
game_date    12/27/2009
Name: 228, dtype: object ['12', '27', '2009']
game_id      2009122704
home_team           MIA
game_date    12/27/2009
Name: 229, dtype: object ['12', '27', '2009']
game_id      2009122705
home_team           NYG
game_date    12/27/2009
Name: 230, dtype: object ['12', '27', '2009']
game_id      2009122706
home_team            NE
game_date    12/27/2009
Name: 231, dtype: object ['12', '27', '2009']
game_id      2009122707
home_team            NO
game_date    12/27/2009
Name: 232, dtype: object ['12', '27', '2009']
game_id      2009122708
home_team           PHI
game_date    12/27/2009
Name: 233, dtype: object ['12', '27', '2009']
game_id      2009122709
home_team           PIT
game_date    12/27/2009
Name: 234, dtype: object ['12', '27', '2009']
game_id      2009122710
home_team           ARI
game_date    12/27/2009
Name: 235, dtype: object ['12', '27', '2009']
game_id      2009122711
home_team            SF
game_date    12/27/2009
Name: 236, dtype: object ['12', '27', '2009']
game_id      2009122712
home_team           IND
game_date    12/27/2009
Name: 237, dtype: object ['12', '27', '2009']
game_id      2009122713
home_team           WAS
game_date    12/27/2009
Name: 238, dtype: object ['12', '27', '2009']
game_id      2009122800
home_team           CHI
game_date    12/28/2009
Name: 239, dtype: object ['12', '28', '2009']
game_id      2010010300
home_team           BUF
game_date      1/3/2010
Name: 240, dtype: object ['1', '3', '2010']
game_id      2010010301
home_team           CAR
game_date      1/3/2010
Name: 241, dtype: object ['1', '3', '2010']
game_id      2010010302
home_team           CLE
game_date      1/3/2010
Name: 242, dtype: object ['1', '3', '2010']
game_id      2010010303
home_team           DAL
game_date      1/3/2010
Name: 243, dtype: object ['1', '3', '2010']
game_id      2010010304
home_team           DET
game_date      1/3/2010
Name: 244, dtype: object ['1', '3', '2010']
game_id      2010010305
home_team           HOU
game_date      1/3/2010
Name: 245, dtype: object ['1', '3', '2010']
game_id      2010010306
home_team           MIA
game_date      1/3/2010
Name: 246, dtype: object ['1', '3', '2010']
game_id      2010010307
home_team           MIN
game_date      1/3/2010
Name: 247, dtype: object ['1', '3', '2010']
game_id      2010010308
home_team           NYJ
game_date      1/3/2010
Name: 248, dtype: object ['1', '3', '2010']
game_id      2010010309
home_team           STL
game_date      1/3/2010
Name: 249, dtype: object ['1', '3', '2010']
game_id      2010010310
home_team            TB
game_date      1/3/2010
Name: 250, dtype: object ['1', '3', '2010']
game_id      2010010311
home_team           ARI
game_date      1/3/2010
Name: 251, dtype: object ['1', '3', '2010']
game_id      2010010312
home_team           DEN
game_date      1/3/2010
Name: 252, dtype: object ['1', '3', '2010']
game_id      2010010313
home_team           OAK
game_date      1/3/2010
Name: 253, dtype: object ['1', '3', '2010']
game_id      2010010314
home_team            SD
game_date      1/3/2010
Name: 254, dtype: object ['1', '3', '2010']
game_id      2010010315
home_team           SEA
game_date      1/3/2010
Name: 255, dtype: object ['1', '3', '2010']
game_id      2010090900
home_team            NO
game_date      9/9/2010
Name: 256, dtype: object ['9', '9', '2010']
game_id      2010091200
home_team            TB
game_date     9/12/2010
Name: 257, dtype: object ['9', '12', '2010']
game_id      2010091201
home_team           BUF
game_date     9/12/2010
Name: 258, dtype: object ['9', '12', '2010']
game_id      2010091202
home_team            NE
game_date     9/12/2010
Name: 259, dtype: object ['9', '12', '2010']
game_id      2010091203
home_team           HOU
game_date     9/12/2010
Name: 260, dtype: object ['9', '12', '2010']
game_id      2010091204
home_team           JAX
game_date     9/12/2010
Name: 261, dtype: object ['9', '12', '2010']
game_id      2010091205
home_team           TEN
game_date     9/12/2010
Name: 262, dtype: object ['9', '12', '2010']
game_id      2010091206
home_team           NYG
game_date     9/12/2010
Name: 263, dtype: object ['9', '12', '2010']
game_id      2010091207
home_team           CHI
game_date     9/12/2010
Name: 264, dtype: object ['9', '12', '2010']
game_id      2010091208
home_team           STL
game_date     9/12/2010
Name: 265, dtype: object ['9', '12', '2010']
game_id      2010091209
home_team           PIT
game_date     9/12/2010
Name: 266, dtype: object ['9', '12', '2010']
game_id      2010091210
home_team           PHI
game_date     9/12/2010
Name: 267, dtype: object ['9', '12', '2010']
game_id      2010091211
home_team           SEA
game_date     9/12/2010
Name: 268, dtype: object ['9', '12', '2010']
game_id      2010091212
home_team           WAS
game_date     9/12/2010
Name: 269, dtype: object ['9', '12', '2010']
game_id      2010091300
home_team           NYJ
game_date     9/13/2010
Name: 270, dtype: object ['9', '13', '2010']
game_id      2010091301
home_team            KC
game_date     9/13/2010
Name: 271, dtype: object ['9', '13', '2010']
game_id      2010091900
home_team           WAS
game_date     9/19/2010
Name: 272, dtype: object ['9', '19', '2010']
game_id      2010091901
home_team            GB
game_date     9/19/2010
Name: 273, dtype: object ['9', '19', '2010']
game_id      2010091902
home_team           MIN
game_date     9/19/2010
Name: 274, dtype: object ['9', '19', '2010']
game_id      2010091903
home_team           CLE
game_date     9/19/2010
Name: 275, dtype: object ['9', '19', '2010']
game_id      2010091904
home_team           TEN
game_date     9/19/2010
Name: 276, dtype: object ['9', '19', '2010']
game_id      2010091905
home_team           DAL
game_date     9/19/2010
Name: 277, dtype: object ['9', '19', '2010']
game_id      2010091906
home_team           DET
game_date     9/19/2010
Name: 278, dtype: object ['9', '19', '2010']
game_id      2010091907
home_team           ATL
game_date     9/19/2010
Name: 279, dtype: object ['9', '19', '2010']
game_id      2010091908
home_team           CAR
game_date     9/19/2010
Name: 280, dtype: object ['9', '19', '2010']
game_id      2010091909
home_team           DEN
game_date     9/19/2010
Name: 281, dtype: object ['9', '19', '2010']
game_id      2010091910
home_team           OAK
game_date     9/19/2010
Name: 282, dtype: object ['9', '19', '2010']
game_id      2010091911
home_team           NYJ
game_date     9/19/2010
Name: 283, dtype: object ['9', '19', '2010']
game_id      2010091912
home_team           CIN
game_date     9/19/2010
Name: 284, dtype: object ['9', '19', '2010']
game_id      2010091913
home_team            SD
game_date     9/19/2010
Name: 285, dtype: object ['9', '19', '2010']
game_id      2010091914
home_team           IND
game_date     9/19/2010
Name: 286, dtype: object ['9', '19', '2010']
game_id      2010092000
home_team            SF
game_date     9/20/2010
Name: 287, dtype: object ['9', '20', '2010']
game_id      2010092600
home_team           NYG
game_date     9/26/2010
Name: 288, dtype: object ['9', '26', '2010']
game_id      2010092601
home_team           CAR
game_date     9/26/2010
Name: 289, dtype: object ['9', '26', '2010']
game_id      2010092602
home_team            TB
game_date     9/26/2010
Name: 290, dtype: object ['9', '26', '2010']
game_id      2010092603
home_team            NE
game_date     9/26/2010
Name: 291, dtype: object ['9', '26', '2010']
game_id      2010092604
home_team           BAL
game_date     9/26/2010
Name: 292, dtype: object ['9', '26', '2010']
game_id      2010092605
home_team           MIN
game_date     9/26/2010
Name: 293, dtype: object ['9', '26', '2010']
game_id      2010092606
home_team            NO
game_date     9/26/2010
Name: 294, dtype: object ['9', '26', '2010']
game_id      2010092607
home_team           STL
game_date     9/26/2010
Name: 295, dtype: object ['9', '26', '2010']
game_id      2010092608
home_team           HOU
game_date     9/26/2010
Name: 296, dtype: object ['9', '26', '2010']
game_id      2010092609
home_team            KC
game_date     9/26/2010
Name: 297, dtype: object ['9', '26', '2010']
game_id      2010092610
home_team           JAX
game_date     9/26/2010
Name: 298, dtype: object ['9', '26', '2010']
game_id      2010092611
home_team           DEN
game_date     9/26/2010
Name: 299, dtype: object ['9', '26', '2010']
game_id      2010092612
home_team           ARI
game_date     9/26/2010
Name: 300, dtype: object ['9', '26', '2010']
game_id      2010092613
home_team           SEA
game_date     9/26/2010
Name: 301, dtype: object ['9', '26', '2010']
game_id      2010092614
home_team           MIA
game_date     9/26/2010
Name: 302, dtype: object ['9', '26', '2010']
game_id      2010092700
home_team           CHI
game_date     9/27/2010
Name: 303, dtype: object ['9', '27', '2010']
game_id      2010100300
home_team           BUF
game_date     10/3/2010
Name: 304, dtype: object ['10', '3', '2010']
game_id      2010100301
home_team           CLE
game_date     10/3/2010
Name: 305, dtype: object ['10', '3', '2010']
game_id      2010100302
home_team           PIT
game_date     10/3/2010
Name: 306, dtype: object ['10', '3', '2010']
game_id      2010100303
home_team           TEN
game_date     10/3/2010
Name: 307, dtype: object ['10', '3', '2010']
game_id      2010100304
home_team            GB
game_date     10/3/2010
Name: 308, dtype: object ['10', '3', '2010']
game_id      2010100305
home_team           ATL
game_date     10/3/2010
Name: 309, dtype: object ['10', '3', '2010']
game_id      2010100306
home_team            NO
game_date     10/3/2010
Name: 310, dtype: object ['10', '3', '2010']
game_id      2010100307
home_team           STL
game_date     10/3/2010
Name: 311, dtype: object ['10', '3', '2010']
game_id      2010100308
home_team           JAX
game_date     10/3/2010
Name: 312, dtype: object ['10', '3', '2010']
game_id      2010100309
home_team           OAK
game_date     10/3/2010
Name: 313, dtype: object ['10', '3', '2010']
game_id      2010100310
home_team           PHI
game_date     10/3/2010
Name: 314, dtype: object ['10', '3', '2010']
game_id      2010100311
home_team            SD
game_date     10/3/2010
Name: 315, dtype: object ['10', '3', '2010']
game_id      2010100312
home_team           NYG
game_date     10/3/2010
Name: 316, dtype: object ['10', '3', '2010']
game_id      2010100400
home_team           MIA
game_date     10/4/2010
Name: 317, dtype: object ['10', '4', '2010']
game_id      2010101000
home_team           BUF
game_date    10/10/2010
Name: 318, dtype: object ['10', '10', '2010']
game_id      2010101001
home_team           BAL
game_date    10/10/2010
Name: 319, dtype: object ['10', '10', '2010']
game_id      2010101002
home_team           IND
game_date    10/10/2010
Name: 320, dtype: object ['10', '10', '2010']
game_id      2010101003
home_team           WAS
game_date    10/10/2010
Name: 321, dtype: object ['10', '10', '2010']
game_id      2010101004
home_team           DET
game_date    10/10/2010
Name: 322, dtype: object ['10', '10', '2010']
game_id      2010101005
home_team           CAR
game_date    10/10/2010
Name: 323, dtype: object ['10', '10', '2010']
game_id      2010101006
home_team           CIN
game_date    10/10/2010
Name: 324, dtype: object ['10', '10', '2010']
game_id      2010101007
home_team           CLE
game_date    10/10/2010
Name: 325, dtype: object ['10', '10', '2010']
game_id      2010101008
home_team           HOU
game_date    10/10/2010
Name: 326, dtype: object ['10', '10', '2010']
game_id      2010101009
home_team           ARI
game_date    10/10/2010
Name: 327, dtype: object ['10', '10', '2010']
game_id      2010101010
home_team           DAL
game_date    10/10/2010
Name: 328, dtype: object ['10', '10', '2010']
game_id      2010101011
home_team           OAK
game_date    10/10/2010
Name: 329, dtype: object ['10', '10', '2010']
game_id      2010101012
home_team            SF
game_date    10/10/2010
Name: 330, dtype: object ['10', '10', '2010']
game_id      2010101100
home_team           NYJ
game_date    10/11/2010
Name: 331, dtype: object ['10', '11', '2010']
game_id      2010101700
home_team            GB
game_date    10/17/2010
Name: 332, dtype: object ['10', '17', '2010']
game_id      2010101701
home_team           STL
game_date    10/17/2010
Name: 333, dtype: object ['10', '17', '2010']
game_id      2010101702
home_team            NE
game_date    10/17/2010
Name: 334, dtype: object ['10', '17', '2010']

Name: 410, dtype: object ['11', '21', '2010']
game_id      2010112110
home_team           STL
game_date    11/21/2010
Name: 411, dtype: object ['11', '21', '2010']
game_id      2010112111
home_team            SF
game_date    11/21/2010
Name: 412, dtype: object ['11', '21', '2010']
game_id      2010112112
home_team            NE
game_date    11/21/2010
Name: 413, dtype: object ['11', '21', '2010']
game_id      2010112113
home_team           PHI
game_date    11/21/2010
Name: 414, dtype: object ['11', '21', '2010']
game_id      2010112200
home_team            SD
game_date    11/22/2010
Name: 415, dtype: object ['11', '22', '2010']
game_id      2010112500
home_team           DET
game_date    11/25/2010
Name: 416, dtype: object ['11', '25', '2010']
game_id      2010112501
home_team           DAL
game_date    11/25/2010
Name: 417, dtype: object ['11', '25', '2010']
game_id      2010112502
home_team           NYJ
game_date    11/25/2010
Name: 418, dtype: object ['11', '25', '2010']
game_id      2010112800
home_team           NYG
game_date    11/28/2010
Name: 419, dtype: object ['11', '28', '2010']
game_id      2010112801
home_team           BUF
game_date    11/28/2010
Name: 420, dtype: object ['11', '28', '2010']
game_id      2010112802
home_team           HOU
game_date    11/28/2010
Name: 421, dtype: object ['11', '28', '2010']
game_id      2010112803
home_team           WAS
game_date    11/28/2010
Name: 422, dtype: object ['11', '28', '2010']
game_id      2010112804
home_team           CHI
game_date    11/28/2010
Name: 423, dtype: object ['11', '28', '2010']
game_id      2010112805
home_team           ATL
game_date    11/28/2010
Name: 424, dtype: object ['11', '28', '2010']
game_id      2010112806
home_team           BAL
game_date    11/28/2010
Name: 425, dtype: object ['11', '28', '2010']
game_id      2010112807
home_team           CLE
game_date    11/28/2010
Name: 426, dtype: object ['11', '28', '2010']
game_id      2010112808
home_team           SEA
game_date    11/28/2010
Name: 427, dtype: object ['11', '28', '2010']
game_id      2010112809
home_team           OAK
game_date    11/28/2010
Name: 428, dtype: object ['11', '28', '2010']
game_id      2010112810
home_team           DEN
game_date    11/28/2010
Name: 429, dtype: object ['11', '28', '2010']
game_id      2010112811
home_team           IND
game_date    11/28/2010
Name: 430, dtype: object ['11', '28', '2010']
game_id      2010112900
home_team           ARI
game_date    11/29/2010
Name: 431, dtype: object ['11', '29', '2010']
game_id      2010120200
home_team           PHI
game_date     12/2/2010
Name: 432, dtype: object ['12', '2', '2010']
game_id      2010120500
home_team           MIN
game_date     12/5/2010
Name: 433, dtype: object ['12', '5', '2010']
game_id      2010120501
home_team           MIA
game_date     12/5/2010
Name: 434, dtype: object ['12', '5', '2010']
game_id      2010120502
home_team           TEN
game_date     12/5/2010
Name: 435, dtype: object ['12', '5', '2010']
game_id      2010120503
home_team            KC
game_date     12/5/2010
Name: 436, dtype: object ['12', '5', '2010']
game_id      2010120504
home_team           NYG
game_date     12/5/2010
Name: 437, dtype: object ['12', '5', '2010']
game_id      2010120505
home_team           DET
game_date     12/5/2010
Name: 438, dtype: object ['12', '5', '2010']
game_id      2010120506
home_team            GB
game_date     12/5/2010
Name: 439, dtype: object ['12', '5', '2010']
game_id      2010120507
home_team            TB
game_date     12/5/2010
Name: 440, dtype: object ['12', '5', '2010']
game_id      2010120508
home_team           CIN
game_date     12/5/2010
Name: 441, dtype: object ['12', '5', '2010']
game_id      2010120509
home_team            SD
game_date     12/5/2010
Name: 442, dtype: object ['12', '5', '2010']
game_id      2010120510
home_team           IND
game_date     12/5/2010
Name: 443, dtype: object ['12', '5', '2010']
game_id      2010120511
home_team           ARI
game_date     12/5/2010
Name: 444, dtype: object ['12', '5', '2010']
game_id      2010120512
home_team           SEA
game_date     12/5/2010
Name: 445, dtype: object ['12', '5', '2010']
game_id      2010120513
home_team           BAL
game_date     12/5/2010
Name: 446, dtype: object ['12', '5', '2010']
game_id      2010120600
home_team            NE
game_date     12/6/2010
Name: 447, dtype: object ['12', '6', '2010']
game_id      2010120900
home_team           TEN
game_date     12/9/2010
Name: 448, dtype: object ['12', '9', '2010']
game_id      2010121200
home_team           CHI
game_date    12/12/2010
Name: 449, dtype: object ['12', '12', '2010']
game_id      2010121201
home_team           BUF
game_date    12/12/2010
Name: 450, dtype: object ['12', '12', '2010']
game_id      2010121202
home_team           PIT
game_date    12/12/2010
Name: 451, dtype: object ['12', '12', '2010']
game_id      2010121203
home_team           JAX
game_date    12/12/2010
Name: 452, dtype: object ['12', '12', '2010']
game_id      2010121204
home_team           WAS
game_date    12/12/2010
Name: 453, dtype: object ['12', '12', '2010']
game_id      2010121205
home_team           DET
game_date    12/12/2010
Name: 454, dtype: object ['12', '12', '2010']
game_id      2010121207
home_team           CAR
game_date    12/12/2010
Name: 455, dtype: object ['12', '12', '2010']
game_id      2010121208
home_team            NO
game_date    12/12/2010
Name: 456, dtype: object ['12', '12', '2010']
game_id      2010121209
home_team            SF
game_date    12/12/2010
Name: 457, dtype: object ['12', '12', '2010']
game_id      2010121210
home_team           NYJ
game_date    12/12/2010
Name: 458, dtype: object ['12', '12', '2010']
game_id      2010121211
home_team           ARI
game_date    12/12/2010
Name: 459, dtype: object ['12', '12', '2010']
game_id      2010121212
home_team            SD
game_date    12/12/2010
Name: 460, dtype: object ['12', '12', '2010']
game_id      2010121213
home_team           DAL
game_date    12/12/2010
Name: 461, dtype: object ['12', '12', '2010']
game_id      2010121300
home_team           HOU
game_date    12/13/2010
Name: 462, dtype: object ['12', '13', '2010']
game_id      2010121301
home_team           MIN
game_date    12/13/2010
Name: 463, dtype: object ['12', '13', '2010']
game_id      2010121600
home_team            SD
game_date    12/16/2010
Name: 464, dtype: object ['12', '16', '2010']
game_id      2010121900
home_team           STL
game_date    12/19/2010
Name: 465, dtype: object ['12', '19', '2010']
game_id      2010121901
home_team           MIA
game_date    12/19/2010
Name: 466, dtype: object ['12', '19', '2010']
game_id      2010121902
home_team           CIN
game_date    12/19/2010
Name: 467, dtype: object ['12', '19', '2010']
game_id      2010121903
home_team           IND
game_date    12/19/2010
Name: 468, dtype: object ['12', '19', '2010']
game_id      2010121904
home_team           TEN
game_date    12/19/2010
Name: 469, dtype: object ['12', '19', '2010']
game_id      2010121905
home_team           DAL
game_date    12/19/2010
Name: 470, dtype: object ['12', '19', '2010']
game_id      2010121906
home_team           NYG
game_date    12/19/2010
Name: 471, dtype: object ['12', '19', '2010']
game_id      2010121907
home_team           CAR
game_date    12/19/2010
Name: 472, dtype: object ['12', '19', '2010']
game_id      2010121908
home_team            TB
game_date    12/19/2010
Name: 473, dtype: object ['12', '19', '2010']
game_id      2010121909
home_team           BAL
game_date    12/19/2010
Name: 474, dtype: object ['12', '19', '2010']
game_id      2010121910
home_team           SEA
game_date    12/19/2010
Name: 475, dtype: object ['12', '19', '2010']
game_id      2010121911
home_team           PIT
game_date    12/19/2010
Name: 476, dtype: object ['12', '19', '2010']
game_id      2010121912
home_team           OAK
game_date    12/19/2010
Name: 477, dtype: object ['12', '19', '2010']
game_id      2010121913
home_team            NE
game_date    12/19/2010
Name: 478, dtype: object ['12', '19', '2010']
game_id      2010122000
home_team           MIN
game_date    12/20/2010
Name: 479, dtype: object ['12', '20', '2010']
game_id      2010122300
home_team           PIT
game_date    12/23/2010
Name: 480, dtype: object ['12', '23', '2010']
game_id      2010122500
home_team           ARI
game_date    12/25/2010
Name: 481, dtype: object ['12', '25', '2010']
game_id      2010122600
home_team           CHI
game_date    12/26/2010
Name: 482, dtype: object ['12', '26', '2010']
game_id      2010122601
home_team           BUF
game_date    12/26/2010
Name: 483, dtype: object ['12', '26', '2010']
game_id      2010122602
home_team           CLE
game_date    12/26/2010
Name: 484, dtype: object ['12', '26', '2010']
game_id      2010122603
home_team            KC
game_date    12/26/2010
Name: 485, dtype: object ['12', '26', '2010']
game_id      2010122605
home_team            TB
game_date    12/26/2010
Name: 486, dtype: object ['12', '26', '2010']
game_id      2010122606
home_team           STL
game_date    12/26/2010
Name: 487, dtype: object ['12', '26', '2010']
game_id      2010122607
home_team           MIA
game_date    12/26/2010
Name: 488, dtype: object ['12', '26', '2010']
game_id      2010122608
home_team           JAX
game_date    12/26/2010
Name: 489, dtype: object ['12', '26', '2010']
game_id      2010122609
home_team           DEN
game_date    12/26/2010
Name: 490, dtype: object ['12', '26', '2010']
game_id      2010122610
home_team           OAK
game_date    12/26/2010
Name: 491, dtype: object ['12', '26', '2010']
game_id      2010122611
home_team            GB
game_date    12/26/2010
Name: 492, dtype: object ['12', '26', '2010']
game_id      2010122612
home_team           CIN
game_date    12/26/2010
Name: 493, dtype: object ['12', '26', '2010']
game_id      2010122700
home_team           ATL
game_date    12/27/2010
Name: 494, dtype: object ['12', '27', '2010']
game_id      2010122800
home_team           PHI
game_date    12/28/2010
Name: 495, dtype: object ['12', '28', '2010']
game_id      2011010200
home_team            NE
game_date      1/2/2011
Name: 496, dtype: object ['1', '2', '2011']
game_id      2011010201
home_team           NYJ
game_date      1/2/2011
Name: 497, dtype: object ['1', '2', '2011']
game_id      2011010202
home_team           BAL
game_date      1/2/2011
Name: 498, dtype: object ['1', '2', '2011']
game_id      2011010203
home_team           CLE
game_date      1/2/2011
Name: 499, dtype: object ['1', '2', '2011']
game_id      2011010204
home_team           HOU
game_date      1/2/2011
Name: 500, dtype: object ['1', '2', '2011']
game_id      2011010205
home_team           IND
game_date      1/2/2011
Name: 501, dtype: object ['1', '2', '2011']
game_id      2011010206
home_team            KC
game_date      1/2/2011
Name: 502, dtype: object ['1', '2', '2011']
game_id      2011010207
home_team           PHI
game_date      1/2/2011
Name: 503, dtype: object ['1', '2', '2011']
game_id      2011010208
home_team           WAS
game_date      1/2/2011
Name: 504, dtype: object ['1', '2', '2011']
game_id      2011010209
home_team           DET
game_date      1/2/2011
Name: 505, dtype: object ['1', '2', '2011']
game_id      2011010210
home_team            GB
game_date      1/2/2011
Name: 506, dtype: object ['1', '2', '2011']
game_id      2011010211
home_team           ATL
game_date      1/2/2011
Name: 507, dtype: object ['1', '2', '2011']
game_id      2011010212
home_team            NO
game_date      1/2/2011
Name: 508, dtype: object ['1', '2', '2011']
game_id      2011010213
home_team           DEN
game_date      1/2/2011
Name: 509, dtype: object ['1', '2', '2011']
game_id      2011010214
home_team            SF
game_date      1/2/2011
Name: 510, dtype: object ['1', '2', '2011']
game_id      2011010215
home_team           SEA
game_date      1/2/2011
Name: 511, dtype: object ['1', '2', '2011']
game_id      2011090800
home_team            GB
game_date      9/8/2011
Name: 512, dtype: object ['9', '8', '2011']
game_id      2011091100
home_team           BAL
game_date     9/11/2011
Name: 513, dtype: object ['9', '11', '2011']
game_id      2011091101
home_team           CLE
game_date     9/11/2011
Name: 514, dtype: object ['9', '11', '2011']
game_id      2011091102
home_team           HOU
game_date     9/11/2011
Name: 515, dtype: object ['9', '11', '2011']
game_id      2011091103
home_team           JAX
game_date     9/11/2011
Name: 516, dtype: object ['9', '11', '2011']
game_id      2011091104
home_team            KC
game_date     9/11/2011
Name: 517, dtype: object ['9', '11', '2011']
game_id      2011091105
home_team           CHI
game_date     9/11/2011
Name: 518, dtype: object ['9', '11', '2011']
game_id      2011091106
home_team            TB
game_date     9/11/2011
Name: 519, dtype: object ['9', '11', '2011']
game_id      2011091107
home_team           STL
game_date     9/11/2011
Name: 520, dtype: object ['9', '11', '2011']
game_id      2011091108
home_team           WAS
game_date     9/11/2011
Name: 521, dtype: object ['9', '11', '2011']
game_id      2011091109
home_team           ARI
game_date     9/11/2011
Name: 522, dtype: object ['9', '11', '2011']
game_id      2011091110
home_team            SF
game_date     9/11/2011
Name: 523, dtype: object ['9', '11', '2011']
game_id      2011091111
home_team            SD
game_date     9/11/2011
Name: 524, dtype: object ['9', '11', '2011']
game_id      2011091112
home_team           NYJ
game_date     9/11/2011
Name: 525, dtype: object ['9', '11', '2011']
game_id      2011091200
home_team           MIA
game_date     9/12/2011
Name: 526, dtype: object ['9', '12', '2011']
game_id      2011091201
home_team           DEN
game_date     9/12/2011
Name: 527, dtype: object ['9', '12', '2011']
game_id      2011091800
home_team           DET
game_date     9/18/2011
Name: 528, dtype: object ['9', '18', '2011']
game_id      2011091801
home_team           BUF
game_date     9/18/2011
Name: 529, dtype: object ['9', '18', '2011']
game_id      2011091802
home_team           TEN
game_date     9/18/2011
Name: 530, dtype: object ['9', '18', '2011']
game_id      2011091803
home_team           NYJ
game_date     9/18/2011
Name: 531, dtype: object ['9', '18', '2011']
game_id      2011091804
home_team           IND
game_date     9/18/2011
Name: 532, dtype: object ['9', '18', '2011']
game_id      2011091805
home_team           WAS
game_date     9/18/2011
Name: 533, dtype: object ['9', '18', '2011']
game_id      2011091806
home_team           MIN
game_date     9/18/2011
Name: 534, dtype: object ['9', '18', '2011']
game_id      2011091807
home_team           CAR
game_date     9/18/2011
Name: 535, dtype: object ['9', '18', '2011']
game_id      2011091808
home_team            NO
game_date     9/18/2011
Name: 536, dtype: object ['9', '18', '2011']
game_id      2011091809
home_team           PIT
game_date     9/18/2011
Name: 537, dtype: object ['9', '18', '2011']
game_id      2011091810
home_team            SF
game_date     9/18/2011
Name: 538, dtype: object ['9', '18', '2011']
game_id      2011091811
home_team            NE
game_date     9/18/2011
Name: 539, dtype: object ['9', '18', '2011']
game_id      2011091812
home_team           DEN
game_date     9/18/2011
Name: 540, dtype: object ['9', '18', '2011']
game_id      2011091813
home_team           MIA
game_date     9/18/2011
Name: 541, dtype: object ['9', '18', '2011']
game_id      2011091814
home_team           ATL
game_date     9/18/2011
Name: 542, dtype: object ['9', '18', '2011']
game_id      2011091900
home_team           NYG
game_date     9/19/2011
Name: 543, dtype: object ['9', '19', '2011']
game_id      2011092500
home_team           CAR
game_date     9/25/2011
Name: 544, dtype: object ['9', '25', '2011']
game_id      2011092501
home_team            NO
game_date     9/25/2011
Name: 545, dtype: object ['9', '25', '2011']
game_id      2011092502
home_team           BUF
game_date     9/25/2011
Name: 546, dtype: object ['9', '25', '2011']
game_id      2011092503
home_team           CLE
game_date     9/25/2011
Name: 547, dtype: object ['9', '25', '2011']
game_id      2011092504
home_team           TEN
game_date     9/25/2011
Name: 548, dtype: object ['9', '25', '2011']
game_id      2011092505
home_team           PHI
game_date     9/25/2011
Name: 549, dtype: object ['9', '25', '2011']
game_id      2011092506
home_team           MIN
game_date     9/25/2011
Name: 550, dtype: object ['9', '25', '2011']
game_id      2011092507
home_team           CIN
game_date     9/25/2011
Name: 551, dtype: object ['9', '25', '2011']
game_id      2011092508
home_team           OAK
game_date     9/25/2011
Name: 552, dtype: object ['9', '25', '2011']
game_id      2011092509
home_team            SD
game_date     9/25/2011
Name: 553, dtype: object ['9', '25', '2011']
game_id      2011092510
home_team           STL
game_date     9/25/2011
Name: 554, dtype: object ['9', '25', '2011']
game_id      2011092511
home_team           CHI
game_date     9/25/2011
Name: 555, dtype: object ['9', '25', '2011']
game_id      2011092512
home_team           SEA
game_date     9/25/2011
Name: 556, dtype: object ['9', '25', '2011']
game_id      2011092513
home_team            TB
game_date     9/25/2011
Name: 557, dtype: object ['9', '25', '2011']
game_id      2011092514
home_team           IND
game_date     9/25/2011
Name: 558, dtype: object ['9', '25', '2011']
game_id      2011092600
home_team           DAL
game_date     9/26/2011
Name: 559, dtype: object ['9', '26', '2011']
game_id      2011100200
home_team           CIN
game_date     10/2/2011
Name: 560, dtype: object ['10', '2', '2011']
game_id      2011100201
home_team           CLE
game_date     10/2/2011
Name: 561, dtype: object ['10', '2', '2011']
game_id      2011100202
home_team           HOU
game_date     10/2/2011
Name: 562, dtype: object ['10', '2', '2011']
game_id      2011100203
home_team           DAL
game_date     10/2/2011
Name: 563, dtype: object ['10', '2', '2011']
game_id      2011100204
home_team           PHI
game_date     10/2/2011
Name: 564, dtype: object ['10', '2', '2011']
game_id      2011100205
home_team           CHI
game_date     10/2/2011
Name: 565, dtype: object ['10', '2', '2011']
game_id      2011100206
home_team           STL
game_date     10/2/2011
Name: 566, dtype: object ['10', '2', '2011']
game_id      2011100207
home_team           JAX
game_date     10/2/2011
Name: 567, dtype: object ['10', '2', '2011']
game_id      2011100208
home_team            KC
game_date     10/2/2011
Name: 568, dtype: object ['10', '2', '2011']
game_id      2011100209
home_team           ARI
game_date     10/2/2011
Name: 569, dtype: object ['10', '2', '2011']
game_id      2011100210
home_team           SEA
game_date     10/2/2011
Name: 570, dtype: object ['10', '2', '2011']
game_id      2011100211
home_team            GB
game_date     10/2/2011
Name: 571, dtype: object ['10', '2', '2011']
game_id      2011100212
home_team           OAK
game_date     10/2/2011
Name: 572, dtype: object ['10', '2', '2011']
game_id      2011100213
home_team            SD
game_date     10/2/2011
Name: 573, dtype: object ['10', '2', '2011']
game_id      2011100214
home_team           BAL
game_date     10/2/2011
Name: 574, dtype: object ['10', '2', '2011']
game_id      2011100300
home_team            TB
game_date     10/3/2011
Name: 575, dtype: object ['10', '3', '2011']
game_id      2011100900
home_team           PIT
game_date     10/9/2011
Name: 576, dtype: object ['10', '9', '2011']
game_id      2011100901
home_team           HOU
game_date     10/9/2011
Name: 577, dtype: object ['10', '9', '2011']
game_id      2011100902
home_team           IND
game_date     10/9/2011
Name: 578, dtype: object ['10', '9', '2011']
game_id      2011100903
home_team           JAX
game_date     10/9/2011
Name: 579, dtype: object ['10', '9', '2011']
game_id      2011100904
home_team           NYG
game_date     10/9/2011
Name: 580, dtype: object ['10', '9', '2011']

Name: 654, dtype: object ['11', '13', '2011']
game_id      2011111312
home_team            SF
game_date    11/13/2011
Name: 655, dtype: object ['11', '13', '2011']
game_id      2011111313
home_team           NYJ
game_date    11/13/2011
Name: 656, dtype: object ['11', '13', '2011']
game_id      2011111400
home_team            GB
game_date    11/14/2011
Name: 657, dtype: object ['11', '14', '2011']
game_id      2011111700
home_team           DEN
game_date    11/17/2011
Name: 658, dtype: object ['11', '17', '2011']
game_id      2011112000
home_team           MIN
game_date    11/20/2011
Name: 659, dtype: object ['11', '20', '2011']
game_id      2011112001
home_team           ATL
game_date    11/20/2011
Name: 660, dtype: object ['11', '20', '2011']
game_id      2011112002
home_team           MIA
game_date    11/20/2011
Name: 661, dtype: object ['11', '20', '2011']
game_id      2011112003
home_team           CLE
game_date    11/20/2011
Name: 662, dtype: object ['11', '20', '2011']
game_id      2011112004
home_team           BAL
game_date    11/20/2011
Name: 663, dtype: object ['11', '20', '2011']
game_id      2011112005
home_team           WAS
game_date    11/20/2011
Name: 664, dtype: object ['11', '20', '2011']
game_id      2011112006
home_team           DET
game_date    11/20/2011
Name: 665, dtype: object ['11', '20', '2011']
game_id      2011112007
home_team            GB
game_date    11/20/2011
Name: 666, dtype: object ['11', '20', '2011']
game_id      2011112008
home_team            SF
game_date    11/20/2011
Name: 667, dtype: object ['11', '20', '2011']
game_id      2011112009
home_team           STL
game_date    11/20/2011
Name: 668, dtype: object ['11', '20', '2011']
game_id      2011112010
home_team           CHI
game_date    11/20/2011
Name: 669, dtype: object ['11', '20', '2011']
game_id      2011112011
home_team           NYG
game_date    11/20/2011
Name: 670, dtype: object ['11', '20', '2011']
game_id      2011112100
home_team            NE
game_date    11/21/2011
Name: 671, dtype: object ['11', '21', '2011']
game_id      2011112400
home_team           DET
game_date    11/24/2011
Name: 672, dtype: object ['11', '24', '2011']
game_id      2011112401
home_team           DAL
game_date    11/24/2011
Name: 673, dtype: object ['11', '24', '2011']
game_id      2011112402
home_team           BAL
game_date    11/24/2011
Name: 674, dtype: object ['11', '24', '2011']
game_id      2011112700
home_team           NYJ
game_date    11/27/2011
Name: 675, dtype: object ['11', '27', '2011']
game_id      2011112701
home_team           CIN
game_date    11/27/2011
Name: 676, dtype: object ['11', '27', '2011']
game_id      2011112702
home_team           JAX
game_date    11/27/2011
Name: 677, dtype: object ['11', '27', '2011']
game_id      2011112703
home_team           ATL
game_date    11/27/2011
Name: 678, dtype: object ['11', '27', '2011']
game_id      2011112704
home_team           STL
game_date    11/27/2011
Name: 679, dtype: object ['11', '27', '2011']
game_id      2011112705
home_team           IND
game_date    11/27/2011
Name: 680, dtype: object ['11', '27', '2011']
game_id      2011112706
home_team           TEN
game_date    11/27/2011
Name: 681, dtype: object ['11', '27', '2011']
game_id      2011112707
home_team           SEA
game_date    11/27/2011
Name: 682, dtype: object ['11', '27', '2011']
game_id      2011112708
home_team           OAK
game_date    11/27/2011
Name: 683, dtype: object ['11', '27', '2011']
game_id      2011112709
home_team           PHI
game_date    11/27/2011
Name: 684, dtype: object ['11', '27', '2011']
game_id      2011112710
home_team            SD
game_date    11/27/2011
Name: 685, dtype: object ['11', '27', '2011']
game_id      2011112711
home_team            KC
game_date    11/27/2011
Name: 686, dtype: object ['11', '27', '2011']
game_id      2011112800
home_team            NO
game_date    11/28/2011
Name: 687, dtype: object ['11', '28', '2011']
game_id      2011120100
home_team           SEA
game_date     12/1/2011
Name: 688, dtype: object ['12', '1', '2011']
game_id      2011120400
home_team           WAS
game_date     12/4/2011
Name: 689, dtype: object ['12', '4', '2011']
game_id      2011120401
home_team           CHI
game_date     12/4/2011
Name: 690, dtype: object ['12', '4', '2011']
game_id      2011120402
home_team           BUF
game_date     12/4/2011
Name: 691, dtype: object ['12', '4', '2011']
game_id      2011120403
home_team           MIA
game_date     12/4/2011
Name: 692, dtype: object ['12', '4', '2011']
game_id      2011120404
home_team           CLE
game_date     12/4/2011
Name: 693, dtype: object ['12', '4', '2011']
game_id      2011120405
home_team           PIT
game_date     12/4/2011
Name: 694, dtype: object ['12', '4', '2011']
game_id      2011120406
home_team            NO
game_date     12/4/2011
Name: 695, dtype: object ['12', '4', '2011']
game_id      2011120407
home_team            TB
game_date     12/4/2011
Name: 696, dtype: object ['12', '4', '2011']
game_id      2011120408
home_team           HOU
game_date     12/4/2011
Name: 697, dtype: object ['12', '4', '2011']
game_id      2011120409
home_team           MIN
game_date     12/4/2011
Name: 698, dtype: object ['12', '4', '2011']
game_id      2011120410
home_team           NYG
game_date     12/4/2011
Name: 699, dtype: object ['12', '4', '2011']
game_id      2011120411
home_team           ARI
game_date     12/4/2011
Name: 700, dtype: object ['12', '4', '2011']
game_id      2011120412
home_team            SF
game_date     12/4/2011
Name: 701, dtype: object ['12', '4', '2011']
game_id      2011120413
home_team            NE
game_date     12/4/2011
Name: 702, dtype: object ['12', '4', '2011']
game_id      2011120500
home_team           JAX
game_date     12/5/2011
Name: 703, dtype: object ['12', '5', '2011']
game_id      2011120800
home_team           PIT
game_date     12/8/2011
Name: 704, dtype: object ['12', '8', '2011']
game_id      2011121100
home_team           WAS
game_date    12/11/2011
Name: 705, dtype: object ['12', '11', '2011']
game_id      2011121101
home_team            GB
game_date    12/11/2011
Name: 706, dtype: object ['12', '11', '2011']
game_id      2011121102
home_team           NYJ
game_date    12/11/2011
Name: 707, dtype: object ['12', '11', '2011']
game_id      2011121103
home_team           CIN
game_date    12/11/2011
Name: 708, dtype: object ['12', '11', '2011']
game_id      2011121104
home_team           BAL
game_date    12/11/2011
Name: 709, dtype: object ['12', '11', '2011']
game_id      2011121105
home_team           DET
game_date    12/11/2011
Name: 710, dtype: object ['12', '11', '2011']
game_id      2011121106
home_team           CAR
game_date    12/11/2011
Name: 711, dtype: object ['12', '11', '2011']
game_id      2011121107
home_team           MIA
game_date    12/11/2011
Name: 712, dtype: object ['12', '11', '2011']
game_id      2011121108
home_team           JAX
game_date    12/11/2011
Name: 713, dtype: object ['12', '11', '2011']
game_id      2011121109
home_team           TEN
game_date    12/11/2011
Name: 714, dtype: object ['12', '11', '2011']
game_id      2011121110
home_team           ARI
game_date    12/11/2011
Name: 715, dtype: object ['12', '11', '2011']
game_id      2011121111
home_team           DEN
game_date    12/11/2011
Name: 716, dtype: object ['12', '11', '2011']
game_id      2011121112
home_team            SD
game_date    12/11/2011
Name: 717, dtype: object ['12', '11', '2011']
game_id      2011121113
home_team           DAL
game_date    12/11/2011
Name: 718, dtype: object ['12', '11', '2011']
game_id      2011121200
home_team           SEA
game_date    12/12/2011
Name: 719, dtype: object ['12', '12', '2011']
game_id      2011121500
home_team           ATL
game_date    12/15/2011
Name: 720, dtype: object ['12', '15', '2011']
game_id      2011121700
home_team            TB
game_date    12/17/2011
Name: 721, dtype: object ['12', '17', '2011']
game_id      2011121800
home_team           STL
game_date    12/18/2011
Name: 722, dtype: object ['12', '18', '2011']
game_id      2011121801
home_team           BUF
game_date    12/18/2011
Name: 723, dtype: object ['12', '18', '2011']
game_id      2011121802
home_team           IND
game_date    12/18/2011
Name: 724, dtype: object ['12', '18', '2011']
game_id      2011121803
home_team           NYG
game_date    12/18/2011
Name: 725, dtype: object ['12', '18', '2011']
game_id      2011121804
home_team           CHI
game_date    12/18/2011
Name: 726, dtype: object ['12', '18', '2011']
game_id      2011121805
home_team           MIN
game_date    12/18/2011
Name: 727, dtype: object ['12', '18', '2011']
game_id      2011121806
home_team           HOU
game_date    12/18/2011
Name: 728, dtype: object ['12', '18', '2011']
game_id      2011121807
home_team            KC
game_date    12/18/2011
Name: 729, dtype: object ['12', '18', '2011']
game_id      2011121808
home_team           OAK
game_date    12/18/2011
Name: 730, dtype: object ['12', '18', '2011']
game_id      2011121809
home_team           PHI
game_date    12/18/2011
Name: 731, dtype: object ['12', '18', '2011']
game_id      2011121810
home_team           ARI
game_date    12/18/2011
Name: 732, dtype: object ['12', '18', '2011']
game_id      2011121811
home_team           DEN
game_date    12/18/2011
Name: 733, dtype: object ['12', '18', '2011']
game_id      2011121812
home_team            SD
game_date    12/18/2011
Name: 734, dtype: object ['12', '18', '2011']
game_id      2011121900
home_team            SF
game_date    12/19/2011
Name: 735, dtype: object ['12', '19', '2011']
game_id      2011122200
home_team           IND
game_date    12/22/2011
Name: 736, dtype: object ['12', '22', '2011']
game_id      2011122400
home_team           BUF
game_date    12/24/2011
Name: 737, dtype: object ['12', '24', '2011']
game_id      2011122401
home_team            NE
game_date    12/24/2011
Name: 738, dtype: object ['12', '24', '2011']
game_id      2011122402
home_team           BAL
game_date    12/24/2011
Name: 739, dtype: object ['12', '24', '2011']
game_id      2011122403
home_team           TEN
game_date    12/24/2011
Name: 740, dtype: object ['12', '24', '2011']
game_id      2011122404
home_team            KC
game_date    12/24/2011
Name: 741, dtype: object ['12', '24', '2011']
game_id      2011122405
home_team           NYJ
game_date    12/24/2011
Name: 742, dtype: object ['12', '24', '2011']
game_id      2011122406
home_team           WAS
game_date    12/24/2011
Name: 743, dtype: object ['12', '24', '2011']
game_id      2011122407
home_team           CAR
game_date    12/24/2011
Name: 744, dtype: object ['12', '24', '2011']
game_id      2011122408
home_team           CIN
game_date    12/24/2011
Name: 745, dtype: object ['12', '24', '2011']
game_id      2011122409
home_team           PIT
game_date    12/24/2011
Name: 746, dtype: object ['12', '24', '2011']
game_id      2011122410
home_team           DET
game_date    12/24/2011
Name: 747, dtype: object ['12', '24', '2011']
game_id      2011122411
home_team           DAL
game_date    12/24/2011
Name: 748, dtype: object ['12', '24', '2011']
game_id      2011122412
home_team           SEA
game_date    12/24/2011
Name: 749, dtype: object ['12', '24', '2011']
game_id      2011122500
home_team            GB
game_date    12/25/2011
Name: 750, dtype: object ['12', '25', '2011']
game_id      2011122600
home_team            NO
game_date    12/26/2011
Name: 751, dtype: object ['12', '26', '2011']
game_id      2012010100
home_team           MIA
game_date      1/1/2012
Name: 752, dtype: object ['1', '1', '2012']
game_id      2012010101
home_team            NE
game_date      1/1/2012
Name: 753, dtype: object ['1', '1', '2012']
game_id      2012010102
home_team           CIN
game_date      1/1/2012
Name: 754, dtype: object ['1', '1', '2012']
game_id      2012010103
home_team           CLE
game_date      1/1/2012
Name: 755, dtype: object ['1', '1', '2012']
game_id      2012010104
home_team           HOU
game_date      1/1/2012
Name: 756, dtype: object ['1', '1', '2012']
game_id      2012010105
home_team           JAX
game_date      1/1/2012
Name: 757, dtype: object ['1', '1', '2012']
game_id      2012010106
home_team           NYG
game_date      1/1/2012
Name: 758, dtype: object ['1', '1', '2012']
game_id      2012010107
home_team           PHI
game_date      1/1/2012
Name: 759, dtype: object ['1', '1', '2012']
game_id      2012010108
home_team            GB
game_date      1/1/2012
Name: 760, dtype: object ['1', '1', '2012']
game_id      2012010109
home_team           MIN
game_date      1/1/2012
Name: 761, dtype: object ['1', '1', '2012']
game_id      2012010110
home_team           ATL
game_date      1/1/2012
Name: 762, dtype: object ['1', '1', '2012']
game_id      2012010111
home_team            NO
game_date      1/1/2012
Name: 763, dtype: object ['1', '1', '2012']
game_id      2012010112
home_team           STL
game_date      1/1/2012
Name: 764, dtype: object ['1', '1', '2012']
game_id      2012010113
home_team           DEN
game_date      1/1/2012
Name: 765, dtype: object ['1', '1', '2012']
game_id      2012010114
home_team           OAK
game_date      1/1/2012
Name: 766, dtype: object ['1', '1', '2012']
game_id      2012010115
home_team           ARI
game_date      1/1/2012
Name: 767, dtype: object ['1', '1', '2012']
game_id      2012090500
home_team           NYG
game_date      9/5/2012
Name: 768, dtype: object ['9', '5', '2012']
game_id      2012090900
home_team           CHI
game_date      9/9/2012
Name: 769, dtype: object ['9', '9', '2012']
game_id      2012090901
home_team           MIN
game_date      9/9/2012
Name: 770, dtype: object ['9', '9', '2012']
game_id      2012090902
home_team           NYJ
game_date      9/9/2012
Name: 771, dtype: object ['9', '9', '2012']
game_id      2012090903
home_team           HOU
game_date      9/9/2012
Name: 772, dtype: object ['9', '9', '2012']
game_id      2012090904
home_team           TEN
game_date      9/9/2012
Name: 773, dtype: object ['9', '9', '2012']
game_id      2012090905
home_team           DET
game_date      9/9/2012
Name: 774, dtype: object ['9', '9', '2012']
game_id      2012090906
home_team            NO
game_date      9/9/2012
Name: 775, dtype: object ['9', '9', '2012']
game_id      2012090907
home_team           CLE
game_date      9/9/2012
Name: 776, dtype: object ['9', '9', '2012']
game_id      2012090908
home_team            KC
game_date      9/9/2012
Name: 777, dtype: object ['9', '9', '2012']
game_id      2012090909
home_team            GB
game_date      9/9/2012
Name: 778, dtype: object ['9', '9', '2012']
game_id      2012090910
home_team           ARI
game_date      9/9/2012
Name: 779, dtype: object ['9', '9', '2012']
game_id      2012090911
home_team            TB
game_date      9/9/2012
Name: 780, dtype: object ['9', '9', '2012']
game_id      2012090912
home_team           DEN
game_date      9/9/2012
Name: 781, dtype: object ['9', '9', '2012']
game_id      2012091000
home_team           BAL
game_date     9/10/2012
Name: 782, dtype: object ['9', '10', '2012']
game_id      2012091001
home_team           OAK
game_date     9/10/2012
Name: 783, dtype: object ['9', '10', '2012']
game_id      2012091300
home_team            GB
game_date     9/13/2012
Name: 784, dtype: object ['9', '13', '2012']
game_id      2012091600
home_team           NYG
game_date     9/16/2012
Name: 785, dtype: object ['9', '16', '2012']
game_id      2012091601
home_team           CAR
game_date     9/16/2012
Name: 786, dtype: object ['9', '16', '2012']
game_id      2012091602
home_team            NE
game_date     9/16/2012
Name: 787, dtype: object ['9', '16', '2012']
game_id      2012091603
home_team           IND
game_date     9/16/2012
Name: 788, dtype: object ['9', '16', '2012']
game_id      2012091604
home_team           PHI
game_date     9/16/2012
Name: 789, dtype: object ['9', '16', '2012']
game_id      2012091605
home_team           BUF
game_date     9/16/2012
Name: 790, dtype: object ['9', '16', '2012']
game_id      2012091606
home_team           CIN
game_date     9/16/2012
Name: 791, dtype: object ['9', '16', '2012']
game_id      2012091607
home_team           JAX
game_date     9/16/2012
Name: 792, dtype: object ['9', '16', '2012']
game_id      2012091608
home_team           SEA
game_date     9/16/2012
Name: 793, dtype: object ['9', '16', '2012']
game_id      2012091609
home_team           STL
game_date     9/16/2012
Name: 794, dtype: object ['9', '16', '2012']
game_id      2012091610
home_team           PIT
game_date     9/16/2012
Name: 795, dtype: object ['9', '16', '2012']
game_id      2012091611
home_team            SD
game_date     9/16/2012
Name: 796, dtype: object ['9', '16', '2012']
game_id      2012091612
home_team           MIA
game_date     9/16/2012
Name: 797, dtype: object ['9', '16', '2012']
game_id      2012091613
home_team            SF
game_date     9/16/2012
Name: 798, dtype: object ['9', '16', '2012']
game_id      2012091700
home_team           ATL
game_date     9/17/2012
Name: 799, dtype: object ['9', '17', '2012']
game_id      2012092000
home_team           CAR
game_date     9/20/2012
Name: 800, dtype: object ['9', '20', '2012']
game_id      2012092300
home_team           DAL
game_date     9/23/2012
Name: 801, dtype: object ['9', '23', '2012']
game_id      2012092301
home_team           CHI
game_date     9/23/2012
Name: 802, dtype: object ['9', '23', '2012']
game_id      2012092302
home_team           MIN
game_date     9/23/2012
Name: 803, dtype: object ['9', '23', '2012']
game_id      2012092303
home_team           TEN
game_date     9/23/2012
Name: 804, dtype: object ['9', '23', '2012']
game_id      2012092304
home_team           WAS
game_date     9/23/2012
Name: 805, dtype: object ['9', '23', '2012']
game_id      2012092305
home_team            NO
game_date     9/23/2012
Name: 806, dtype: object ['9', '23', '2012']
game_id      2012092306
home_team           MIA
game_date     9/23/2012
Name: 807, dtype: object ['9', '23', '2012']
game_id      2012092307
home_team           CLE
game_date     9/23/2012
Name: 808, dtype: object ['9', '23', '2012']
game_id      2012092308
home_team           IND
game_date     9/23/2012
Name: 809, dtype: object ['9', '23', '2012']
game_id      2012092309
home_team           ARI
game_date     9/23/2012
Name: 810, dtype: object ['9', '23', '2012']
game_id      2012092310
home_team            SD
game_date     9/23/2012
Name: 811, dtype: object ['9', '23', '2012']
game_id      2012092311
home_team           DEN
game_date     9/23/2012
Name: 812, dtype: object ['9', '23', '2012']
game_id      2012092312
home_team           OAK
game_date     9/23/2012
Name: 813, dtype: object ['9', '23', '2012']
game_id      2012092313
home_team           BAL
game_date     9/23/2012
Name: 814, dtype: object ['9', '23', '2012']
game_id      2012092400
home_team           SEA
game_date     9/24/2012
Name: 815, dtype: object ['9', '24', '2012']
game_id      2012092700
home_team           BAL
game_date     9/27/2012
Name: 816, dtype: object ['9', '27', '2012']
game_id      2012093000
home_team           BUF
game_date     9/30/2012
Name: 817, dtype: object ['9', '30', '2012']
game_id      2012093001
home_team           HOU
game_date     9/30/2012
Name: 818, dtype: object ['9', '30', '2012']
game_id      2012093002
home_team            KC
game_date     9/30/2012
Name: 819, dtype: object ['9', '30', '2012']
game_id      2012093003
home_team           DET
game_date     9/30/2012
Name: 820, dtype: object ['9', '30', '2012']
game_id      2012093004
home_team           ATL
game_date     9/30/2012
Name: 821, dtype: object ['9', '30', '2012']
game_id      2012093005
home_team           STL
game_date     9/30/2012
Name: 822, dtype: object ['9', '30', '2012']
game_id      2012093006
home_team           NYJ
game_date     9/30/2012
Name: 823, dtype: object ['9', '30', '2012']
game_id      2012093007
home_team           ARI
game_date     9/30/2012
Name: 824, dtype: object ['9', '30', '2012']

Name: 895, dtype: object ['11', '4', '2012']
game_id      2012110410
home_team           NYG
game_date     11/4/2012
Name: 896, dtype: object ['11', '4', '2012']
game_id      2012110411
home_team           ATL
game_date     11/4/2012
Name: 897, dtype: object ['11', '4', '2012']
game_id      2012110500
home_team            NO
game_date     11/5/2012
Name: 898, dtype: object ['11', '5', '2012']
game_id      2012110800
home_team           JAX
game_date     11/8/2012
Name: 899, dtype: object ['11', '8', '2012']
game_id      2012111100
home_team           CAR
game_date    11/11/2012
Name: 900, dtype: object ['11', '11', '2012']
game_id      2012111101
home_team            TB
game_date    11/11/2012
Name: 901, dtype: object ['11', '11', '2012']
game_id      2012111102
home_team           MIA
game_date    11/11/2012
Name: 902, dtype: object ['11', '11', '2012']
game_id      2012111103
home_team            NE
game_date    11/11/2012
Name: 903, dtype: object ['11', '11', '2012']
game_id      2012111104
home_team           BAL
game_date    11/11/2012
Name: 904, dtype: object ['11', '11', '2012']
game_id      2012111105
home_team           CIN
game_date    11/11/2012
Name: 905, dtype: object ['11', '11', '2012']
game_id      2012111106
home_team            NO
game_date    11/11/2012
Name: 906, dtype: object ['11', '11', '2012']
game_id      2012111107
home_team           MIN
game_date    11/11/2012
Name: 907, dtype: object ['11', '11', '2012']
game_id      2012111108
home_team           SEA
game_date    11/11/2012
Name: 908, dtype: object ['11', '11', '2012']
game_id      2012111109
home_team           PHI
game_date    11/11/2012
Name: 909, dtype: object ['11', '11', '2012']
game_id      2012111110
home_team            SF
game_date    11/11/2012
Name: 910, dtype: object ['11', '11', '2012']
game_id      2012111111
home_team           CHI
game_date    11/11/2012
Name: 911, dtype: object ['11', '11', '2012']
game_id      2012111200
home_team           PIT
game_date    11/12/2012
Name: 912, dtype: object ['11', '12', '2012']
game_id      2012111500
home_team           BUF
game_date    11/15/2012
Name: 913, dtype: object ['11', '15', '2012']
game_id      2012111800
home_team           WAS
game_date    11/18/2012
Name: 914, dtype: object ['11', '18', '2012']
game_id      2012111801
home_team           DET
game_date    11/18/2012
Name: 915, dtype: object ['11', '18', '2012']
game_id      2012111802
home_team           ATL
game_date    11/18/2012
Name: 916, dtype: object ['11', '18', '2012']
game_id      2012111803
home_team           CAR
game_date    11/18/2012
Name: 917, dtype: object ['11', '18', '2012']
game_id      2012111804
home_team           DAL
game_date    11/18/2012
Name: 918, dtype: object ['11', '18', '2012']
game_id      2012111805
home_team           STL
game_date    11/18/2012
Name: 919, dtype: object ['11', '18', '2012']
game_id      2012111806
home_team            NE
game_date    11/18/2012
Name: 920, dtype: object ['11', '18', '2012']
game_id      2012111807
home_team           HOU
game_date    11/18/2012
Name: 921, dtype: object ['11', '18', '2012']
game_id      2012111808
home_team            KC
game_date    11/18/2012
Name: 922, dtype: object ['11', '18', '2012']
game_id      2012111809
home_team           OAK
game_date    11/18/2012
Name: 923, dtype: object ['11', '18', '2012']
game_id      2012111810
home_team           DEN
game_date    11/18/2012
Name: 924, dtype: object ['11', '18', '2012']
game_id      2012111811
home_team           PIT
game_date    11/18/2012
Name: 925, dtype: object ['11', '18', '2012']
game_id      2012111900
home_team            SF
game_date    11/19/2012
Name: 926, dtype: object ['11', '19', '2012']
game_id      2012112200
home_team           DET
game_date    11/22/2012
Name: 927, dtype: object ['11', '22', '2012']
game_id      2012112201
home_team           DAL
game_date    11/22/2012
Name: 928, dtype: object ['11', '22', '2012']
game_id      2012112202
home_team           NYJ
game_date    11/22/2012
Name: 929, dtype: object ['11', '22', '2012']
game_id      2012112500
home_team           CIN
game_date    11/25/2012
Name: 930, dtype: object ['11', '25', '2012']
game_id      2012112501
home_team           CLE
game_date    11/25/2012
Name: 931, dtype: object ['11', '25', '2012']
game_id      2012112502
home_team           IND
game_date    11/25/2012
Name: 932, dtype: object ['11', '25', '2012']
game_id      2012112503
home_team           JAX
game_date    11/25/2012
Name: 933, dtype: object ['11', '25', '2012']
game_id      2012112504
home_team            KC
game_date    11/25/2012
Name: 934, dtype: object ['11', '25', '2012']
game_id      2012112505
home_team           CHI
game_date    11/25/2012
Name: 935, dtype: object ['11', '25', '2012']
game_id      2012112506
home_team            TB
game_date    11/25/2012
Name: 936, dtype: object ['11', '25', '2012']
game_id      2012112507
home_team           MIA
game_date    11/25/2012
Name: 937, dtype: object ['11', '25', '2012']
game_id      2012112508
home_team            SD
game_date    11/25/2012
Name: 938, dtype: object ['11', '25', '2012']
game_id      2012112509
home_team            NO
game_date    11/25/2012
Name: 939, dtype: object ['11', '25', '2012']
game_id      2012112510
home_team           ARI
game_date    11/25/2012
Name: 940, dtype: object ['11', '25', '2012']
game_id      2012112511
home_team           NYG
game_date    11/25/2012
Name: 941, dtype: object ['11', '25', '2012']
game_id      2012112600
home_team           PHI
game_date    11/26/2012
Name: 942, dtype: object ['11', '26', '2012']
game_id      2012112900
home_team           ATL
game_date    11/29/2012
Name: 943, dtype: object ['11', '29', '2012']
game_id      2012120200
home_team           CHI
game_date     12/2/2012
Name: 944, dtype: object ['12', '2', '2012']
game_id      2012120201
home_team            GB
game_date     12/2/2012
Name: 945, dtype: object ['12', '2', '2012']
game_id      2012120202
home_team           STL
game_date     12/2/2012
Name: 946, dtype: object ['12', '2', '2012']
game_id      2012120203
home_team           NYJ
game_date     12/2/2012
Name: 947, dtype: object ['12', '2', '2012']
game_id      2012120204
home_team            KC
game_date     12/2/2012
Name: 948, dtype: object ['12', '2', '2012']
game_id      2012120205
home_team           DET
game_date     12/2/2012
Name: 949, dtype: object ['12', '2', '2012']
game_id      2012120206
home_team           BUF
game_date     12/2/2012
Name: 950, dtype: object ['12', '2', '2012']
game_id      2012120207
home_team           MIA
game_date     12/2/2012
Name: 951, dtype: object ['12', '2', '2012']
game_id      2012120208
home_team           TEN
game_date     12/2/2012
Name: 952, dtype: object ['12', '2', '2012']
game_id      2012120209
home_team           DEN
game_date     12/2/2012
Name: 953, dtype: object ['12', '2', '2012']
game_id      2012120210
home_team           BAL
game_date     12/2/2012
Name: 954, dtype: object ['12', '2', '2012']
game_id      2012120211
home_team           OAK
game_date     12/2/2012
Name: 955, dtype: object ['12', '2', '2012']
game_id      2012120212
home_team            SD
game_date     12/2/2012
Name: 956, dtype: object ['12', '2', '2012']
game_id      2012120213
home_team           DAL
game_date     12/2/2012
Name: 957, dtype: object ['12', '2', '2012']
game_id      2012120300
home_team           WAS
game_date     12/3/2012
Name: 958, dtype: object ['12', '3', '2012']
game_id      2012120600
home_team           OAK
game_date     12/6/2012
Name: 959, dtype: object ['12', '6', '2012']
game_id      2012120900
home_team           WAS
game_date     12/9/2012
Name: 960, dtype: object ['12', '9', '2012']
game_id      2012120901
home_team           CLE
game_date     12/9/2012
Name: 961, dtype: object ['12', '9', '2012']
game_id      2012120902
home_team           PIT
game_date     12/9/2012
Name: 962, dtype: object ['12', '9', '2012']
game_id      2012120903
home_team           IND
game_date     12/9/2012
Name: 963, dtype: object ['12', '9', '2012']
game_id      2012120904
home_team           JAX
game_date     12/9/2012
Name: 964, dtype: object ['12', '9', '2012']
game_id      2012120905
home_team           MIN
game_date     12/9/2012
Name: 965, dtype: object ['12', '9', '2012']
game_id      2012120906
home_team           CAR
game_date     12/9/2012
Name: 966, dtype: object ['12', '9', '2012']
game_id      2012120907
home_team            TB
game_date     12/9/2012
Name: 967, dtype: object ['12', '9', '2012']
game_id      2012120908
home_team           BUF
game_date     12/9/2012
Name: 968, dtype: object ['12', '9', '2012']
game_id      2012120909
home_team           CIN
game_date     12/9/2012
Name: 969, dtype: object ['12', '9', '2012']
game_id      2012120910
home_team            SF
game_date     12/9/2012
Name: 970, dtype: object ['12', '9', '2012']
game_id      2012120911
home_team           NYG
game_date     12/9/2012
Name: 971, dtype: object ['12', '9', '2012']
game_id      2012120912
home_team           SEA
game_date     12/9/2012
Name: 972, dtype: object ['12', '9', '2012']
game_id      2012120913
home_team            GB
game_date     12/9/2012
Name: 973, dtype: object ['12', '9', '2012']
game_id      2012121000
home_team            NE
game_date    12/10/2012
Name: 974, dtype: object ['12', '10', '2012']
game_id      2012121300
home_team           PHI
game_date    12/13/2012
Name: 975, dtype: object ['12', '13', '2012']
game_id      2012121600
home_team           CHI
game_date    12/16/2012
Name: 976, dtype: object ['12', '16', '2012']
game_id      2012121601
home_team           ATL
game_date    12/16/2012
Name: 977, dtype: object ['12', '16', '2012']
game_id      2012121602
home_team            NO
game_date    12/16/2012
Name: 978, dtype: object ['12', '16', '2012']
game_id      2012121603
home_team           STL
game_date    12/16/2012
Name: 979, dtype: object ['12', '16', '2012']
game_id      2012121604
home_team           CLE
game_date    12/16/2012
Name: 980, dtype: object ['12', '16', '2012']
game_id      2012121605
home_team           MIA
game_date    12/16/2012
Name: 981, dtype: object ['12', '16', '2012']
game_id      2012121606
home_team           BAL
game_date    12/16/2012
Name: 982, dtype: object ['12', '16', '2012']
game_id      2012121607
home_team           HOU
game_date    12/16/2012
Name: 983, dtype: object ['12', '16', '2012']
game_id      2012121608
home_team           ARI
game_date    12/16/2012
Name: 984, dtype: object ['12', '16', '2012']
game_id      2012121609
home_team            SD
game_date    12/16/2012
Name: 985, dtype: object ['12', '16', '2012']
game_id      2012121610
home_team           BUF
game_date    12/16/2012
Name: 986, dtype: object ['12', '16', '2012']
game_id      2012121611
home_team           DAL
game_date    12/16/2012
Name: 987, dtype: object ['12', '16', '2012']
game_id      2012121612
home_team           OAK
game_date    12/16/2012
Name: 988, dtype: object ['12', '16', '2012']
game_id      2012121613
home_team            NE
game_date    12/16/2012
Name: 989, dtype: object ['12', '16', '2012']
game_id      2012121700
home_team           TEN
game_date    12/17/2012
Name: 990, dtype: object ['12', '17', '2012']
game_id      2012122200
home_team           DET
game_date    12/22/2012
Name: 991, dtype: object ['12', '22', '2012']
game_id      2012122300
home_team            GB
game_date    12/23/2012
Name: 992, dtype: object ['12', '23', '2012']
game_id      2012122301
home_team           CAR
game_date    12/23/2012
Name: 993, dtype: object ['12', '23', '2012']
game_id      2012122302
home_team           MIA
game_date    12/23/2012
Name: 994, dtype: object ['12', '23', '2012']
game_id      2012122303
home_team           PIT
game_date    12/23/2012
Name: 995, dtype: object ['12', '23', '2012']
game_id      2012122304
home_team           JAX
game_date    12/23/2012
Name: 996, dtype: object ['12', '23', '2012']
game_id      2012122305
home_team            KC
game_date    12/23/2012
Name: 997, dtype: object ['12', '23', '2012']
game_id      2012122306
home_team           DAL
game_date    12/23/2012
Name: 998, dtype: object ['12', '23', '2012']
game_id      2012122307
home_team           PHI
game_date    12/23/2012
Name: 999, dtype: object ['12', '23', '2012']
game_id      2012122308
home_team            TB
game_date    12/23/2012
Name: 1000, dtype: object ['12', '23', '2012']
game_id      2012122309
home_team           BAL
game_date    12/23/2012
Name: 1001, dtype: object ['12', '23', '2012']
game_id      2012122310
home_team           HOU
game_date    12/23/2012
Name: 1002, dtype: object ['12', '23', '2012']
game_id      2012122311
home_team           DEN
game_date    12/23/2012
Name: 1003, dtype: object ['12', '23', '2012']
game_id      2012122312
home_team           ARI
game_date    12/23/2012
Name: 1004, dtype: object ['12', '23', '2012']
game_id      2012122313
home_team           SEA
game_date    12/23/2012
Name: 1005, dtype: object ['12', '23', '2012']
game_id      2012122314
home_team           NYJ
game_date    12/23/2012
Name: 1006, dtype: object ['12', '23', '2012']
game_id      2012123000
home_team           BUF
game_date    12/30/2012
Name: 1007, dtype: object ['12', '30', '2012']
game_id      2012123001
home_team            NE
game_date    12/30/2012
Name: 1008, dtype: object ['12', '30', '2012']
game_id      2012123002
home_team           CIN
game_date    12/30/2012
Name: 1009, dtype: object ['12', '30', '2012']
game_id      2012123003
home_team           PIT
game_date    12/30/2012
Name: 1010, dtype: object ['12', '30', '2012']
game_id      2012123004
home_team           IND
game_date    12/30/2012
Name: 1011, dtype: object ['12', '30', '2012']
game_id      2012123005
home_team           TEN
game_date    12/30/2012
Name: 1012, dtype: object ['12', '30', '2012']
game_id      2012123006
home_team           NYG
game_date    12/30/2012
Name: 1013, dtype: object ['12', '30', '2012']
game_id      2012123007
home_team           WAS
game_date    12/30/2012
Name: 1014, dtype: object ['12', '30', '2012']
game_id      2012123008
home_team           DET
game_date    12/30/2012
Name: 1015, dtype: object ['12', '30', '2012']
game_id      2012123009
home_team           MIN
game_date    12/30/2012
Name: 1016, dtype: object ['12', '30', '2012']
game_id      2012123010
home_team           ATL
game_date    12/30/2012
Name: 1017, dtype: object ['12', '30', '2012']
game_id      2012123011
home_team            NO
game_date    12/30/2012
Name: 1018, dtype: object ['12', '30', '2012']
game_id      2012123012
home_team           DEN
game_date    12/30/2012
Name: 1019, dtype: object ['12', '30', '2012']
game_id      2012123013
home_team            SD
game_date    12/30/2012
Name: 1020, dtype: object ['12', '30', '2012']
game_id      2012123014
home_team            SF
game_date    12/30/2012
Name: 1021, dtype: object ['12', '30', '2012']
game_id      2012123015
home_team           SEA
game_date    12/30/2012
Name: 1022, dtype: object ['12', '30', '2012']
game_id      2013090500
home_team           DEN
game_date      9/5/2013
Name: 1023, dtype: object ['9', '5', '2013']
game_id      2013090800
home_team           BUF
game_date      9/8/2013
Name: 1024, dtype: object ['9', '8', '2013']
game_id      2013090801
home_team           CAR
game_date      9/8/2013
Name: 1025, dtype: object ['9', '8', '2013']
game_id      2013090802
home_team           CHI
game_date      9/8/2013
Name: 1026, dtype: object ['9', '8', '2013']
game_id      2013090803
home_team           CLE
game_date      9/8/2013
Name: 1027, dtype: object ['9', '8', '2013']
game_id      2013090804
home_team           DET
game_date      9/8/2013
Name: 1028, dtype: object ['9', '8', '2013']
game_id      2013090805
home_team           IND
game_date      9/8/2013
Name: 1029, dtype: object ['9', '8', '2013']
game_id      2013090806
home_team           JAX
game_date      9/8/2013
Name: 1030, dtype: object ['9', '8', '2013']
game_id      2013090807
home_team           NYJ
game_date      9/8/2013
Name: 1031, dtype: object ['9', '8', '2013']
game_id      2013090808
home_team            NO
game_date      9/8/2013
Name: 1032, dtype: object ['9', '8', '2013']
game_id      2013090809
home_team           PIT
game_date      9/8/2013
Name: 1033, dtype: object ['9', '8', '2013']
game_id      2013090810
home_team           STL
game_date      9/8/2013
Name: 1034, dtype: object ['9', '8', '2013']
game_id      2013090811
home_team            SF
game_date      9/8/2013
Name: 1035, dtype: object ['9', '8', '2013']
game_id      2013090812
home_team           DAL
game_date      9/8/2013
Name: 1036, dtype: object ['9', '8', '2013']
game_id      2013090900
home_team           WAS
game_date      9/9/2013
Name: 1037, dtype: object ['9', '9', '2013']
game_id      2013090901
home_team            SD
game_date      9/9/2013
Name: 1038, dtype: object ['9', '9', '2013']
game_id      2013091200
home_team            NE
game_date     9/12/2013
Name: 1039, dtype: object ['9', '12', '2013']
game_id      2013091500
home_team           ATL
game_date     9/15/2013
Name: 1040, dtype: object ['9', '15', '2013']
game_id      2013091501
home_team           BAL
game_date     9/15/2013
Name: 1041, dtype: object ['9', '15', '2013']
game_id      2013091502
home_team           BUF
game_date     9/15/2013
Name: 1042, dtype: object ['9', '15', '2013']
game_id      2013091503
home_team           CHI
game_date     9/15/2013
Name: 1043, dtype: object ['9', '15', '2013']
game_id      2013091504
home_team            GB
game_date     9/15/2013
Name: 1044, dtype: object ['9', '15', '2013']
game_id      2013091505
home_team           HOU
game_date     9/15/2013
Name: 1045, dtype: object ['9', '15', '2013']
game_id      2013091506
home_team           IND
game_date     9/15/2013
Name: 1046, dtype: object ['9', '15', '2013']
game_id      2013091507
home_team            KC
game_date     9/15/2013
Name: 1047, dtype: object ['9', '15', '2013']
game_id      2013091508
home_team           PHI
game_date     9/15/2013
Name: 1048, dtype: object ['9', '15', '2013']
game_id      2013091509
home_team           ARI
game_date     9/15/2013
Name: 1049, dtype: object ['9', '15', '2013']
game_id      2013091510
home_team            TB
game_date     9/15/2013
Name: 1050, dtype: object ['9', '15', '2013']
game_id      2013091511
home_team           NYG
game_date     9/15/2013
Name: 1051, dtype: object ['9', '15', '2013']
game_id      2013091512
home_team           OAK
game_date     9/15/2013
Name: 1052, dtype: object ['9', '15', '2013']
game_id      2013091513
home_team           SEA
game_date     9/15/2013
Name: 1053, dtype: object ['9', '15', '2013']
game_id      2013091600
home_team           CIN
game_date     9/16/2013
Name: 1054, dtype: object ['9', '16', '2013']
game_id      2013091900
home_team           PHI
game_date     9/19/2013
Name: 1055, dtype: object ['9', '19', '2013']
game_id      2013092200
home_team           BAL
game_date     9/22/2013
Name: 1056, dtype: object ['9', '22', '2013']
game_id      2013092201
home_team           CIN
game_date     9/22/2013
Name: 1057, dtype: object ['9', '22', '2013']
game_id      2013092202
home_team           DAL
game_date     9/22/2013
Name: 1058, dtype: object ['9', '22', '2013']
game_id      2013092203
home_team           MIA
game_date     9/22/2013
Name: 1059, dtype: object ['9', '22', '2013']
game_id      2013092204
home_team           MIN
game_date     9/22/2013
Name: 1060, dtype: object ['9', '22', '2013']
game_id      2013092205
home_team           NYJ
game_date     9/22/2013
Name: 1061, dtype: object ['9', '22', '2013']
game_id      2013092206
home_team            NE
game_date     9/22/2013
Name: 1062, dtype: object ['9', '22', '2013']
game_id      2013092207
home_team            NO
game_date     9/22/2013
Name: 1063, dtype: object ['9', '22', '2013']
game_id      2013092208
home_team           TEN
game_date     9/22/2013
Name: 1064, dtype: object ['9', '22', '2013']
game_id      2013092209

Name: 1141, dtype: object ['10', '27', '2013']
game_id      2013102800
home_team           STL
game_date    10/28/2013
Name: 1142, dtype: object ['10', '28', '2013']
game_id      2013103100
home_team           MIA
game_date    10/31/2013
Name: 1143, dtype: object ['10', '31', '2013']
game_id      2013110300
home_team           BUF
game_date     11/3/2013
Name: 1144, dtype: object ['11', '3', '2013']
game_id      2013110301
home_team           CAR
game_date     11/3/2013
Name: 1145, dtype: object ['11', '3', '2013']
game_id      2013110302
home_team           DAL
game_date     11/3/2013
Name: 1146, dtype: object ['11', '3', '2013']
game_id      2013110303
home_team           NYJ
game_date     11/3/2013
Name: 1147, dtype: object ['11', '3', '2013']
game_id      2013110304
home_team           STL
game_date     11/3/2013
Name: 1148, dtype: object ['11', '3', '2013']
game_id      2013110305
home_team           WAS
game_date     11/3/2013
Name: 1149, dtype: object ['11', '3', '2013']
game_id      2013110306
home_team           OAK
game_date     11/3/2013
Name: 1150, dtype: object ['11', '3', '2013']
game_id      2013110307
home_team           SEA
game_date     11/3/2013
Name: 1151, dtype: object ['11', '3', '2013']
game_id      2013110308
home_team           CLE
game_date     11/3/2013
Name: 1152, dtype: object ['11', '3', '2013']
game_id      2013110309
home_team            NE
game_date     11/3/2013
Name: 1153, dtype: object ['11', '3', '2013']
game_id      2013110310
home_team           HOU
game_date     11/3/2013
Name: 1154, dtype: object ['11', '3', '2013']
game_id      2013110400
home_team            GB
game_date     11/4/2013
Name: 1155, dtype: object ['11', '4', '2013']
game_id      2013110700
home_team           MIN
game_date     11/7/2013
Name: 1156, dtype: object ['11', '7', '2013']
game_id      2013111000
home_team           ATL
game_date    11/10/2013
Name: 1157, dtype: object ['11', '10', '2013']
game_id      2013111001
home_team           BAL
game_date    11/10/2013
Name: 1158, dtype: object ['11', '10', '2013']
game_id      2013111002
home_team           CHI
game_date    11/10/2013
Name: 1159, dtype: object ['11', '10', '2013']
game_id      2013111003
home_team            GB
game_date    11/10/2013
Name: 1160, dtype: object ['11', '10', '2013']
game_id      2013111004
home_team           IND
game_date    11/10/2013
Name: 1161, dtype: object ['11', '10', '2013']
game_id      2013111005
home_team           NYG
game_date    11/10/2013
Name: 1162, dtype: object ['11', '10', '2013']
game_id      2013111006
home_team           PIT
game_date    11/10/2013
Name: 1163, dtype: object ['11', '10', '2013']
game_id      2013111007
home_team           TEN
game_date    11/10/2013
Name: 1164, dtype: object ['11', '10', '2013']
game_id      2013111008
home_team            SF
game_date    11/10/2013
Name: 1165, dtype: object ['11', '10', '2013']
game_id      2013111009
home_team           ARI
game_date    11/10/2013
Name: 1166, dtype: object ['11', '10', '2013']
game_id      2013111010
home_team            SD
game_date    11/10/2013
Name: 1167, dtype: object ['11', '10', '2013']
game_id      2013111011
home_team            NO
game_date    11/10/2013
Name: 1168, dtype: object ['11', '10', '2013']
game_id      2013111100
home_team            TB
game_date    11/11/2013
Name: 1169, dtype: object ['11', '11', '2013']
game_id      2013111400
home_team           TEN
game_date    11/14/2013
Name: 1170, dtype: object ['11', '14', '2013']
game_id      2013111700
home_team           BUF
game_date    11/17/2013
Name: 1171, dtype: object ['11', '17', '2013']
game_id      2013111701
home_team           CHI
game_date    11/17/2013
Name: 1172, dtype: object ['11', '17', '2013']
game_id      2013111702
home_team           CIN
game_date    11/17/2013
Name: 1173, dtype: object ['11', '17', '2013']
game_id      2013111703
home_team           HOU
game_date    11/17/2013
Name: 1174, dtype: object ['11', '17', '2013']
game_id      2013111704
home_team           JAX
game_date    11/17/2013
Name: 1175, dtype: object ['11', '17', '2013']
game_id      2013111705
home_team           MIA
game_date    11/17/2013
Name: 1176, dtype: object ['11', '17', '2013']
game_id      2013111706
home_team           PHI
game_date    11/17/2013
Name: 1177, dtype: object ['11', '17', '2013']
game_id      2013111707
home_team           PIT
game_date    11/17/2013
Name: 1178, dtype: object ['11', '17', '2013']
game_id      2013111708
home_team            TB
game_date    11/17/2013
Name: 1179, dtype: object ['11', '17', '2013']
game_id      2013111709
home_team           DEN
game_date    11/17/2013
Name: 1180, dtype: object ['11', '17', '2013']
game_id      2013111710
home_team            NO
game_date    11/17/2013
Name: 1181, dtype: object ['11', '17', '2013']
game_id      2013111711
home_team           SEA
game_date    11/17/2013
Name: 1182, dtype: object ['11', '17', '2013']
game_id      2013111712
home_team           NYG
game_date    11/17/2013
Name: 1183, dtype: object ['11', '17', '2013']
game_id      2013111800
home_team           CAR
game_date    11/18/2013
Name: 1184, dtype: object ['11', '18', '2013']
game_id      2013112100
home_team           ATL
game_date    11/21/2013
Name: 1185, dtype: object ['11', '21', '2013']
game_id      2013112400
home_team           BAL
game_date    11/24/2013
Name: 1186, dtype: object ['11', '24', '2013']
game_id      2013112401
home_team           CLE
game_date    11/24/2013
Name: 1187, dtype: object ['11', '24', '2013']
game_id      2013112402
home_team           DET
game_date    11/24/2013
Name: 1188, dtype: object ['11', '24', '2013']
game_id      2013112403
home_team            GB
game_date    11/24/2013
Name: 1189, dtype: object ['11', '24', '2013']
game_id      2013112404
home_team           HOU
game_date    11/24/2013
Name: 1190, dtype: object ['11', '24', '2013']
game_id      2013112405
home_team            KC
game_date    11/24/2013
Name: 1191, dtype: object ['11', '24', '2013']
game_id      2013112406
home_team           MIA
game_date    11/24/2013
Name: 1192, dtype: object ['11', '24', '2013']
game_id      2013112407
home_team           STL
game_date    11/24/2013
Name: 1193, dtype: object ['11', '24', '2013']
game_id      2013112408
home_team           ARI
game_date    11/24/2013
Name: 1194, dtype: object ['11', '24', '2013']
game_id      2013112409
home_team           OAK
game_date    11/24/2013
Name: 1195, dtype: object ['11', '24', '2013']
game_id      2013112410
home_team           NYG
game_date    11/24/2013
Name: 1196, dtype: object ['11', '24', '2013']
game_id      2013112411
home_team            NE
game_date    11/24/2013
Name: 1197, dtype: object ['11', '24', '2013']
game_id      2013112500
home_team           WAS
game_date    11/25/2013
Name: 1198, dtype: object ['11', '25', '2013']
game_id      2013112800
home_team           DET
game_date    11/28/2013
Name: 1199, dtype: object ['11', '28', '2013']
game_id      2013112801
home_team           DAL
game_date    11/28/2013
Name: 1200, dtype: object ['11', '28', '2013']
game_id      2013112802
home_team           BAL
game_date    11/28/2013
Name: 1201, dtype: object ['11', '28', '2013']
game_id      2013120100
home_team           CAR
game_date     12/1/2013
Name: 1202, dtype: object ['12', '1', '2013']
game_id      2013120101
home_team           CLE
game_date     12/1/2013
Name: 1203, dtype: object ['12', '1', '2013']
game_id      2013120102
home_team           IND
game_date     12/1/2013
Name: 1204, dtype: object ['12', '1', '2013']
game_id      2013120103
home_team            KC
game_date     12/1/2013
Name: 1205, dtype: object ['12', '1', '2013']
game_id      2013120104
home_team           MIN
game_date     12/1/2013
Name: 1206, dtype: object ['12', '1', '2013']
game_id      2013120105
home_team           NYJ
game_date     12/1/2013
Name: 1207, dtype: object ['12', '1', '2013']
game_id      2013120106
home_team           PHI
game_date     12/1/2013
Name: 1208, dtype: object ['12', '1', '2013']
game_id      2013120107
home_team           BUF
game_date     12/1/2013
Name: 1209, dtype: object ['12', '1', '2013']
game_id      2013120108
home_team            SF
game_date     12/1/2013
Name: 1210, dtype: object ['12', '1', '2013']
game_id      2013120109
home_team           HOU
game_date     12/1/2013
Name: 1211, dtype: object ['12', '1', '2013']
game_id      2013120110
home_team            SD
game_date     12/1/2013
Name: 1212, dtype: object ['12', '1', '2013']
game_id      2013120111
home_team           WAS
game_date     12/1/2013
Name: 1213, dtype: object ['12', '1', '2013']
game_id      2013120200
home_team           SEA
game_date     12/2/2013
Name: 1214, dtype: object ['12', '2', '2013']
game_id      2013120500
home_team           JAX
game_date     12/5/2013
Name: 1215, dtype: object ['12', '5', '2013']
game_id      2013120800
home_team           BAL
game_date     12/8/2013
Name: 1216, dtype: object ['12', '8', '2013']
game_id      2013120801
home_team           CIN
game_date     12/8/2013
Name: 1217, dtype: object ['12', '8', '2013']
game_id      2013120802
home_team            NE
game_date     12/8/2013
Name: 1218, dtype: object ['12', '8', '2013']
game_id      2013120803
home_team           NYJ
game_date     12/8/2013
Name: 1219, dtype: object ['12', '8', '2013']
game_id      2013120804
home_team            NO
game_date     12/8/2013
Name: 1220, dtype: object ['12', '8', '2013']
game_id      2013120805
home_team           PHI
game_date     12/8/2013
Name: 1221, dtype: object ['12', '8', '2013']
game_id      2013120806
home_team           PIT
game_date     12/8/2013
Name: 1222, dtype: object ['12', '8', '2013']
game_id      2013120807
home_team            TB
game_date     12/8/2013
Name: 1223, dtype: object ['12', '8', '2013']
game_id      2013120808
home_team           WAS
game_date     12/8/2013
Name: 1224, dtype: object ['12', '8', '2013']
game_id      2013120809
home_team           DEN
game_date     12/8/2013
Name: 1225, dtype: object ['12', '8', '2013']
game_id      2013120810
home_team           ARI
game_date     12/8/2013
Name: 1226, dtype: object ['12', '8', '2013']
game_id      2013120811
home_team            SD
game_date     12/8/2013
Name: 1227, dtype: object ['12', '8', '2013']
game_id      2013120812
home_team            SF
game_date     12/8/2013
Name: 1228, dtype: object ['12', '8', '2013']
game_id      2013120813
home_team            GB
game_date     12/8/2013
Name: 1229, dtype: object ['12', '8', '2013']
game_id      2013120900
home_team           CHI
game_date     12/9/2013
Name: 1230, dtype: object ['12', '9', '2013']
game_id      2013121200
home_team           DEN
game_date    12/12/2013
Name: 1231, dtype: object ['12', '12', '2013']
game_id      2013121500
home_team           ATL
game_date    12/15/2013
Name: 1232, dtype: object ['12', '15', '2013']
game_id      2013121501
home_team           CLE
game_date    12/15/2013
Name: 1233, dtype: object ['12', '15', '2013']
game_id      2013121502
home_team           IND
game_date    12/15/2013
Name: 1234, dtype: object ['12', '15', '2013']
game_id      2013121503
home_team           JAX
game_date    12/15/2013
Name: 1235, dtype: object ['12', '15', '2013']
game_id      2013121504
home_team           MIA
game_date    12/15/2013
Name: 1236, dtype: object ['12', '15', '2013']
game_id      2013121505
home_team           MIN
game_date    12/15/2013
Name: 1237, dtype: object ['12', '15', '2013']
game_id      2013121506
home_team           NYG
game_date    12/15/2013
Name: 1238, dtype: object ['12', '15', '2013']
game_id      2013121507
home_team           STL
game_date    12/15/2013
Name: 1239, dtype: object ['12', '15', '2013']
game_id      2013121508
home_team            TB
game_date    12/15/2013
Name: 1240, dtype: object ['12', '15', '2013']
game_id      2013121509
home_team           TEN
game_date    12/15/2013
Name: 1241, dtype: object ['12', '15', '2013']
game_id      2013121510
home_team           CAR
game_date    12/15/2013
Name: 1242, dtype: object ['12', '15', '2013']
game_id      2013121511
home_team           OAK
game_date    12/15/2013
Name: 1243, dtype: object ['12', '15', '2013']
game_id      2013121512
home_team           DAL
game_date    12/15/2013
Name: 1244, dtype: object ['12', '15', '2013']
game_id      2013121513
home_team           PIT
game_date    12/15/2013
Name: 1245, dtype: object ['12', '15', '2013']
game_id      2013121600
home_team           DET
game_date    12/16/2013
Name: 1246, dtype: object ['12', '16', '2013']
game_id      2013122200
home_team           BUF
game_date    12/22/2013
Name: 1247, dtype: object ['12', '22', '2013']
game_id      2013122201
home_team           CAR
game_date    12/22/2013
Name: 1248, dtype: object ['12', '22', '2013']
game_id      2013122202
home_team           CIN
game_date    12/22/2013
Name: 1249, dtype: object ['12', '22', '2013']
game_id      2013122203
home_team           HOU
game_date    12/22/2013
Name: 1250, dtype: object ['12', '22', '2013']
game_id      2013122204
home_team           JAX
game_date    12/22/2013
Name: 1251, dtype: object ['12', '22', '2013']
game_id      2013122205
home_team            KC
game_date    12/22/2013
Name: 1252, dtype: object ['12', '22', '2013']
game_id      2013122206
home_team           NYJ
game_date    12/22/2013
Name: 1253, dtype: object ['12', '22', '2013']
game_id      2013122207
home_team           PHI
game_date    12/22/2013
Name: 1254, dtype: object ['12', '22', '2013']
game_id      2013122208
home_team           STL
game_date    12/22/2013
Name: 1255, dtype: object ['12', '22', '2013']
game_id      2013122209
home_team           WAS
game_date    12/22/2013
Name: 1256, dtype: object ['12', '22', '2013']
game_id      2013122210
home_team           DET
game_date    12/22/2013
Name: 1257, dtype: object ['12', '22', '2013']
game_id      2013122211
home_team           SEA
game_date    12/22/2013
Name: 1258, dtype: object ['12', '22', '2013']
game_id      2013122212
home_team            GB
game_date    12/22/2013
Name: 1259, dtype: object ['12', '22', '2013']
game_id      2013122213
home_team            SD
game_date    12/22/2013
Name: 1260, dtype: object ['12', '22', '2013']
game_id      2013122214
home_team           BAL
game_date    12/22/2013
Name: 1261, dtype: object ['12', '22', '2013']
game_id      2013122300
home_team            SF
game_date    12/23/2013
Name: 1262, dtype: object ['12', '23', '2013']
game_id      2013122900
home_team           ATL
game_date    12/29/2013
Name: 1263, dtype: object ['12', '29', '2013']
game_id      2013122901
home_team           CHI
game_date    12/29/2013
Name: 1264, dtype: object ['12', '29', '2013']
game_id      2013122902
home_team           CIN
game_date    12/29/2013
Name: 1265, dtype: object ['12', '29', '2013']
game_id      2013122903
home_team           DAL
game_date    12/29/2013
Name: 1266, dtype: object ['12', '29', '2013']
game_id      2013122904
home_team           IND
game_date    12/29/2013
Name: 1267, dtype: object ['12', '29', '2013']
game_id      2013122905
home_team           MIA
game_date    12/29/2013
Name: 1268, dtype: object ['12', '29', '2013']
game_id      2013122906
home_team           MIN
game_date    12/29/2013
Name: 1269, dtype: object ['12', '29', '2013']
game_id      2013122907
home_team            NE
game_date    12/29/2013
Name: 1270, dtype: object ['12', '29', '2013']
game_id      2013122908
home_team            NO
game_date    12/29/2013
Name: 1271, dtype: object ['12', '29', '2013']
game_id      2013122909
home_team           NYG
game_date    12/29/2013
Name: 1272, dtype: object ['12', '29', '2013']
game_id      2013122910
home_team           PIT
game_date    12/29/2013
Name: 1273, dtype: object ['12', '29', '2013']
game_id      2013122911
home_team           TEN
game_date    12/29/2013
Name: 1274, dtype: object ['12', '29', '2013']
game_id      2013122912
home_team           ARI
game_date    12/29/2013
Name: 1275, dtype: object ['12', '29', '2013']
game_id      2013122913
home_team           OAK
game_date    12/29/2013
Name: 1276, dtype: object ['12', '29', '2013']
game_id      2013122914
home_team            SD
game_date    12/29/2013
Name: 1277, dtype: object ['12', '29', '2013']
game_id      2013122915
home_team           SEA
game_date    12/29/2013
Name: 1278, dtype: object ['12', '29', '2013']
game_id      2014090400
home_team           SEA
game_date      9/4/2014
Name: 1279, dtype: object ['9', '4', '2014']
game_id      2014090700
home_team           ATL
game_date      9/7/2014
Name: 1280, dtype: object ['9', '7', '2014']
game_id      2014090701
home_team           BAL
game_date      9/7/2014
Name: 1281, dtype: object ['9', '7', '2014']
game_id      2014090702
home_team           CHI
game_date      9/7/2014
Name: 1282, dtype: object ['9', '7', '2014']
game_id      2014090703
home_team           HOU
game_date      9/7/2014
Name: 1283, dtype: object ['9', '7', '2014']
game_id      2014090704
home_team            KC
game_date      9/7/2014
Name: 1284, dtype: object ['9', '7', '2014']
game_id      2014090705
home_team           MIA
game_date      9/7/2014
Name: 1285, dtype: object ['9', '7', '2014']
game_id      2014090706
home_team           NYJ
game_date      9/7/2014
Name: 1286, dtype: object ['9', '7', '2014']
game_id      2014090707
home_team           PHI
game_date      9/7/2014
Name: 1287, dtype: object ['9', '7', '2014']
game_id      2014090708
home_team           PIT
game_date      9/7/2014
Name: 1288, dtype: object ['9', '7', '2014']
game_id      2014090709
home_team           STL
game_date      9/7/2014
Name: 1289, dtype: object ['9', '7', '2014']
game_id      2014090710
home_team           DAL
game_date      9/7/2014
Name: 1290, dtype: object ['9', '7', '2014']
game_id      2014090711
home_team            TB
game_date      9/7/2014
Name: 1291, dtype: object ['9', '7', '2014']
game_id      2014090712
home_team           DEN
game_date      9/7/2014
Name: 1292, dtype: object ['9', '7', '2014']
game_id      2014090800
home_team           DET
game_date      9/8/2014
Name: 1293, dtype: object ['9', '8', '2014']
game_id      2014090801
home_team           ARI
game_date      9/8/2014
Name: 1294, dtype: object ['9', '8', '2014']
game_id      2014091100
home_team           BAL
game_date     9/11/2014
Name: 1295, dtype: object ['9', '11', '2014']
game_id      2014091400
home_team           BUF
game_date     9/14/2014
Name: 1296, dtype: object ['9', '14', '2014']
game_id      2014091401
home_team           CAR
game_date     9/14/2014
Name: 1297, dtype: object ['9', '14', '2014']
game_id      2014091402
home_team           CIN
game_date     9/14/2014
Name: 1298, dtype: object ['9', '14', '2014']
game_id      2014091403
home_team           CLE
game_date     9/14/2014
Name: 1299, dtype: object ['9', '14', '2014']
game_id      2014091404
home_team           MIN
game_date     9/14/2014
Name: 1300, dtype: object ['9', '14', '2014']
game_id      2014091405
home_team           NYG
game_date     9/14/2014
Name: 1301, dtype: object ['9', '14', '2014']
game_id      2014091406
home_team           TEN
game_date     9/14/2014
Name: 1302, dtype: object ['9', '14', '2014']
game_id      2014091407
home_team           WAS
game_date     9/14/2014
Name: 1303, dtype: object ['9', '14', '2014']
game_id      2014091408
home_team            SD
game_date     9/14/2014
Name: 1304, dtype: object ['9', '14', '2014']
game_id      2014091409
home_team            TB
game_date     9/14/2014
Name: 1305, dtype: object ['9', '14', '2014']
game_id      2014091410
home_team           DEN
game_date     9/14/2014
Name: 1306, dtype: object ['9', '14', '2014']
game_id      2014091411
home_team            GB
game_date     9/14/2014
Name: 1307, dtype: object ['9', '14', '2014']
game_id      2014091412
home_team           OAK
game_date     9/14/2014
Name: 1308, dtype: object ['9', '14', '2014']
game_id      2014091413
home_team            SF
game_date     9/14/2014
Name: 1309, dtype: object ['9', '14', '2014']
game_id      2014091500
home_team           IND

Name: 1376, dtype: object ['10', '19', '2014']
game_id      2014101906
home_team           JAX
game_date    10/19/2014
Name: 1377, dtype: object ['10', '19', '2014']
game_id      2014101907
home_team           STL
game_date    10/19/2014
Name: 1378, dtype: object ['10', '19', '2014']
game_id      2014101908
home_team           WAS
game_date    10/19/2014
Name: 1379, dtype: object ['10', '19', '2014']
game_id      2014101909
home_team            SD
game_date    10/19/2014
Name: 1380, dtype: object ['10', '19', '2014']
game_id      2014101910
home_team           DAL
game_date    10/19/2014
Name: 1381, dtype: object ['10', '19', '2014']
game_id      2014101911
home_team           OAK
game_date    10/19/2014
Name: 1382, dtype: object ['10', '19', '2014']
game_id      2014101912
home_team           DEN
game_date    10/19/2014
Name: 1383, dtype: object ['10', '19', '2014']
game_id      2014102000
home_team           PIT
game_date    10/20/2014
Name: 1384, dtype: object ['10', '20', '2014']
game_id      2014102300
home_team           DEN
game_date    10/23/2014
Name: 1385, dtype: object ['10', '23', '2014']
game_id      2014102600
home_team           ATL
game_date    10/26/2014
Name: 1386, dtype: object ['10', '26', '2014']
game_id      2014102601
home_team           CAR
game_date    10/26/2014
Name: 1387, dtype: object ['10', '26', '2014']
game_id      2014102602
home_team           CIN
game_date    10/26/2014
Name: 1388, dtype: object ['10', '26', '2014']
game_id      2014102603
home_team           JAX
game_date    10/26/2014
Name: 1389, dtype: object ['10', '26', '2014']
game_id      2014102604
home_team            KC
game_date    10/26/2014
Name: 1390, dtype: object ['10', '26', '2014']
game_id      2014102605
home_team            NE
game_date    10/26/2014
Name: 1391, dtype: object ['10', '26', '2014']
game_id      2014102606
home_team           NYJ
game_date    10/26/2014
Name: 1392, dtype: object ['10', '26', '2014']
game_id      2014102607
home_team            TB
game_date    10/26/2014
Name: 1393, dtype: object ['10', '26', '2014']
game_id      2014102608
home_team           TEN
game_date    10/26/2014
Name: 1394, dtype: object ['10', '26', '2014']
game_id      2014102609
home_team           ARI
game_date    10/26/2014
Name: 1395, dtype: object ['10', '26', '2014']
game_id      2014102610
home_team           CLE
game_date    10/26/2014
Name: 1396, dtype: object ['10', '26', '2014']
game_id      2014102611
home_team           PIT
game_date    10/26/2014
Name: 1397, dtype: object ['10', '26', '2014']
game_id      2014102612
home_team            NO
game_date    10/26/2014
Name: 1398, dtype: object ['10', '26', '2014']
game_id      2014102700
home_team           DAL
game_date    10/27/2014
Name: 1399, dtype: object ['10', '27', '2014']
game_id      2014103000
home_team           CAR
game_date    10/30/2014
Name: 1400, dtype: object ['10', '30', '2014']
game_id      2014110200
home_team           CIN
game_date     11/2/2014
Name: 1401, dtype: object ['11', '2', '2014']
game_id      2014110201
home_team           CLE
game_date     11/2/2014
Name: 1402, dtype: object ['11', '2', '2014']
game_id      2014110202
home_team           DAL
game_date     11/2/2014
Name: 1403, dtype: object ['11', '2', '2014']
game_id      2014110203
home_team           HOU
game_date     11/2/2014
Name: 1404, dtype: object ['11', '2', '2014']
game_id      2014110204
home_team            KC
game_date     11/2/2014
Name: 1405, dtype: object ['11', '2', '2014']
game_id      2014110205
home_team           MIA
game_date     11/2/2014
Name: 1406, dtype: object ['11', '2', '2014']
game_id      2014110206
home_team           MIN
game_date     11/2/2014
Name: 1407, dtype: object ['11', '2', '2014']
game_id      2014110207
home_team            SF
game_date     11/2/2014
Name: 1408, dtype: object ['11', '2', '2014']
game_id      2014110208
home_team            NE
game_date     11/2/2014
Name: 1409, dtype: object ['11', '2', '2014']
game_id      2014110209
home_team           SEA
game_date     11/2/2014
Name: 1410, dtype: object ['11', '2', '2014']
game_id      2014110210
home_team           PIT
game_date     11/2/2014
Name: 1411, dtype: object ['11', '2', '2014']
game_id      2014110300
home_team           NYG
game_date     11/3/2014
Name: 1412, dtype: object ['11', '3', '2014']
game_id      2014110600
home_team           CIN
game_date     11/6/2014
Name: 1413, dtype: object ['11', '6', '2014']
game_id      2014110900
home_team           BAL
game_date     11/9/2014
Name: 1414, dtype: object ['11', '9', '2014']
game_id      2014110901
home_team           BUF
game_date     11/9/2014
Name: 1415, dtype: object ['11', '9', '2014']
game_id      2014110902
home_team           DET
game_date     11/9/2014
Name: 1416, dtype: object ['11', '9', '2014']
game_id      2014110903
home_team           JAX
game_date     11/9/2014
Name: 1417, dtype: object ['11', '9', '2014']
game_id      2014110904
home_team            NO
game_date     11/9/2014
Name: 1418, dtype: object ['11', '9', '2014']
game_id      2014110905
home_team           NYJ
game_date     11/9/2014
Name: 1419, dtype: object ['11', '9', '2014']
game_id      2014110906
home_team            TB
game_date     11/9/2014
Name: 1420, dtype: object ['11', '9', '2014']
game_id      2014110907
home_team           OAK
game_date     11/9/2014
Name: 1421, dtype: object ['11', '9', '2014']
game_id      2014110908
home_team           ARI
game_date     11/9/2014
Name: 1422, dtype: object ['11', '9', '2014']
game_id      2014110909
home_team           SEA
game_date     11/9/2014
Name: 1423, dtype: object ['11', '9', '2014']
game_id      2014110910
home_team            GB
game_date     11/9/2014
Name: 1424, dtype: object ['11', '9', '2014']
game_id      2014111000
home_team           PHI
game_date    11/10/2014
Name: 1425, dtype: object ['11', '10', '2014']
game_id      2014111300
home_team           MIA
game_date    11/13/2014
Name: 1426, dtype: object ['11', '13', '2014']
game_id      2014111600
home_team           CAR
game_date    11/16/2014
Name: 1427, dtype: object ['11', '16', '2014']
game_id      2014111601
home_team           CHI
game_date    11/16/2014
Name: 1428, dtype: object ['11', '16', '2014']
game_id      2014111602
home_team           CLE
game_date    11/16/2014
Name: 1429, dtype: object ['11', '16', '2014']
game_id      2014111603
home_team            GB
game_date    11/16/2014
Name: 1430, dtype: object ['11', '16', '2014']
game_id      2014111604
home_team            KC
game_date    11/16/2014
Name: 1431, dtype: object ['11', '16', '2014']
game_id      2014111605
home_team            NO
game_date    11/16/2014
Name: 1432, dtype: object ['11', '16', '2014']
game_id      2014111606
home_team           NYG
game_date    11/16/2014
Name: 1433, dtype: object ['11', '16', '2014']
game_id      2014111607
home_team           STL
game_date    11/16/2014
Name: 1434, dtype: object ['11', '16', '2014']
game_id      2014111608
home_team           WAS
game_date    11/16/2014
Name: 1435, dtype: object ['11', '16', '2014']
game_id      2014111609
home_team            SD
game_date    11/16/2014
Name: 1436, dtype: object ['11', '16', '2014']
game_id      2014111610
home_team           ARI
game_date    11/16/2014
Name: 1437, dtype: object ['11', '16', '2014']
game_id      2014111611
home_team           IND
game_date    11/16/2014
Name: 1438, dtype: object ['11', '16', '2014']
game_id      2014111700
home_team           TEN
game_date    11/17/2014
Name: 1439, dtype: object ['11', '17', '2014']
game_id      2014112000
home_team           OAK
game_date    11/20/2014
Name: 1440, dtype: object ['11', '20', '2014']
game_id      2014112300
home_team           ATL
game_date    11/23/2014
Name: 1441, dtype: object ['11', '23', '2014']
game_id      2014112301
home_team           BUF
game_date    11/23/2014
Name: 1442, dtype: object ['11', '23', '2014']
game_id      2014112302
home_team           CHI
game_date    11/23/2014
Name: 1443, dtype: object ['11', '23', '2014']
game_id      2014112303
home_team           HOU
game_date    11/23/2014
Name: 1444, dtype: object ['11', '23', '2014']
game_id      2014112304
home_team           IND
game_date    11/23/2014
Name: 1445, dtype: object ['11', '23', '2014']
game_id      2014112305
home_team           MIN
game_date    11/23/2014
Name: 1446, dtype: object ['11', '23', '2014']
game_id      2014112306
home_team            NE
game_date    11/23/2014
Name: 1447, dtype: object ['11', '23', '2014']
game_id      2014112307
home_team           PHI
game_date    11/23/2014
Name: 1448, dtype: object ['11', '23', '2014']
game_id      2014112308
home_team            SD
game_date    11/23/2014
Name: 1449, dtype: object ['11', '23', '2014']
game_id      2014112309
home_team           SEA
game_date    11/23/2014
Name: 1450, dtype: object ['11', '23', '2014']
game_id      2014112310
home_team           DEN
game_date    11/23/2014
Name: 1451, dtype: object ['11', '23', '2014']
game_id      2014112311
home_team            SF
game_date    11/23/2014
Name: 1452, dtype: object ['11', '23', '2014']
game_id      2014112312
home_team           NYG
game_date    11/23/2014
Name: 1453, dtype: object ['11', '23', '2014']
game_id      2014112400
home_team            NO
game_date    11/24/2014
Name: 1454, dtype: object ['11', '24', '2014']
game_id      2014112700
home_team           DET
game_date    11/27/2014
Name: 1455, dtype: object ['11', '27', '2014']
game_id      2014112701
home_team           DAL
game_date    11/27/2014
Name: 1456, dtype: object ['11', '27', '2014']
game_id      2014112702
home_team            SF
game_date    11/27/2014
Name: 1457, dtype: object ['11', '27', '2014']
game_id      2014113000
home_team           BAL
game_date    11/30/2014
Name: 1458, dtype: object ['11', '30', '2014']
game_id      2014113001
home_team           BUF
game_date    11/30/2014
Name: 1459, dtype: object ['11', '30', '2014']
game_id      2014113002
home_team           HOU
game_date    11/30/2014
Name: 1460, dtype: object ['11', '30', '2014']
game_id      2014113003
home_team           IND
game_date    11/30/2014
Name: 1461, dtype: object ['11', '30', '2014']
game_id      2014113004
home_team           JAX
game_date    11/30/2014
Name: 1462, dtype: object ['11', '30', '2014']
game_id      2014113005
home_team           MIN
game_date    11/30/2014
Name: 1463, dtype: object ['11', '30', '2014']
game_id      2014113006
home_team           PIT
game_date    11/30/2014
Name: 1464, dtype: object ['11', '30', '2014']
game_id      2014113007
home_team           STL
game_date    11/30/2014
Name: 1465, dtype: object ['11', '30', '2014']
game_id      2014113008
home_team            TB
game_date    11/30/2014
Name: 1466, dtype: object ['11', '30', '2014']
game_id      2014113009
home_team           ATL
game_date    11/30/2014
Name: 1467, dtype: object ['11', '30', '2014']
game_id      2014113010
home_team            GB
game_date    11/30/2014
Name: 1468, dtype: object ['11', '30', '2014']
game_id      2014113011
home_team            KC
game_date    11/30/2014
Name: 1469, dtype: object ['11', '30', '2014']
game_id      2014120100
home_team           NYJ
game_date     12/1/2014
Name: 1470, dtype: object ['12', '1', '2014']
game_id      2014120400
home_team           CHI
game_date     12/4/2014
Name: 1471, dtype: object ['12', '4', '2014']
game_id      2014120700
home_team           CIN
game_date     12/7/2014
Name: 1472, dtype: object ['12', '7', '2014']
game_id      2014120701
home_team           CLE
game_date     12/7/2014
Name: 1473, dtype: object ['12', '7', '2014']
game_id      2014120702
home_team           DET
game_date     12/7/2014
Name: 1474, dtype: object ['12', '7', '2014']
game_id      2014120703
home_team           JAX
game_date     12/7/2014
Name: 1475, dtype: object ['12', '7', '2014']
game_id      2014120704
home_team           MIA
game_date     12/7/2014
Name: 1476, dtype: object ['12', '7', '2014']
game_id      2014120705
home_team           MIN
game_date     12/7/2014
Name: 1477, dtype: object ['12', '7', '2014']
game_id      2014120706
home_team            NO
game_date     12/7/2014
Name: 1478, dtype: object ['12', '7', '2014']
game_id      2014120707
home_team           TEN
game_date     12/7/2014
Name: 1479, dtype: object ['12', '7', '2014']
game_id      2014120708
home_team           WAS
game_date     12/7/2014
Name: 1480, dtype: object ['12', '7', '2014']
game_id      2014120709
home_team           ARI
game_date     12/7/2014
Name: 1481, dtype: object ['12', '7', '2014']
game_id      2014120710
home_team           DEN
game_date     12/7/2014
Name: 1482, dtype: object ['12', '7', '2014']
game_id      2014120711
home_team           OAK
game_date     12/7/2014
Name: 1483, dtype: object ['12', '7', '2014']
game_id      2014120712
home_team           PHI
game_date     12/7/2014
Name: 1484, dtype: object ['12', '7', '2014']
game_id      2014120713
home_team            SD
game_date     12/7/2014
Name: 1485, dtype: object ['12', '7', '2014']
game_id      2014120800
home_team            GB
game_date     12/8/2014
Name: 1486, dtype: object ['12', '8', '2014']
game_id      2014121100
home_team           STL
game_date    12/11/2014
Name: 1487, dtype: object ['12', '11', '2014']
game_id      2014121400
home_team           ATL
game_date    12/14/2014
Name: 1488, dtype: object ['12', '14', '2014']
game_id      2014121401
home_team           BAL
game_date    12/14/2014
Name: 1489, dtype: object ['12', '14', '2014']
game_id      2014121402
home_team           BUF
game_date    12/14/2014
Name: 1490, dtype: object ['12', '14', '2014']
game_id      2014121403
home_team           CAR
game_date    12/14/2014
Name: 1491, dtype: object ['12', '14', '2014']
game_id      2014121404
home_team           CLE
game_date    12/14/2014
Name: 1492, dtype: object ['12', '14', '2014']
game_id      2014121405
home_team           DET
game_date    12/14/2014
Name: 1493, dtype: object ['12', '14', '2014']
game_id      2014121406
home_team           IND
game_date    12/14/2014
Name: 1494, dtype: object ['12', '14', '2014']
game_id      2014121407
home_team            KC
game_date    12/14/2014
Name: 1495, dtype: object ['12', '14', '2014']
game_id      2014121408
home_team            NE
game_date    12/14/2014
Name: 1496, dtype: object ['12', '14', '2014']
game_id      2014121409
home_team           NYG
game_date    12/14/2014
Name: 1497, dtype: object ['12', '14', '2014']
game_id      2014121410
home_team            SD
game_date    12/14/2014
Name: 1498, dtype: object ['12', '14', '2014']
game_id      2014121411
home_team           TEN
game_date    12/14/2014
Name: 1499, dtype: object ['12', '14', '2014']
game_id      2014121412
home_team           SEA
game_date    12/14/2014
Name: 1500, dtype: object ['12', '14', '2014']
game_id      2014121413
home_team           PHI
game_date    12/14/2014
Name: 1501, dtype: object ['12', '14', '2014']
game_id      2014121500
home_team           CHI
game_date    12/15/2014
Name: 1502, dtype: object ['12', '15', '2014']
game_id      2014121800
home_team           JAX
game_date    12/18/2014
Name: 1503, dtype: object ['12', '18', '2014']
game_id      2014122000
home_team           WAS
game_date    12/20/2014
Name: 1504, dtype: object ['12', '20', '2014']
game_id      2014122001
home_team            SF
game_date    12/20/2014
Name: 1505, dtype: object ['12', '20', '2014']
game_id      2014122100
home_team           CAR
game_date    12/21/2014
Name: 1506, dtype: object ['12', '21', '2014']
game_id      2014122101
home_team           CHI
game_date    12/21/2014
Name: 1507, dtype: object ['12', '21', '2014']
game_id      2014122102
home_team           HOU
game_date    12/21/2014
Name: 1508, dtype: object ['12', '21', '2014']
game_id      2014122103
home_team           MIA
game_date    12/21/2014
Name: 1509, dtype: object ['12', '21', '2014']
game_id      2014122104
home_team            NO
game_date    12/21/2014
Name: 1510, dtype: object ['12', '21', '2014']
game_id      2014122105
home_team           NYJ
game_date    12/21/2014
Name: 1511, dtype: object ['12', '21', '2014']
game_id      2014122106
home_team           PIT
game_date    12/21/2014
Name: 1512, dtype: object ['12', '21', '2014']
game_id      2014122107
home_team            TB
game_date    12/21/2014
Name: 1513, dtype: object ['12', '21', '2014']
game_id      2014122108
home_team           STL
game_date    12/21/2014
Name: 1514, dtype: object ['12', '21', '2014']
game_id      2014122109
home_team           DAL
game_date    12/21/2014
Name: 1515, dtype: object ['12', '21', '2014']
game_id      2014122110
home_team           OAK
game_date    12/21/2014
Name: 1516, dtype: object ['12', '21', '2014']
game_id      2014122111
home_team           ARI
game_date    12/21/2014
Name: 1517, dtype: object ['12', '21', '2014']
game_id      2014122200
home_team           CIN
game_date    12/22/2014
Name: 1518, dtype: object ['12', '22', '2014']
game_id      2014122800
home_team           ATL
game_date    12/28/2014
Name: 1519, dtype: object ['12', '28', '2014']
game_id      2014122801
home_team           BAL
game_date    12/28/2014
Name: 1520, dtype: object ['12', '28', '2014']
game_id      2014122802
home_team            GB
game_date    12/28/2014
Name: 1521, dtype: object ['12', '28', '2014']
game_id      2014122803
home_team           HOU
game_date    12/28/2014
Name: 1522, dtype: object ['12', '28', '2014']
game_id      2014122804
home_team            KC
game_date    12/28/2014
Name: 1523, dtype: object ['12', '28', '2014']
game_id      2014122805
home_team           MIA
game_date    12/28/2014
Name: 1524, dtype: object ['12', '28', '2014']
game_id      2014122806
home_team           MIN
game_date    12/28/2014
Name: 1525, dtype: object ['12', '28', '2014']
game_id      2014122807
home_team            NE
game_date    12/28/2014
Name: 1526, dtype: object ['12', '28', '2014']
game_id      2014122808
home_team           NYG
game_date    12/28/2014
Name: 1527, dtype: object ['12', '28', '2014']
game_id      2014122809
home_team           PIT
game_date    12/28/2014
Name: 1528, dtype: object ['12', '28', '2014']
game_id      2014122810
home_team            TB
game_date    12/28/2014
Name: 1529, dtype: object ['12', '28', '2014']
game_id      2014122811
home_team           TEN
game_date    12/28/2014
Name: 1530, dtype: object ['12', '28', '2014']
game_id      2014122812
home_team           WAS
game_date    12/28/2014
Name: 1531, dtype: object ['12', '28', '2014']
game_id      2014122813
home_team           DEN
game_date    12/28/2014
Name: 1532, dtype: object ['12', '28', '2014']
game_id      2014122814
home_team            SF
game_date    12/28/2014
Name: 1533, dtype: object ['12', '28', '2014']
game_id      2014122815
home_team           SEA
game_date    12/28/2014
Name: 1534, dtype: object ['12', '28', '2014']
game_id      2015091000
home_team            NE
game_date     9/10/2015
Name: 1535, dtype: object ['9', '10', '2015']
game_id      2015091300
home_team           CHI
game_date     9/13/2015
Name: 1536, dtype: object ['9', '13', '2015']
game_id      2015091301
home_team           STL
game_date     9/13/2015
Name: 1537, dtype: object ['9', '13', '2015']
game_id      2015091302
home_team           JAX
game_date     9/13/2015
Name: 1538, dtype: object ['9', '13', '2015']
game_id      2015091303
home_team           WAS
game_date     9/13/2015
Name: 1539, dtype: object ['9', '13', '2015']
game_id      2015091304
home_team           BUF
game_date     9/13/2015
Name: 1540, dtype: object ['9', '13', '2015']
game_id      2015091305
home_team           NYJ
game_date     9/13/2015
Name: 1541, dtype: object ['9', '13', '2015']
game_id      2015091306
home_team           HOU
game_date     9/13/2015
Name: 1542, dtype: object ['9', '13', '2015']
game_id      2015091307
home_team           ARI
game_date     9/13/2015
Name: 1543, dtype: object ['9', '13', '2015']
game_id      2015091308
home_team            SD
game_date     9/13/2015
Name: 1544, dtype: object ['9', '13', '2015']

Name: 1626, dtype: object ['10', '22', '2015']
game_id      2015102500
home_team           JAX
game_date    10/25/2015
Name: 1627, dtype: object ['10', '25', '2015']
game_id      2015102501
home_team           STL
game_date    10/25/2015
Name: 1628, dtype: object ['10', '25', '2015']
game_id      2015102502
home_team           MIA
game_date    10/25/2015
Name: 1629, dtype: object ['10', '25', '2015']
game_id      2015102503
home_team            NE
game_date    10/25/2015
Name: 1630, dtype: object ['10', '25', '2015']
game_id      2015102504
home_team            KC
game_date    10/25/2015
Name: 1631, dtype: object ['10', '25', '2015']
game_id      2015102505
home_team           WAS
game_date    10/25/2015
Name: 1632, dtype: object ['10', '25', '2015']
game_id      2015102506
home_team           DET
game_date    10/25/2015
Name: 1633, dtype: object ['10', '25', '2015']
game_id      2015102507
home_team           IND
game_date    10/25/2015
Name: 1634, dtype: object ['10', '25', '2015']
game_id      2015102508
home_team           TEN
game_date    10/25/2015
Name: 1635, dtype: object ['10', '25', '2015']
game_id      2015102509
home_team            SD
game_date    10/25/2015
Name: 1636, dtype: object ['10', '25', '2015']
game_id      2015102510
home_team           NYG
game_date    10/25/2015
Name: 1637, dtype: object ['10', '25', '2015']
game_id      2015102511
home_team           CAR
game_date    10/25/2015
Name: 1638, dtype: object ['10', '25', '2015']
game_id      2015102600
home_team           ARI
game_date    10/26/2015
Name: 1639, dtype: object ['10', '26', '2015']
game_id      2015102900
home_team            NE
game_date    10/29/2015
Name: 1640, dtype: object ['10', '29', '2015']
game_id      2015110100
home_team            KC
game_date     11/1/2015
Name: 1641, dtype: object ['11', '1', '2015']
game_id      2015110101
home_team           BAL
game_date     11/1/2015
Name: 1642, dtype: object ['11', '1', '2015']
game_id      2015110102
home_team           PIT
game_date     11/1/2015
Name: 1643, dtype: object ['11', '1', '2015']
game_id      2015110103
home_team           HOU
game_date     11/1/2015
Name: 1644, dtype: object ['11', '1', '2015']
game_id      2015110104
home_team           CHI
game_date     11/1/2015
Name: 1645, dtype: object ['11', '1', '2015']
game_id      2015110105
home_team           ATL
game_date     11/1/2015
Name: 1646, dtype: object ['11', '1', '2015']
game_id      2015110106
home_team            NO
game_date     11/1/2015
Name: 1647, dtype: object ['11', '1', '2015']
game_id      2015110107
home_team           STL
game_date     11/1/2015
Name: 1648, dtype: object ['11', '1', '2015']
game_id      2015110108
home_team           CLE
game_date     11/1/2015
Name: 1649, dtype: object ['11', '1', '2015']
game_id      2015110109
home_team           OAK
game_date     11/1/2015
Name: 1650, dtype: object ['11', '1', '2015']
game_id      2015110110
home_team           DAL
game_date     11/1/2015
Name: 1651, dtype: object ['11', '1', '2015']
game_id      2015110111
home_team           DEN
game_date     11/1/2015
Name: 1652, dtype: object ['11', '1', '2015']
game_id      2015110200
home_team           CAR
game_date     11/2/2015
Name: 1653, dtype: object ['11', '2', '2015']
game_id      2015110500
home_team           CIN
game_date     11/5/2015
Name: 1654, dtype: object ['11', '5', '2015']
game_id      2015110800
home_team           MIN
game_date     11/8/2015
Name: 1655, dtype: object ['11', '8', '2015']
game_id      2015110801
home_team           CAR
game_date     11/8/2015
Name: 1656, dtype: object ['11', '8', '2015']
game_id      2015110802
home_team            NE
game_date     11/8/2015
Name: 1657, dtype: object ['11', '8', '2015']
game_id      2015110803
home_team            NO
game_date     11/8/2015
Name: 1658, dtype: object ['11', '8', '2015']
game_id      2015110804
home_team           BUF
game_date     11/8/2015
Name: 1659, dtype: object ['11', '8', '2015']
game_id      2015110805
home_team           NYJ
game_date     11/8/2015
Name: 1660, dtype: object ['11', '8', '2015']
game_id      2015110806
home_team           PIT
game_date     11/8/2015
Name: 1661, dtype: object ['11', '8', '2015']
game_id      2015110807
home_team            TB
game_date     11/8/2015
Name: 1662, dtype: object ['11', '8', '2015']
game_id      2015110808
home_team            SF
game_date     11/8/2015
Name: 1663, dtype: object ['11', '8', '2015']
game_id      2015110809
home_team           IND
game_date     11/8/2015
Name: 1664, dtype: object ['11', '8', '2015']
game_id      2015110810
home_team           DAL
game_date     11/8/2015
Name: 1665, dtype: object ['11', '8', '2015']
game_id      2015110900
home_team            SD
game_date     11/9/2015
Name: 1666, dtype: object ['11', '9', '2015']
game_id      2015111200
home_team           NYJ
game_date    11/12/2015
Name: 1667, dtype: object ['11', '12', '2015']
game_id      2015111500
home_team           WAS
game_date    11/15/2015
Name: 1668, dtype: object ['11', '15', '2015']
game_id      2015111501
home_team            GB
game_date    11/15/2015
Name: 1669, dtype: object ['11', '15', '2015']
game_id      2015111502
home_team            TB
game_date    11/15/2015
Name: 1670, dtype: object ['11', '15', '2015']
game_id      2015111503
home_team           TEN
game_date    11/15/2015
Name: 1671, dtype: object ['11', '15', '2015']
game_id      2015111504
home_team           STL
game_date    11/15/2015
Name: 1672, dtype: object ['11', '15', '2015']
game_id      2015111505
home_team           PHI
game_date    11/15/2015
Name: 1673, dtype: object ['11', '15', '2015']
game_id      2015111506
home_team           BAL
game_date    11/15/2015
Name: 1674, dtype: object ['11', '15', '2015']
game_id      2015111507
home_team           PIT
game_date    11/15/2015
Name: 1675, dtype: object ['11', '15', '2015']
game_id      2015111508
home_team           OAK
game_date    11/15/2015
Name: 1676, dtype: object ['11', '15', '2015']
game_id      2015111509
home_team           NYG
game_date    11/15/2015
Name: 1677, dtype: object ['11', '15', '2015']
game_id      2015111510
home_team           DEN
game_date    11/15/2015
Name: 1678, dtype: object ['11', '15', '2015']
game_id      2015111511
home_team           SEA
game_date    11/15/2015
Name: 1679, dtype: object ['11', '15', '2015']
game_id      2015111600
home_team           CIN
game_date    11/16/2015
Name: 1680, dtype: object ['11', '16', '2015']
game_id      2015111900
home_team           JAX
game_date    11/19/2015
Name: 1681, dtype: object ['11', '19', '2015']
game_id      2015112200
home_team           CHI
game_date    11/22/2015
Name: 1682, dtype: object ['11', '22', '2015']
game_id      2015112201
home_team           DET
game_date    11/22/2015
Name: 1683, dtype: object ['11', '22', '2015']
game_id      2015112202
home_team           ATL
game_date    11/22/2015
Name: 1684, dtype: object ['11', '22', '2015']
game_id      2015112203
home_team           HOU
game_date    11/22/2015
Name: 1685, dtype: object ['11', '22', '2015']
game_id      2015112204
home_team           PHI
game_date    11/22/2015
Name: 1686, dtype: object ['11', '22', '2015']
game_id      2015112205
home_team           MIN
game_date    11/22/2015
Name: 1687, dtype: object ['11', '22', '2015']
game_id      2015112206
home_team           CAR
game_date    11/22/2015
Name: 1688, dtype: object ['11', '22', '2015']
game_id      2015112207
home_team           MIA
game_date    11/22/2015
Name: 1689, dtype: object ['11', '22', '2015']
game_id      2015112208
home_team           BAL
game_date    11/22/2015
Name: 1690, dtype: object ['11', '22', '2015']
game_id      2015112209
home_team           ARI
game_date    11/22/2015
Name: 1691, dtype: object ['11', '22', '2015']
game_id      2015112210
home_team           SEA
game_date    11/22/2015
Name: 1692, dtype: object ['11', '22', '2015']
game_id      2015112211
home_team            SD
game_date    11/22/2015
Name: 1693, dtype: object ['11', '22', '2015']
game_id      2015112300
home_team            NE
game_date    11/23/2015
Name: 1694, dtype: object ['11', '23', '2015']
game_id      2015112600
home_team           DET
game_date    11/26/2015
Name: 1695, dtype: object ['11', '26', '2015']
game_id      2015112601
home_team           DAL
game_date    11/26/2015
Name: 1696, dtype: object ['11', '26', '2015']
game_id      2015112602
home_team            GB
game_date    11/26/2015
Name: 1697, dtype: object ['11', '26', '2015']
game_id      2015112900
home_team           WAS
game_date    11/29/2015
Name: 1698, dtype: object ['11', '29', '2015']
game_id      2015112901
home_team           ATL
game_date    11/29/2015
Name: 1699, dtype: object ['11', '29', '2015']
game_id      2015112902
home_team           CIN
game_date    11/29/2015
Name: 1700, dtype: object ['11', '29', '2015']
game_id      2015112903
home_team           HOU
game_date    11/29/2015
Name: 1701, dtype: object ['11', '29', '2015']
game_id      2015112904
home_team           IND
game_date    11/29/2015
Name: 1702, dtype: object ['11', '29', '2015']
game_id      2015112905
home_team           NYJ
game_date    11/29/2015
Name: 1703, dtype: object ['11', '29', '2015']
game_id      2015112906
home_team           JAX
game_date    11/29/2015
Name: 1704, dtype: object ['11', '29', '2015']
game_id      2015112907
home_team           TEN
game_date    11/29/2015
Name: 1705, dtype: object ['11', '29', '2015']
game_id      2015112908
home_team            KC
game_date    11/29/2015
Name: 1706, dtype: object ['11', '29', '2015']
game_id      2015112909
home_team            SF
game_date    11/29/2015
Name: 1707, dtype: object ['11', '29', '2015']
game_id      2015112910
home_team           SEA
game_date    11/29/2015
Name: 1708, dtype: object ['11', '29', '2015']
game_id      2015112911
home_team           DEN
game_date    11/29/2015
Name: 1709, dtype: object ['11', '29', '2015']
game_id      2015113000
home_team           CLE
game_date    11/30/2015
Name: 1710, dtype: object ['11', '30', '2015']
game_id      2015120300
home_team           DET
game_date     12/3/2015
Name: 1711, dtype: object ['12', '3', '2015']
game_id      2015120600
home_team           NYG
game_date     12/6/2015
Name: 1712, dtype: object ['12', '6', '2015']
game_id      2015120601
home_team           BUF
game_date     12/6/2015
Name: 1713, dtype: object ['12', '6', '2015']
game_id      2015120602
home_team           MIA
game_date     12/6/2015
Name: 1714, dtype: object ['12', '6', '2015']
game_id      2015120603
home_team           CLE
game_date     12/6/2015
Name: 1715, dtype: object ['12', '6', '2015']
game_id      2015120604
home_team           TEN
game_date     12/6/2015
Name: 1716, dtype: object ['12', '6', '2015']
game_id      2015120605
home_team           CHI
game_date     12/6/2015
Name: 1717, dtype: object ['12', '6', '2015']
game_id      2015120606
home_team           MIN
game_date     12/6/2015
Name: 1718, dtype: object ['12', '6', '2015']
game_id      2015120607
home_team            NO
game_date     12/6/2015
Name: 1719, dtype: object ['12', '6', '2015']
game_id      2015120608
home_team            TB
game_date     12/6/2015
Name: 1720, dtype: object ['12', '6', '2015']
game_id      2015120609
home_team           STL
game_date     12/6/2015
Name: 1721, dtype: object ['12', '6', '2015']
game_id      2015120610
home_team           OAK
game_date     12/6/2015
Name: 1722, dtype: object ['12', '6', '2015']
game_id      2015120611
home_team            SD
game_date     12/6/2015
Name: 1723, dtype: object ['12', '6', '2015']
game_id      2015120612
home_team            NE
game_date     12/6/2015
Name: 1724, dtype: object ['12', '6', '2015']
game_id      2015120613
home_team           PIT
game_date     12/6/2015
Name: 1725, dtype: object ['12', '6', '2015']
game_id      2015120700
home_team           WAS
game_date     12/7/2015
Name: 1726, dtype: object ['12', '7', '2015']
game_id      2015121000
home_team           ARI
game_date    12/10/2015
Name: 1727, dtype: object ['12', '10', '2015']
game_id      2015121300
home_team           PHI
game_date    12/13/2015
Name: 1728, dtype: object ['12', '13', '2015']
game_id      2015121301
home_team           NYJ
game_date    12/13/2015
Name: 1729, dtype: object ['12', '13', '2015']
game_id      2015121302
home_team           CIN
game_date    12/13/2015
Name: 1730, dtype: object ['12', '13', '2015']
game_id      2015121303
home_team           HOU
game_date    12/13/2015
Name: 1731, dtype: object ['12', '13', '2015']
game_id      2015121304
home_team           JAX
game_date    12/13/2015
Name: 1732, dtype: object ['12', '13', '2015']
game_id      2015121305
home_team            KC
game_date    12/13/2015
Name: 1733, dtype: object ['12', '13', '2015']
game_id      2015121306
home_team           CHI
game_date    12/13/2015
Name: 1734, dtype: object ['12', '13', '2015']
game_id      2015121307
home_team           CAR
game_date    12/13/2015
Name: 1735, dtype: object ['12', '13', '2015']
game_id      2015121308
home_team            TB
game_date    12/13/2015
Name: 1736, dtype: object ['12', '13', '2015']
game_id      2015121309
home_team           STL
game_date    12/13/2015
Name: 1737, dtype: object ['12', '13', '2015']
game_id      2015121310
home_team           CLE
game_date    12/13/2015
Name: 1738, dtype: object ['12', '13', '2015']
game_id      2015121311
home_team           DEN
game_date    12/13/2015
Name: 1739, dtype: object ['12', '13', '2015']
game_id      2015121312
home_team            GB
game_date    12/13/2015
Name: 1740, dtype: object ['12', '13', '2015']
game_id      2015121313
home_team           BAL
game_date    12/13/2015
Name: 1741, dtype: object ['12', '13', '2015']
game_id      2015121400
home_team           MIA
game_date    12/14/2015
Name: 1742, dtype: object ['12', '14', '2015']
game_id      2015121700
home_team           STL
game_date    12/17/2015
Name: 1743, dtype: object ['12', '17', '2015']
game_id      2015121900
home_team           DAL
game_date    12/19/2015
Name: 1744, dtype: object ['12', '19', '2015']
game_id      2015122000
home_team           NYG
game_date    12/20/2015
Name: 1745, dtype: object ['12', '20', '2015']
game_id      2015122001
home_team           PHI
game_date    12/20/2015
Name: 1746, dtype: object ['12', '20', '2015']
game_id      2015122002
home_team           MIN
game_date    12/20/2015
Name: 1747, dtype: object ['12', '20', '2015']
game_id      2015122003
home_team           JAX
game_date    12/20/2015
Name: 1748, dtype: object ['12', '20', '2015']
game_id      2015122004
home_team           IND
game_date    12/20/2015
Name: 1749, dtype: object ['12', '20', '2015']
game_id      2015122005
home_team            NE
game_date    12/20/2015
Name: 1750, dtype: object ['12', '20', '2015']
game_id      2015122006
home_team           BAL
game_date    12/20/2015
Name: 1751, dtype: object ['12', '20', '2015']
game_id      2015122007
home_team           WAS
game_date    12/20/2015
Name: 1752, dtype: object ['12', '20', '2015']
game_id      2015122008
home_team           SEA
game_date    12/20/2015
Name: 1753, dtype: object ['12', '20', '2015']
game_id      2015122009
home_team           OAK
game_date    12/20/2015
Name: 1754, dtype: object ['12', '20', '2015']
game_id      2015122010
home_team           PIT
game_date    12/20/2015
Name: 1755, dtype: object ['12', '20', '2015']
game_id      2015122011
home_team            SD
game_date    12/20/2015
Name: 1756, dtype: object ['12', '20', '2015']
game_id      2015122012
home_team            SF
game_date    12/20/2015
Name: 1757, dtype: object ['12', '20', '2015']
game_id      2015122100
home_team            NO
game_date    12/21/2015
Name: 1758, dtype: object ['12', '21', '2015']
game_id      2015122400
home_team           OAK
game_date    12/24/2015
Name: 1759, dtype: object ['12', '24', '2015']
game_id      2015122600
home_team           PHI
game_date    12/26/2015
Name: 1760, dtype: object ['12', '26', '2015']
game_id      2015122700
home_team            NO
game_date    12/27/2015
Name: 1761, dtype: object ['12', '27', '2015']
game_id      2015122701
home_team           MIA
game_date    12/27/2015
Name: 1762, dtype: object ['12', '27', '2015']
game_id      2015122702
home_team           NYJ
game_date    12/27/2015
Name: 1763, dtype: object ['12', '27', '2015']
game_id      2015122703
home_team           TEN
game_date    12/27/2015
Name: 1764, dtype: object ['12', '27', '2015']
game_id      2015122704
home_team            KC
game_date    12/27/2015
Name: 1765, dtype: object ['12', '27', '2015']
game_id      2015122705
home_team           DET
game_date    12/27/2015
Name: 1766, dtype: object ['12', '27', '2015']
game_id      2015122706
home_team           MIN
game_date    12/27/2015
Name: 1767, dtype: object ['12', '27', '2015']
game_id      2015122707
home_team           ATL
game_date    12/27/2015
Name: 1768, dtype: object ['12', '27', '2015']
game_id      2015122708
home_team            TB
game_date    12/27/2015
Name: 1769, dtype: object ['12', '27', '2015']
game_id      2015122709
home_team           BUF
game_date    12/27/2015
Name: 1770, dtype: object ['12', '27', '2015']
game_id      2015122710
home_team           ARI
game_date    12/27/2015
Name: 1771, dtype: object ['12', '27', '2015']
game_id      2015122711
home_team           SEA
game_date    12/27/2015
Name: 1772, dtype: object ['12', '27', '2015']
game_id      2015122712
home_team           BAL
game_date    12/27/2015
Name: 1773, dtype: object ['12', '27', '2015']
game_id      2015122800
home_team           DEN
game_date    12/28/2015
Name: 1774, dtype: object ['12', '28', '2015']
game_id      2016010300
home_team           BUF
game_date      1/3/2016
Name: 1775, dtype: object ['1', '3', '2016']
game_id      2016010301
home_team           MIA
game_date      1/3/2016
Name: 1776, dtype: object ['1', '3', '2016']
game_id      2016010302
home_team           CIN
game_date      1/3/2016
Name: 1777, dtype: object ['1', '3', '2016']
game_id      2016010303
home_team           CLE
game_date      1/3/2016
Name: 1778, dtype: object ['1', '3', '2016']
game_id      2016010304
home_team           HOU
game_date      1/3/2016
Name: 1779, dtype: object ['1', '3', '2016']
game_id      2016010305
home_team           IND
game_date      1/3/2016
Name: 1780, dtype: object ['1', '3', '2016']
game_id      2016010306
home_team            KC
game_date      1/3/2016
Name: 1781, dtype: object ['1', '3', '2016']
game_id      2016010307
home_team           DAL
game_date      1/3/2016
Name: 1782, dtype: object ['1', '3', '2016']
game_id      2016010308
home_team           NYG
game_date      1/3/2016
Name: 1783, dtype: object ['1', '3', '2016']
game_id      2016010309
home_team           CHI
game_date      1/3/2016
Name: 1784, dtype: object ['1', '3', '2016']
game_id      2016010310
home_team            GB
game_date      1/3/2016
Name: 1785, dtype: object ['1', '3', '2016']
game_id      2016010311
home_team           ATL
game_date      1/3/2016
Name: 1786, dtype: object ['1', '3', '2016']
game_id      2016010312
home_team           CAR
game_date      1/3/2016
Name: 1787, dtype: object ['1', '3', '2016']
game_id      2016010313
home_team           DEN
game_date      1/3/2016
Name: 1788, dtype: object ['1', '3', '2016']
game_id      2016010314
home_team           ARI
game_date      1/3/2016
Name: 1789, dtype: object ['1', '3', '2016']
game_id      2016010315
home_team            SF
game_date      1/3/2016
Name: 1790, dtype: object ['1', '3', '2016']
game_id      2016090800
home_team           DEN
game_date      9/8/2016
Name: 1791, dtype: object ['9', '8', '2016']
game_id      2016091100
home_team           ATL
game_date     9/11/2016
Name: 1792, dtype: object ['9', '11', '2016']
game_id      2016091101
home_team           BAL
game_date     9/11/2016
Name: 1793, dtype: object ['9', '11', '2016']
game_id      2016091102
home_team           HOU
game_date     9/11/2016
Name: 1794, dtype: object ['9', '11', '2016']
game_id      2016091103

Name: 1870, dtype: object ['10', '16', '2016']
game_id      2016101602
home_team           DET
game_date    10/16/2016
Name: 1871, dtype: object ['10', '16', '2016']
game_id      2016101603
home_team           MIA
game_date    10/16/2016
Name: 1872, dtype: object ['10', '16', '2016']
game_id      2016101604
home_team            NE
game_date    10/16/2016
Name: 1873, dtype: object ['10', '16', '2016']
game_id      2016101605
home_team            NO
game_date    10/16/2016
Name: 1874, dtype: object ['10', '16', '2016']
game_id      2016101606
home_team           NYG
game_date    10/16/2016
Name: 1875, dtype: object ['10', '16', '2016']
game_id      2016101607
home_team           TEN
game_date    10/16/2016
Name: 1876, dtype: object ['10', '16', '2016']
game_id      2016101608
home_team           WAS
game_date    10/16/2016
Name: 1877, dtype: object ['10', '16', '2016']
game_id      2016101609
home_team           OAK
game_date    10/16/2016
Name: 1878, dtype: object ['10', '16', '2016']
game_id      2016101610
home_team            GB
game_date    10/16/2016
Name: 1879, dtype: object ['10', '16', '2016']
game_id      2016101611
home_team           SEA
game_date    10/16/2016
Name: 1880, dtype: object ['10', '16', '2016']
game_id      2016101612
home_team           HOU
game_date    10/16/2016
Name: 1881, dtype: object ['10', '16', '2016']
game_id      2016101700
home_team           ARI
game_date    10/17/2016
Name: 1882, dtype: object ['10', '17', '2016']
game_id      2016102000
home_team            GB
game_date    10/20/2016
Name: 1883, dtype: object ['10', '20', '2016']
game_id      2016102300
home_team            LA
game_date    10/23/2016
Name: 1884, dtype: object ['10', '23', '2016']
game_id      2016102301
home_team           CIN
game_date    10/23/2016
Name: 1885, dtype: object ['10', '23', '2016']
game_id      2016102302
home_team           DET
game_date    10/23/2016
Name: 1886, dtype: object ['10', '23', '2016']
game_id      2016102303
home_team           JAX
game_date    10/23/2016
Name: 1887, dtype: object ['10', '23', '2016']
game_id      2016102304
home_team            KC
game_date    10/23/2016
Name: 1888, dtype: object ['10', '23', '2016']
game_id      2016102305
home_team           MIA
game_date    10/23/2016
Name: 1889, dtype: object ['10', '23', '2016']
game_id      2016102306
home_team           NYJ
game_date    10/23/2016
Name: 1890, dtype: object ['10', '23', '2016']
game_id      2016102307
home_team           PHI
game_date    10/23/2016
Name: 1891, dtype: object ['10', '23', '2016']
game_id      2016102308
home_team           TEN
game_date    10/23/2016
Name: 1892, dtype: object ['10', '23', '2016']
game_id      2016102309
home_team           ATL
game_date    10/23/2016
Name: 1893, dtype: object ['10', '23', '2016']
game_id      2016102310
home_team            SF
game_date    10/23/2016
Name: 1894, dtype: object ['10', '23', '2016']
game_id      2016102311
home_team           PIT
game_date    10/23/2016
Name: 1895, dtype: object ['10', '23', '2016']
game_id      2016102312
home_team           ARI
game_date    10/23/2016
Name: 1896, dtype: object ['10', '23', '2016']
game_id      2016102400
home_team           DEN
game_date    10/24/2016
Name: 1897, dtype: object ['10', '24', '2016']
game_id      2016102700
home_team           TEN
game_date    10/27/2016
Name: 1898, dtype: object ['10', '27', '2016']
game_id      2016103000
home_team           CIN
game_date    10/30/2016
Name: 1899, dtype: object ['10', '30', '2016']
game_id      2016103001
home_team           ATL
game_date    10/30/2016
Name: 1900, dtype: object ['10', '30', '2016']
game_id      2016103002
home_team           BUF
game_date    10/30/2016
Name: 1901, dtype: object ['10', '30', '2016']
game_id      2016103003
home_team           CLE
game_date    10/30/2016
Name: 1902, dtype: object ['10', '30', '2016']
game_id      2016103004
home_team           HOU
game_date    10/30/2016
Name: 1903, dtype: object ['10', '30', '2016']
game_id      2016103005
home_team           IND
game_date    10/30/2016
Name: 1904, dtype: object ['10', '30', '2016']
game_id      2016103006
home_team            NO
game_date    10/30/2016
Name: 1905, dtype: object ['10', '30', '2016']
game_id      2016103007
home_team            TB
game_date    10/30/2016
Name: 1906, dtype: object ['10', '30', '2016']
game_id      2016103008
home_team           DEN
game_date    10/30/2016
Name: 1907, dtype: object ['10', '30', '2016']
game_id      2016103009
home_team           CAR
game_date    10/30/2016
Name: 1908, dtype: object ['10', '30', '2016']
game_id      2016103010
home_team           DAL
game_date    10/30/2016
Name: 1909, dtype: object ['10', '30', '2016']
game_id      2016103100
home_team           CHI
game_date    10/31/2016
Name: 1910, dtype: object ['10', '31', '2016']
game_id      2016110300
home_team            TB
game_date     11/3/2016
Name: 1911, dtype: object ['11', '3', '2016']
game_id      2016110600
home_team           OAK
game_date     11/6/2016
Name: 1912, dtype: object ['11', '6', '2016']
game_id      2016110601
home_team           BAL
game_date     11/6/2016
Name: 1913, dtype: object ['11', '6', '2016']
game_id      2016110602
home_team           CLE
game_date     11/6/2016
Name: 1914, dtype: object ['11', '6', '2016']
game_id      2016110603
home_team            KC
game_date     11/6/2016
Name: 1915, dtype: object ['11', '6', '2016']
game_id      2016110604
home_team           MIA
game_date     11/6/2016
Name: 1916, dtype: object ['11', '6', '2016']
game_id      2016110605
home_team           MIN
game_date     11/6/2016
Name: 1917, dtype: object ['11', '6', '2016']
game_id      2016110606
home_team           NYG
game_date     11/6/2016
Name: 1918, dtype: object ['11', '6', '2016']
game_id      2016110607
home_team            LA
game_date     11/6/2016
Name: 1919, dtype: object ['11', '6', '2016']
game_id      2016110608
home_team            SF
game_date     11/6/2016
Name: 1920, dtype: object ['11', '6', '2016']
game_id      2016110609
home_team            GB
game_date     11/6/2016
Name: 1921, dtype: object ['11', '6', '2016']
game_id      2016110610
home_team            SD
game_date     11/6/2016
Name: 1922, dtype: object ['11', '6', '2016']
game_id      2016110700
home_team           SEA
game_date     11/7/2016
Name: 1923, dtype: object ['11', '7', '2016']
game_id      2016111000
home_team           BAL
game_date    11/10/2016
Name: 1924, dtype: object ['11', '10', '2016']
game_id      2016111301
home_team           CAR
game_date    11/13/2016
Name: 1925, dtype: object ['11', '13', '2016']
game_id      2016111302
home_team           JAX
game_date    11/13/2016
Name: 1926, dtype: object ['11', '13', '2016']
game_id      2016111303
home_team            NO
game_date    11/13/2016
Name: 1927, dtype: object ['11', '13', '2016']
game_id      2016111304
home_team           NYJ
game_date    11/13/2016
Name: 1928, dtype: object ['11', '13', '2016']
game_id      2016111305
home_team           PHI
game_date    11/13/2016
Name: 1929, dtype: object ['11', '13', '2016']
game_id      2016111306
home_team            TB
game_date    11/13/2016
Name: 1930, dtype: object ['11', '13', '2016']
game_id      2016111307
home_team           TEN
game_date    11/13/2016
Name: 1931, dtype: object ['11', '13', '2016']
game_id      2016111308
home_team           WAS
game_date    11/13/2016
Name: 1932, dtype: object ['11', '13', '2016']
game_id      2016111309
home_team            SD
game_date    11/13/2016
Name: 1933, dtype: object ['11', '13', '2016']
game_id      2016111310
home_team           ARI
game_date    11/13/2016
Name: 1934, dtype: object ['11', '13', '2016']
game_id      2016111311
home_team           PIT
game_date    11/13/2016
Name: 1935, dtype: object ['11', '13', '2016']
game_id      2016111312
home_team            NE
game_date    11/13/2016
Name: 1936, dtype: object ['11', '13', '2016']
game_id      2016111400
home_team           NYG
game_date    11/14/2016
Name: 1937, dtype: object ['11', '14', '2016']
game_id      2016111700
home_team           CAR
game_date    11/17/2016
Name: 1938, dtype: object ['11', '17', '2016']
game_id      2016112000
home_team           CIN
game_date    11/20/2016
Name: 1939, dtype: object ['11', '20', '2016']
game_id      2016112001
home_team           CLE
game_date    11/20/2016
Name: 1940, dtype: object ['11', '20', '2016']
game_id      2016112002
home_team           DAL
game_date    11/20/2016
Name: 1941, dtype: object ['11', '20', '2016']
game_id      2016112003
home_team           DET
game_date    11/20/2016
Name: 1942, dtype: object ['11', '20', '2016']
game_id      2016112004
home_team           IND
game_date    11/20/2016
Name: 1943, dtype: object ['11', '20', '2016']
game_id      2016112005
home_team            KC
game_date    11/20/2016
Name: 1944, dtype: object ['11', '20', '2016']
game_id      2016112006
home_team           MIN
game_date    11/20/2016
Name: 1945, dtype: object ['11', '20', '2016']
game_id      2016112007
home_team           NYG
game_date    11/20/2016
Name: 1946, dtype: object ['11', '20', '2016']
game_id      2016112008
home_team            LA
game_date    11/20/2016
Name: 1947, dtype: object ['11', '20', '2016']
game_id      2016112009
home_team            SF
game_date    11/20/2016
Name: 1948, dtype: object ['11', '20', '2016']
game_id      2016112010
home_team           SEA
game_date    11/20/2016
Name: 1949, dtype: object ['11', '20', '2016']
game_id      2016112011
home_team           WAS
game_date    11/20/2016
Name: 1950, dtype: object ['11', '20', '2016']
game_id      2016112100
home_team           OAK
game_date    11/21/2016
Name: 1951, dtype: object ['11', '21', '2016']
game_id      2016112400
home_team           DET
game_date    11/24/2016
Name: 1952, dtype: object ['11', '24', '2016']
game_id      2016112401
home_team           DAL
game_date    11/24/2016
Name: 1953, dtype: object ['11', '24', '2016']
game_id      2016112402
home_team           IND
game_date    11/24/2016
Name: 1954, dtype: object ['11', '24', '2016']
game_id      2016112700
home_team           ATL
game_date    11/27/2016
Name: 1955, dtype: object ['11', '27', '2016']
game_id      2016112701
home_team           BAL
game_date    11/27/2016
Name: 1956, dtype: object ['11', '27', '2016']
game_id      2016112702
home_team           BUF
game_date    11/27/2016
Name: 1957, dtype: object ['11', '27', '2016']
game_id      2016112703
home_team           CHI
game_date    11/27/2016
Name: 1958, dtype: object ['11', '27', '2016']
game_id      2016112705
home_team           HOU
game_date    11/27/2016
Name: 1959, dtype: object ['11', '27', '2016']
game_id      2016112706
home_team           MIA
game_date    11/27/2016
Name: 1960, dtype: object ['11', '27', '2016']
game_id      2016112707
home_team            NO
game_date    11/27/2016
Name: 1961, dtype: object ['11', '27', '2016']
game_id      2016112708
home_team            TB
game_date    11/27/2016
Name: 1962, dtype: object ['11', '27', '2016']
game_id      2016112709
home_team           DEN
game_date    11/27/2016
Name: 1963, dtype: object ['11', '27', '2016']
game_id      2016112710
home_team           OAK
game_date    11/27/2016
Name: 1964, dtype: object ['11', '27', '2016']
game_id      2016112711
home_team           NYJ
game_date    11/27/2016
Name: 1965, dtype: object ['11', '27', '2016']
game_id      2016112800
home_team           PHI
game_date    11/28/2016
Name: 1966, dtype: object ['11', '28', '2016']
game_id      2016120100
home_team           MIN
game_date     12/1/2016
Name: 1967, dtype: object ['12', '1', '2016']
game_id      2016120400
home_team           ATL
game_date     12/4/2016
Name: 1968, dtype: object ['12', '4', '2016']
game_id      2016120401
home_team           BAL
game_date     12/4/2016
Name: 1969, dtype: object ['12', '4', '2016']
game_id      2016120402
home_team           CHI
game_date     12/4/2016
Name: 1970, dtype: object ['12', '4', '2016']
game_id      2016120403
home_team           CIN
game_date     12/4/2016
Name: 1971, dtype: object ['12', '4', '2016']
game_id      2016120404
home_team            GB
game_date     12/4/2016
Name: 1972, dtype: object ['12', '4', '2016']
game_id      2016120405
home_team           JAX
game_date     12/4/2016
Name: 1973, dtype: object ['12', '4', '2016']
game_id      2016120406
home_team            NE
game_date     12/4/2016
Name: 1974, dtype: object ['12', '4', '2016']
game_id      2016120407
home_team            NO
game_date     12/4/2016
Name: 1975, dtype: object ['12', '4', '2016']
game_id      2016120408
home_team           OAK
game_date     12/4/2016
Name: 1976, dtype: object ['12', '4', '2016']
game_id      2016120409
home_team           ARI
game_date     12/4/2016
Name: 1977, dtype: object ['12', '4', '2016']
game_id      2016120410
home_team           PIT
game_date     12/4/2016
Name: 1978, dtype: object ['12', '4', '2016']
game_id      2016120411
home_team            SD
game_date     12/4/2016
Name: 1979, dtype: object ['12', '4', '2016']
game_id      2016120412
home_team           SEA
game_date     12/4/2016
Name: 1980, dtype: object ['12', '4', '2016']
game_id      2016120500
home_team           NYJ
game_date     12/5/2016
Name: 1981, dtype: object ['12', '5', '2016']
game_id      2016120800
home_team            KC
game_date     12/8/2016
Name: 1982, dtype: object ['12', '8', '2016']
game_id      2016121100
home_team           BUF
game_date    12/11/2016
Name: 1983, dtype: object ['12', '11', '2016']
game_id      2016121101
home_team           CAR
game_date    12/11/2016
Name: 1984, dtype: object ['12', '11', '2016']
game_id      2016121102
home_team           CLE
game_date    12/11/2016
Name: 1985, dtype: object ['12', '11', '2016']
game_id      2016121103
home_team           DET
game_date    12/11/2016
Name: 1986, dtype: object ['12', '11', '2016']
game_id      2016121104
home_team           IND
game_date    12/11/2016
Name: 1987, dtype: object ['12', '11', '2016']
game_id      2016121105
home_team           JAX
game_date    12/11/2016
Name: 1988, dtype: object ['12', '11', '2016']
game_id      2016121106
home_team           MIA
game_date    12/11/2016
Name: 1989, dtype: object ['12', '11', '2016']
game_id      2016121107
home_team           PHI
game_date    12/11/2016
Name: 1990, dtype: object ['12', '11', '2016']
game_id      2016121108
home_team            TB
game_date    12/11/2016
Name: 1991, dtype: object ['12', '11', '2016']
game_id      2016121109
home_team           TEN
game_date    12/11/2016
Name: 1992, dtype: object ['12', '11', '2016']
game_id      2016121110
home_team            SF
game_date    12/11/2016
Name: 1993, dtype: object ['12', '11', '2016']
game_id      2016121111
home_team            GB
game_date    12/11/2016
Name: 1994, dtype: object ['12', '11', '2016']
game_id      2016121112
home_team            LA
game_date    12/11/2016
Name: 1995, dtype: object ['12', '11', '2016']
game_id      2016121113
home_team           NYG
game_date    12/11/2016
Name: 1996, dtype: object ['12', '11', '2016']
game_id      2016121200
home_team            NE
game_date    12/12/2016
Name: 1997, dtype: object ['12', '12', '2016']
game_id      2016121500
home_team           SEA
game_date    12/15/2016
Name: 1998, dtype: object ['12', '15', '2016']
game_id      2016121700
home_team           NYJ
game_date    12/17/2016
Name: 1999, dtype: object ['12', '17', '2016']
game_id      2016121800
home_team           BAL
game_date    12/18/2016
Name: 2000, dtype: object ['12', '18', '2016']
game_id      2016121801
home_team           BUF
game_date    12/18/2016
Name: 2001, dtype: object ['12', '18', '2016']
game_id      2016121802
home_team           CHI
game_date    12/18/2016
Name: 2002, dtype: object ['12', '18', '2016']
game_id      2016121803
home_team           DAL
game_date    12/18/2016
Name: 2003, dtype: object ['12', '18', '2016']
game_id      2016121804
home_team           HOU
game_date    12/18/2016
Name: 2004, dtype: object ['12', '18', '2016']
game_id      2016121805
home_team            KC
game_date    12/18/2016
Name: 2005, dtype: object ['12', '18', '2016']
game_id      2016121806
home_team           MIN
game_date    12/18/2016
Name: 2006, dtype: object ['12', '18', '2016']
game_id      2016121807
home_team           NYG
game_date    12/18/2016
Name: 2007, dtype: object ['12', '18', '2016']
game_id      2016121808
home_team           ARI
game_date    12/18/2016
Name: 2008, dtype: object ['12', '18', '2016']
game_id      2016121809
home_team           ATL
game_date    12/18/2016
Name: 2009, dtype: object ['12', '18', '2016']
game_id      2016121810
home_team           DEN
game_date    12/18/2016
Name: 2010, dtype: object ['12', '18', '2016']
game_id      2016121811
home_team            SD
game_date    12/18/2016
Name: 2011, dtype: object ['12', '18', '2016']
game_id      2016121812
home_team           CIN
game_date    12/18/2016
Name: 2012, dtype: object ['12', '18', '2016']
game_id      2016121900
home_team           WAS
game_date    12/19/2016
Name: 2013, dtype: object ['12', '19', '2016']
game_id      2016122200
home_team           PHI
game_date    12/22/2016
Name: 2014, dtype: object ['12', '22', '2016']
game_id      2016122400
home_team           BUF
game_date    12/24/2016
Name: 2015, dtype: object ['12', '24', '2016']
game_id      2016122401
home_team           CAR
game_date    12/24/2016
Name: 2016, dtype: object ['12', '24', '2016']
game_id      2016122402
home_team           CHI
game_date    12/24/2016
Name: 2017, dtype: object ['12', '24', '2016']
game_id      2016122403
home_team           CLE
game_date    12/24/2016
Name: 2018, dtype: object ['12', '24', '2016']
game_id      2016122404
home_team            GB
game_date    12/24/2016
Name: 2019, dtype: object ['12', '24', '2016']
game_id      2016122405
home_team           JAX
game_date    12/24/2016
Name: 2020, dtype: object ['12', '24', '2016']
game_id      2016122406
home_team            NE
game_date    12/24/2016
Name: 2021, dtype: object ['12', '24', '2016']
game_id      2016122407
home_team            NO
game_date    12/24/2016
Name: 2022, dtype: object ['12', '24', '2016']
game_id      2016122408
home_team           OAK
game_date    12/24/2016
Name: 2023, dtype: object ['12', '24', '2016']
game_id      2016122409
home_team            LA
game_date    12/24/2016
Name: 2024, dtype: object ['12', '24', '2016']
game_id      2016122410
home_team           SEA
game_date    12/24/2016
Name: 2025, dtype: object ['12', '24', '2016']
game_id      2016122411
home_team           HOU
game_date    12/24/2016
Name: 2026, dtype: object ['12', '24', '2016']
game_id      2016122500
home_team           PIT
game_date    12/25/2016
Name: 2027, dtype: object ['12', '25', '2016']
game_id      2016122501
home_team            KC
game_date    12/25/2016
Name: 2028, dtype: object ['12', '25', '2016']
game_id      2016122600
home_team           DAL
game_date    12/26/2016
Name: 2029, dtype: object ['12', '26', '2016']
game_id      2017010100
home_team           ATL
game_date      1/1/2017
Name: 2030, dtype: object ['1', '1', '2017']
game_id      2017010101
home_team           CIN
game_date      1/1/2017
Name: 2031, dtype: object ['1', '1', '2017']
game_id      2017010102
home_team           DET
game_date      1/1/2017
Name: 2032, dtype: object ['1', '1', '2017']
game_id      2017010103
home_team           IND
game_date      1/1/2017
Name: 2033, dtype: object ['1', '1', '2017']
game_id      2017010104
home_team           MIA
game_date      1/1/2017
Name: 2034, dtype: object ['1', '1', '2017']
game_id      2017010105
home_team           MIN
game_date      1/1/2017
Name: 2035, dtype: object ['1', '1', '2017']
game_id      2017010106
home_team           NYJ
game_date      1/1/2017
Name: 2036, dtype: object ['1', '1', '2017']
game_id      2017010107
home_team           PHI
game_date      1/1/2017
Name: 2037, dtype: object ['1', '1', '2017']
game_id      2017010108
home_team           PIT
game_date      1/1/2017
Name: 2038, dtype: object ['1', '1', '2017']

IndexError: ('list index out of range', 'occurred at index 2046')

In [4]:
df.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,home_favorite,spread_result,OU_result
idx,,,,,,,,,,,,,,,,,,,,
2009-09-10PIT,09/10/2009,2009,1,False,Pittsburgh Steelers,13,10,Tennessee Titans,PIT,-6.5,35,Heinz Field,False,67.0,9.0,64,NaN,1,-1,-1
2009-09-13ARI,09/13/2009,2009,1,False,Arizona Cardinals,16,20,San Francisco 49ers,ARI,-4.5,45,University of Phoenix Stadium,False,72.0,0.0,NaN,DOME,1,-1,-1
2009-09-13ATL,09/13/2009,2009,1,False,Atlanta Falcons,19,7,Miami Dolphins,ATL,-4.0,44.5,Georgia Dome,False,72.0,0.0,NaN,DOME,1,1,-1
2009-09-13BAL,09/13/2009,2009,1,False,Baltimore Ravens,38,24,Kansas City Chiefs,BAL,-13.0,36.5,M&T Bank Stadium,False,69.0,7.0,74,NaN,1,1,1
2009-09-13CAR,09/13/2009,2009,1,False,Carolina Panthers,10,38,Philadelphia Eagles,PHI,-2.5,43.5,Bank of America Stadium,False,77.0,7.0,59,NaN,0,1,1