In [18]:
# add season and week to play-by-play database using profoob
import pandas as pd
from references_dict import Team_Dictionary
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:@localhost:3306/nfl_db')
conn = engine.connect()

# get all games into dataframe
gameSQL = 'select distinct(game_id),home_team,away_team,game_date from nfl_pbp'
df = pd.read_sql_query(gameSQL, conn, index_col=None)

In [19]:
def convertDate(row):
    date = row['game_date']
    dates = date.split('-')
    return dates[1]+"/"+dates[2]+"/"+dates[0]

In [20]:
df['game_date'] = df.apply(lambda row: convertDate(row),axis=1)

In [21]:
df.head()

      game_id home_team away_team   game_date
0  2009091000       PIT       TEN  09/10/2009
1  2009091304       CLE       MIN  09/13/2009
2  2009091307        NO       DET  09/13/2009
3  2009091308        TB       DAL  09/13/2009
4  2009091305       HOU       NYJ  09/13/2009

NameError: name 'replace' is not defined