In [15]:
# imports
import pandas as pd
import numpy as np
import sys
import argparse
from NFL_Dataloader import GameSummary,NFLAPI_Processor
from scrapers import ApiGameLinks
from NFL_RefMaps import TableColumns
from NFL_Metrics import SkillPoints
from sqlalchemy import create_engine

In [20]:
season = 2019
weeks = np.arange(1,11).tolist()
weeks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# scrape play by play from API for week
api_games = ApiGameLinks(season,week)
gameids = api_games.get_gameids()
gameids

['2019091900',
 '2019092200',
 '2019092207',
 '2019092206',
 '2019092205',
 '2019092204',
 '2019092203',
 '2019092202',
 '2019092201',
 '2019092209',
 '2019092208',
 '2019092212',
 '2019092211',
 '2019092210',
 '2019092213',
 '2019092300']

In [11]:
pbp_df = pd.DataFrame(columns=TableColumns().nflapi['pbp_cols'])
for game in gameids:
    pbp = NFLAPI_Processor(game).process_nflapi()
    pbp_df = pd.concat([pbp_df,pbp],axis=0)

# pbp_df = pd.concat([pbp_df,pbp],verify_integrity=True)
# pbp_df.head()

In [12]:
pbp_df

,play_id,game_id,home_team,away_team,posteam,yardline_100,game_date,quarter_end,drive,sp,...,fumble_recovery_2_player_id,fumble_recovery_2_player_name,return_team,return_yards,replay_or_challenge,replay_or_challenge_result,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,36,2019091900,JAX,TEN,TEN,65,09-19-2019,0,1,0,...,N/A,N/A,JAX,0.0,0,N/A,0,0,0,0
1,51,2019091900,JAX,TEN,JAX,75,09-19-2019,0,1,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0
2,83,2019091900,JAX,TEN,JAX,85,09-19-2019,0,1,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0
3,104,2019091900,JAX,TEN,JAX,81,09-19-2019,0,1,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0
4,133,2019091900,JAX,TEN,JAX,66,09-19-2019,0,1,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,4319,2019092300,WAS,CHI,WAS,51,09-23-2019,0,20,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0
175,4343,2019092300,WAS,CHI,WAS,27,09-23-2019,0,20,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0
176,4369,2019092300,WAS,CHI,WAS,27,09-23-2019,0,20,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0
177,4392,2019092300,WAS,CHI,WAS,32,09-23-2019,0,20,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0
178,4411,2019092300,WAS,CHI,,0,09-23-2019,0,20,0,...,N/A,N/A,N/A,0.0,0,N/A,0,0,0,0

In [13]:
# initialize database sql engines
nfldb_engine = create_engine('mysql+pymysql://root:@localhost:3306/main_stats')
main_engine = nfldb_engine.connect()

NameError: name 'create_engine' is not defined

In [ ]:
pbp_df.to_sql('nfl_pbp', con=main_engine, if_exists='append',index=False)